<?xml version="1.0" encoding="UTF-8" ?><!--
  ~ Software License Agreement (BSD License)
  ~
  ~ Copyright (c) 2008, Regents of the University of California
  ~ All rights reserved.
  ~
  ~ Redistribution and use of this software in source and binary forms, with or
  ~ without modification, are permitted provided that the following conditions
  ~ are met:
  ~
  ~ * Redistributions of source code must retain the above
  ~   copyright notice, this list of conditions and the
  ~   following disclaimer.
  ~
  ~ * Redistributions in binary form must reproduce the above
  ~   copyright notice, this list of conditions and the
  ~   following disclaimer in the documentation and/or other
  ~   materials provided with the distribution.
  ~
  ~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
  ~ AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
  ~ IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
  ~ ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
  ~ LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
  ~ CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
  ~ SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
  ~ INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
  ~ CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
  ~ ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
  ~ POSSIBILITY OF SUCH DAMAGE.
  ~
  ~ Author: Chris Grzegorczyk grze@cs.ucsb.edu
  -->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <param name="Threshold" value="${euca.log.level}"/>
<!--          <layout class="org.apache.log4j.PatternLayout"> -->
        <layout class="com.eucalyptus.util.EucaLayout"/>
    </appender>
    <appender name="logfile" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${euca.log.dir}/cloud-debug.log"/>
        <param name="MaxFileSize" value="10MB"/>
        <param name="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss} %5p [%-.20c{1}:%.10t] %m%n"/>
        </layout>
    </appender>

    <appender name="errorlog" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${euca.log.dir}/cloud-error.log"/>
        <param name="MaxFileSize" value="10MB"/>
        <param name="MaxBackupIndex" value="10"/>
        <param name="Threshold" value="ERROR"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss} [%c{1}:%t] %x %-5p %m%n"/>
        </layout>
    </appender>

    <category name="edu.ucsb.eucalyptus" additivity="true">
        <priority value="DEBUG"/>
        <appender-ref ref="logfile"/>
    </category>
    <category name="org.apache.commons.beanutils.converters" additivity="false">
        <priority value="ERROR"/>
        <appender-ref ref="logfile"/>
    </category>
    <category name="org.apache.xml.security.signature.Reference" additivity="false">
        <priority value="ERROR"/>
        <appender-ref ref="logfile"/>
    </category>
    <category name="org.hibernate.cache.EhCacheProvider" additivity="false">
        <priority value="ERROR"/>
        <appender-ref ref="logfile"/>
    </category>
    <category name="org.mule" additivity="true">
        <priority value="WARN"/>
        <appender-ref ref="logfile"/>
    </category>
    <category name="org.hibernate" additivity="true">
        <priority value="WARN"/>
        <appender-ref ref="logfile"/>
    </category>
    <category name="org.springframework" additivity="true">
        <priority value="WARN"/>
        <appender-ref ref="logfile"/>
    </category>
    <category name="org.mortbay" additivity="true">
        <priority value="WARN"/>
        <appender-ref ref="logfile"/>
    </category>
    <category name="com.mchange" additivity="true">
        <priority value="ERROR"/>
        <appender-ref ref="logfile"/>
    </category>

    <root>
        <appender-ref ref="console"/>
        <appender-ref ref="errorlog"/>
    </root>

</log4j:configuration>
