<?xml version="1.0" encoding="UTF-8" ?>
  <!--
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ~ Copyright (c) 2009 Eucalyptus Systems,
    Inc. ~ ~ This program is free software: you can redistribute it and/or modify ~ it under the terms of the GNU
    General Public License as published by ~ the Free Software Foundation, only version 3 of the License. ~ ~ ~ This
    file is distributed in the hope that it will be useful, but WITHOUT ~ ANY WARRANTY; without even the implied
    warranty of MERCHANTABILITY or ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License ~ for more
    details. ~ ~ You should have received a copy of the GNU General Public License along ~ with this program. If not,
    see http://www.gnu.org/licenses/. ~ ~ Please contact Eucalyptus Systems, Inc., 130 Castilian ~ Dr., Goleta, CA 93101
    USA or visit http://www.eucalyptus.com/licenses/ ~ if you need additional information or have any questions. ~ ~
    This file may incorporate work covered under the following copyright and ~ permission notice: ~ ~ Software License
    Agreement (BSD License) ~ ~ Copyright (c) 2008, Regents of the University of California ~ All rights reserved. ~ ~
    Redistribution and use of this software in source and binary forms, with ~ or without modification, are permitted
    provided that the following ~ conditions are met: ~ ~ Redistributions of source code must retain the above copyright
    notice, ~ this list of conditions and the following disclaimer. ~ ~ Redistributions in binary form must reproduce
    the above copyright ~ notice, this list of conditions and the following disclaimer in the ~ documentation and/or
    other materials provided with the distribution. ~ ~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND
    CONTRIBUTORS "AS ~ IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED ~ TO, THE IMPLIED
    WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A ~ PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
    OWNER ~ OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, ~ EXEMPLARY, OR CONSEQUENTIAL
    DAMAGES (INCLUDING, BUT NOT LIMITED TO, ~ PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR ~
    PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF ~ LIABILITY, WHETHER IN CONTRACT, STRICT
    LIABILITY, OR TORT (INCLUDING ~ NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS ~ SOFTWARE, EVEN
    IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. USERS OF ~ THIS SOFTWARE ACKNOWLEDGE THE POSSIBLE PRESENCE OF OTHER
    OPEN SOURCE ~ LICENSED MATERIAL, COPYRIGHTED MATERIAL OR PATENTED MATERIAL IN THIS ~ SOFTWARE, AND IF ANY SUCH
    MATERIAL IS DISCOVERED THE PARTY DISCOVERING ~ IT MAY INFORM DR. RICH WOLSKI AT THE UNIVERSITY OF CALIFORNIA, SANTA
    ~ BARBARA WHO WILL THEN ASCERTAIN THE MOST APPROPRIATE REMEDY, WHICH IN ~ THE REGENTS’ DISCRETION MAY INCLUDE,
    WITHOUT LIMITATION, REPLACEMENT ~ OF THE CODE SO IDENTIFIED, LICENSING OF THE CODE SO IDENTIFIED, OR ~ WITHDRAWAL OF
    THE CODE CAPABILITY TO THE EXTENT NEEDED TO COMPLY WITH ~ ANY SUCH LICENSES OR RIGHTS.
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ~ Author: chris grzegorczyk
    grze@eucalyptus.com
  -->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <appender name="console" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out" />
    <param name="Threshold" value="${euca.log.level}" />
    <layout class="com.eucalyptus.system.EucaLayout" />
  </appender>
  <appender name="console-log" class="org.apache.log4j.RollingFileAppender">
    <param name="Threshold" value="${euca.log.level}" />
    <param name="File" value="${euca.log.dir}/cloud-output.log" />
    <param name="MaxFileSize" value="10MB" />
    <param name="MaxBackupIndex" value="10" />
    <layout class="com.eucalyptus.system.EucaLayout" />
  </appender>
  <appender name="exhaustive" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="${euca.log.dir}/cloud-exhaust.log" />
    <param name="MaxFileSize" value="10MB" />
    <param name="MaxBackupIndex" value="10" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{HH:mm:ss} %5p [%c{1}:%t] %m%n" />
    </layout>
  </appender>
  <appender name="logfile" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="${euca.log.dir}/cloud-debug.log" />
    <param name="MaxFileSize" value="10MB" />
    <param name="MaxBackupIndex" value="10" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{HH:mm:ss} %5p [%c{1}:%t] %m%n" />
    </layout>
  </appender>
  <appender name="errorlog" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="${euca.log.dir}/cloud-error.log" />
    <param name="MaxFileSize" value="10MB" />
    <param name="MaxBackupIndex" value="10" />
    <param name="Threshold" value="ERROR" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{HH:mm:ss} %5p [%c{1}:%t] %m%n" />
    </layout>
  </appender>
  <appender name="cloud-cluster" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="${euca.log.dir}/cloud-cluster.log" />
    <param name="MaxFileSize" value="10MB" />
    <param name="MaxBackupIndex" value="10" />
    <param name="Threshold" value="${euca.log.level}" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{HH:mm:ss} %5p [%c{1}:%t] %m%n" />
    </layout>
  </appender>
  <appender name="walrus-stats-log" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="${euca.log.dir}/walrus-stats.log" />
    <param name="MaxFileSize" value="10MB" />
    <param name="MaxBackupIndex" value="10" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="Timestamp: %d{ISO8601} %m%n" />
    </layout>
  </appender>
  <appender name="sc-stats-log" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="${euca.log.dir}/sc-stats.log" />
    <param name="MaxFileSize" value="10MB" />
    <param name="MaxBackupIndex" value="10" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="Timestamp: %d{ISO8601} %m%n" />
    </layout>
  </appender>
  <category name="com.eucalyptus" additivity="true">
    <priority value="${euca.log.level}" />
    <appender-ref ref="logfile" />
  </category>
  <category name="edu.ucsb.eucalyptus" additivity="true">
    <priority value="${euca.log.level}" />
    <appender-ref ref="logfile" />
  </category>
  <!--
    ~ NOTE: The following suppress very verbose but potentially useful output. ~ Consider removing or changing these if
    you are having unexplained failures.
  -->
  <category name="com.eucalyptus.cluster.handlers" additivity="false">
    <priority value="${euca.log.exhaustive.cc}" />
    <appender-ref ref="exhaustive" />
  </category>
  <category name="com.eucalyptus.cluster.handlers" additivity="false">
    <priority value="${euca.log.level}" />
    <appender-ref ref="cloud-cluster" />
  </category>
  <category name="edu.ucsb.eucalyptus.cloud.cluster" additivity="false">
    <priority value="${euca.log.exhaustive.cc}" />
    <appender-ref ref="exhaustive" />
  </category>
  <category name="edu.ucsb.eucalyptus.cloud.cluster" additivity="false">
    <priority value="${euca.log.level}" />
    <appender-ref ref="cloud-cluster" />
  </category>
  <category name="com.eucalyptus.cluster.util" additivity="false">
    <priority value="${euca.log.level}" />
    <appender-ref ref="cloud-cluster" />
  </category>
  <category name="com.eucalyptus.ws.handlers.MessageStackHandler" additivity="false">
    <priority value="${euca.log.exhaustive.user}" />
    <appender-ref ref="exhaustive" />
  </category>
  <category name="com.eucalyptus.ws.server.FilteredPipeline" additivity="false">
    <priority value="${euca.log.exhaustive.user}" />
    <appender-ref ref="exhaustive" />
  </category>
  <category name="com.eucalyptus.ws.util.HmacUtils" additivity="false">
    <priority value="${euca.log.exhaustive.user}" />
    <appender-ref ref="exhaustive" />
  </category>
  <category name="com.eucalyptus.ws.handlers.HmacV2Handler" additivity="false">
    <priority value="${euca.log.exhaustive.user}" />
    <appender-ref ref="exhaustive" />
  </category>
  <category name="com.eucalyptus.entities.EntityWrapper" additivity="false">
    <priority value="${euca.log.exhaustive.db}" />
    <appender-ref ref="exhaustive" />
  </category>
  <category name="org.apache.commons.beanutils.converters" additivity="false">
    <priority value="${euca.log.exhaustive.external}" />
    <appender-ref ref="exhaustive" />
  </category>
  <category name="org.apache.xml.security.signature.Reference" additivity="false">
    <priority value="${euca.log.exhaustive.external}" />
    <appender-ref ref="exhaustive" />
  </category>
  <category name="org.hibernate.cache.EhCacheProvider" additivity="false">
    <priority value="${euca.log.exhaustive.external}" />
    <appender-ref ref="exhaustive" />
  </category>
  <category name="net.sf.ehcache" additivity="false">
    <priority value="${euca.log.exhaustive.external}" />
    <appender-ref ref="exhaustive" />
  </category>
  <category name="org.logicalcobwebs.proxool" additivity="false">
    <priority value="${euca.log.exhaustive.external}" />
    <appender-ref ref="exhaustive" />
  </category>
  <category name="org.apache" additivity="false">
    <priority value="${euca.log.exhaustive.external}" />
    <appender-ref ref="exhaustive" />
  </category>
  <category name="org.mule" additivity="false">
    <priority value="${euca.log.exhaustive.external}" />
    <appender-ref ref="exhaustive" />
  </category>
  <category name="org.hibernate" additivity="false">
    <priority value="${euca.log.exhaustive.external}" />
    <appender-ref ref="exhaustive" />
  </category>
  <category name="org.springframework" additivity="false">
    <priority value="${euca.log.exhaustive.external}" />
    <appender-ref ref="exhaustive" />
  </category>
  <category name="org.mortbay" additivity="false">
    <priority value="${euca.log.exhaustive.external}" />
    <appender-ref ref="exhaustive" />
  </category>
  <category name="edu.ucsb.eucalyptus.cloud.ws.WalrusStatistics" additivity="true">
    <priority value="INFO" />
    <appender-ref ref="walrus-stats-log" />
  </category>
  <category name="edu.ucsb.eucalyptus.cloud.ws.BlockStorageStatistics" additivity="true">
    <priority value="INFO" />
    <appender-ref ref="sc-stats-log" />
  </category>

  <root>
    <appender-ref ref="${euca.log.appender}" />
    <appender-ref ref="errorlog" />
  </root>

</log4j:configuration>
