<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright 2008 Regents of the University of California
  Copyright 2009-2015 Ent. Services Development Corporation LP

  Redistribution and use of this software in source and binary forms,
  with or without modification, are permitted provided that the
  following conditions are met:

    Redistributions of source code must retain the above copyright
    notice, this list of conditions and the following disclaimer.

    Redistributions in binary form must reproduce the above copyright
    notice, this list of conditions and the following disclaimer
    in the documentation and/or other materials provided with the
    distribution.

  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
  "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
  LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS
  FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE
  COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
  INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
  BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
  LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
  CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN
  ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
  POSSIBILITY OF SUCH DAMAGE. USERS OF THIS SOFTWARE ACKNOWLEDGE
  THE POSSIBLE PRESENCE OF OTHER OPEN SOURCE LICENSED MATERIAL,
  COPYRIGHTED MATERIAL OR PATENTED MATERIAL IN THIS SOFTWARE,
  AND IF ANY SUCH MATERIAL IS DISCOVERED THE PARTY DISCOVERING
  IT MAY INFORM DR. RICH WOLSKI AT THE UNIVERSITY OF CALIFORNIA,
  SANTA BARBARA WHO WILL THEN ASCERTAIN THE MOST APPROPRIATE REMEDY,
  WHICH IN THE REGENTS' DISCRETION MAY INCLUDE, WITHOUT LIMITATION,
  REPLACEMENT OF THE CODE SO IDENTIFIED, LICENSING OF THE CODE SO
  IDENTIFIED, OR WITHDRAWAL OF THE CODE CAPABILITY TO THE EXTENT
  NEEDED TO COMPLY WITH ANY SUCH LICENSES OR RIGHTS.
-->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <throwableRenderer class="com.eucalyptus.system.log.EucaThrowableRenderer"/>

  <appender name="console" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out" />
    <layout class="com.eucalyptus.system.EucaLayout" />
    <filter class="com.eucalyptus.system.log.EucaThresholdFilter"/>
  </appender>
  <appender name="console-warn" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out" />
    <param name="Threshold" value="WARN" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{EEE MMM d HH:mm:ss yyyy} %5p [%C.%M(%F):%L] %m%n" />
    </layout>
  </appender>
  <appender name="console-log" class="com.eucalyptus.util.PermissionedRollingFileAppender">
    <param name="File" value="${euca.log.dir}/cloud-output.log" />
    <param name="MaxFileSize" value="10MB" />
    <param name="MaxBackupIndex" value="10" />
    <param name="Permissions" value="rw-r-----" />
    <layout class="com.eucalyptus.system.EucaLayout" />
    <filter class="com.eucalyptus.system.log.EucaThresholdFilter"/>
  </appender>
  <appender name="tracking-log-file" class="com.eucalyptus.util.PermissionedRollingFileAppender">
    <param name="File" value="${euca.log.dir}/cloud-tracking.log" />
    <param name="MaxFileSize" value="10MB" />
    <param name="MaxBackupIndex" value="10" />
    <param name="Permissions" value="rw-r-----" />
    <layout class="com.eucalyptus.system.RequestTrackingLayout" />
    <filter class="com.eucalyptus.system.log.EucaThresholdFilter"/>
  </appender>
  <appender name="cloud-debug-file" class="com.eucalyptus.util.PermissionedRollingFileAppender">
    <param name="File" value="${euca.log.dir}/cloud-debug.log" />
    <param name="MaxFileSize" value="10MB" />
    <param name="MaxBackupIndex" value="10" />
    <param name="Permissions" value="rw-r-----" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{EEE MMM d HH:mm:ss yyyy} %5p [%c{1}:%t] %m%n" />
    </layout>
  </appender>
  <appender name="cloud-error-file" class="com.eucalyptus.util.PermissionedRollingFileAppender">
    <param name="File" value="${euca.log.dir}/cloud-error.log" />
    <param name="MaxFileSize" value="10MB" />
    <param name="MaxBackupIndex" value="10" />
    <param name="Threshold" value="ERROR" />
    <param name="Permissions" value="rw-r-----" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{EEE MMM d HH:mm:ss yyyy} %5p [%c{1}:%t] [%C.%M(%F):%L] %m%n" />
    </layout>
  </appender>
  <appender name="cloud-exhaust-file" class="com.eucalyptus.util.PermissionedRollingFileAppender">
    <param name="File" value="${euca.log.dir}/cloud-exhaust.log" />
    <param name="MaxFileSize" value="10MB" />
    <param name="MaxBackupIndex" value="2" />
    <param name="Permissions" value="rw-r-----" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{EEE MMM d HH:mm:ss yyyy} %5p [%c:%t] %m%n" />
    </layout>
    <filter class="com.eucalyptus.system.log.EucaExhaustThresholdFilter"/>
  </appender>
  <appender name="cloud-extreme-file" class="com.eucalyptus.util.PermissionedRollingFileAppender">
    <param name="File" value="${euca.log.dir}/cloud-extreme.log" />
    <param name="MaxFileSize" value="10MB" />
    <param name="MaxBackupIndex" value="10" />
    <param name="Permissions" value="rw-r-----" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{EEE MMM d HH:mm:ss yyyy} %5p [%c:%t] %m%n" />
    </layout>
    <filter class="com.eucalyptus.system.log.EucaExhaustThresholdFilter"/>
  </appender>
  <appender name="cloud-request-file" class="com.eucalyptus.util.PermissionedRollingFileAppender">
    <param name="File" value="${euca.log.dir}/cloud-requests.log" />
    <param name="MaxFileSize" value="10MB" />
    <param name="MaxBackupIndex" value="10" />
    <param name="Permissions" value="rw-r-----" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{EEE MMM d HH:mm:ss yyyy} %m%n" />
    </layout>
  </appender>
  <appender name="logfile" class="org.apache.log4j.AsyncAppender">
    <param name="BufferSize" value="1000"/>
    <appender-ref ref="cloud-debug-file"/>
  </appender>
  <appender name="cloud-exhaust" class="org.apache.log4j.AsyncAppender">
    <param name="BufferSize" value="5000"/>
    <appender-ref ref="cloud-exhaust-file"/>
  </appender>
  <appender name="cloud-extreme" class="org.apache.log4j.AsyncAppender">
    <param name="BufferSize" value="1000"/>
    <appender-ref ref="cloud-extreme-file"/>
  </appender>
  <appender name="cloud-request" class="org.apache.log4j.AsyncAppender">
    <param name="BufferSize" value="1000"/>
    <appender-ref ref="cloud-request-file"/>
  </appender>
  <appender name="upgrade" class="org.apache.log4j.FileAppender">
    <param name="File" value="${euca.log.dir}/upgrade.log" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{EEE MMM d HH:mm:ss yyyy} %5p [%C.%M(%F):%L] %m%n" />
    </layout>
  </appender>

  <category name="com.eucalyptus" additivity="true">
    <appender-ref ref="logfile" />
    <appender-ref ref="tracking-log-file" />
  </category>
  <category name="edu.ucsb.eucalyptus" additivity="true">
    <appender-ref ref="logfile" />
    <appender-ref ref="tracking-log-file" />
  </category>
  <!--
    ~ NOTE: The following suppress very verbose but potentially useful output. ~ Consider removing or changing these if
    you are having unexplained failures.
  -->
  <category name="EXHAUST" additivity="false">
    <appender-ref ref="cloud-exhaust" />
  </category>
  <category name="EXTREME" additivity="false">
    <priority value="TRACE" />
    <appender-ref ref="cloud-extreme" />
  </category>
  <category name="com.eucalyptus.upgrade.StandalonePersistence" additivity="false">
    <appender-ref ref="upgrade" />
    <appender-ref ref="console-warn" />
  </category>
  <category name="com.eucalyptus.util.fsm.StateMachineBuilder" additivity="false">
    <appender-ref ref="cloud-exhaust" />
  </category>
  <category name="com.eucalyptus.cluster">
    <appender-ref ref="tracking-log-file" />
  </category>
  <category name="com.eucalyptus.cluster.callback">
    <appender-ref ref="tracking-log-file" />
  </category>
  <category name="edu.ucsb.eucalyptus.cloud.cluster">
    <appender-ref ref="tracking-log-file" />
  </category>
  <category name="com.eucalyptus.context.Context" additivity="false">
    <appender-ref ref="cloud-exhaust" />
  </category>
  <category name="com.eucalyptus.ws.server.ServiceAccessLoggingHandler" additivity="false">
    <priority value="INFO" />
    <appender-ref ref="cloud-request" />
  </category>
  <category name="com.eucalyptus.ws.handlers.MessageStackHandler" additivity="false">
    <appender-ref ref="cloud-exhaust" />
  </category>
  <category name="com.eucalyptus.ws.server.FilteredPipeline" additivity="false">
    <appender-ref ref="cloud-exhaust" />
  </category>
  <category name="com.eucalyptus.ws.server.PipelineRegistry" additivity="false">
    <appender-ref ref="cloud-exhaust" />
  </category>
  <category name="com.eucalyptus.vm.MetadataRequest" additivity="false">
    <appender-ref ref="cloud-exhaust" />
  </category>
  <category name="com.eucalyptus.ws.util.HmacUtils" additivity="false">
    <appender-ref ref="cloud-exhaust" />
  </category>
  <category name="com.eucalyptus.auth.login.HMAC" additivity="false">
    <priority value="OFF" />
    <appender-ref ref="cloud-exhaust" />
  </category>
  <category name="org.jgroups.protocols.TP">
    <priority value="FATAL" />
  </category>
  <category name="org.logicalcobwebs.proxool" additivity="false">
    <priority value="DEBUG" />
    <appender-ref ref="cloud-exhaust" />
  </category>
  <category name="org.apache" additivity="false">
    <priority value="DEBUG" />
    <appender-ref ref="cloud-exhaust" />
  </category>
  <category name="com.eucalyptus.crypto.util.WSSecurity" additivity="false">
    <appender-ref ref="cloud-exhaust" />
  </category>
  <category name="org.jboss" additivity="false">
    <priority value="DEBUG" />
    <appender-ref ref="cloud-exhaust" />
  </category>
  <category name="org.hibernate" additivity="false">
    <priority value="DEBUG" />
    <appender-ref ref="cloud-exhaust" />
  </category>
  <category name="org.springframework" additivity="false">
    <priority value="DEBUG" />
    <appender-ref ref="cloud-exhaust" />
  </category>
  <category name="org.springframework.integration.channel.DirectChannel">
    <priority value="INFO" />
  </category>
  <category name="org.springframework.integration.handler.MessageHandlerChain">
    <priority value="INFO" />
  </category>
  <category name="org.springframework.integration.handler.ServiceActivatingHandler">
    <priority value="INFO" />
  </category>
  <category name="org.springframework.integration.router.PayloadTypeRouter">
    <priority value="INFO" />
  </category>
  <category name="org.springframework.integration.transformer.MessageTransformingHandler">
    <priority value="INFO" />
  </category>
  <category name="org.jgroups" additivity="false">
    <priority value="DEBUG" />
    <appender-ref ref="cloud-exhaust" />
  </category>
  <category name="org.jgroups.protocol.UDP">
    <priority value="FATAL" />
  </category>
  <category name="com.eucalyptus.scripts.setup_db">
    <priority value="INFO" />
    <appender-ref ref="cloud-exhaust" />
  </category>
  <category name="org.apache.commons.httpclient">
    <priority value="ERROR" />
  </category>
  <category name="httpclient.wire">
    <priority value="ERROR" />
  </category>
  <!--Silence an annoying logger in the AWS Java SDK S3 bits -->
  <category name="com.amazonaws.services.s3.internal.RepeatableInputStream">
      <priority value="ERROR"/>
  </category>
  <category name="com.amazonaws.services.s3.AmazonS3Client">
      <priority value="ERROR"/>
  </category>
  <category name="com.amazonaws.auth.AWS4Signer">
      <priority value="ERROR"/>
  </category>
  <!-- Disable logging of errors from swf activities -->
  <category name="com.amazonaws.services.simpleworkflow.flow.worker.SynchronousActivityTaskPoller">
    <priority value="FATAL"/>
  </category>
  <category name="com.amazonaws.services.simpleworkflow.flow.worker.AsyncDecider">
    <priority value="FATAL"/>
  </category>
  <!-- Disable logging of stack traces at INFO level on connection failures -->
  <category name="com.amazonaws.http.AmazonHttpClient">
    <priority value="ERROR"/>
  </category>

  <root>
    <priority class="com.eucalyptus.system.log.EucaLevel" value="${euca.log.level}"/>
    <appender-ref ref="${euca.log.appender}" />
    <appender-ref ref="cloud-error-file" />
  </root>

</log4j:configuration>

