*~
*.ajsv
*.class
*.o
*.pyc
*.pyo
*/generated
.DS_Store
.settings/grze_localhost.launch
.settings/grze_office.launch
.sw*
.*.sw*
autom4te.cache
clc/bin
clc/bind.log
clc/.deprecated/*/build
clc/deps
clc/eucadmin/bin/euca_conf
clc/eucadmin/build/
clc/eucadmin/setup.cfg
clc/eucadmin/setup.cfg.template
clc/lib
clc/modules/authentication/conf/
clc/modules/bootstrap/eucalyptus-cloud
clc/modules/bootstrap/src/main/native/arguments.ggo
clc/modules/bootstrap/src/main/native/eucalyptus-cloud
clc/modules/*/build
clc/modules/msgs/src/main/resources/msgs-binding.xml
clc/modules/storage-controller/include/**
clc/modules/storage-controller/lib
clc/modules/storage-san/include/**
clc/modules/storage-san/lib/
clc/modules/www/build-war
clc/modules/www/conf/eucalyptus-web.properties
clc/modules/www/src/main/java/edu/ucsb/eucalyptus/admin/public/themes/active
clc/modules/www/test-gwt/*
clc/modules/www/test-gwt/war/*
clc/modules/www/test-gwt/war/WEB-INF/*
clc/modules/www/webapps
clc/target
config.log
config.status
core
core.*
gatherlog/GLclient
Makedefs
storage/euca_imager
storage/Wclient
tools/euca_conf
tools/eucalyptus-cc
tools/eucalyptus-cloud
tools/eucalyptus-nc
util/eucalyptus-config.h
util/euca_mountwrap
util/euca_rootwrap
