*.orig
*~
*.ajsv
*.class
*.o
*.pyc
*.pyo
*/generated
.DS_Store
.nbrun
.settings/grze_localhost.launch
.settings/grze_office.launch
.sw*
.*.sw*
console/jstests/node_modules/*
console/eucaconsole/version.py
autom4te.cache
clc/.nogit
clc/bin
clc/build
clc/.classpath.bak
clc/bind.log
clc/derby.log
clc/test
clc/.deprecated/*/build
clc/deps
clc/eucadmin/bin/euca_conf
clc/eucadmin/eucadmin/__init__.py
clc/eucadmin/build/
clc/eucadmin/setup.cfg
clc/eucadmin/setup.cfg.template
clc/lib
clc/modules/authentication/conf/
clc/modules/bootstrap/eucalyptus-cloud
clc/modules/bootstrap/src/main/native/arguments.ggo
clc/modules/bootstrap/src/main/native/eucalyptus-cloud
clc/modules/bootstrap/src/main/resources/version.properties
clc/modules/*/build
clc/modules/msgs/src/main/resources/msgs-binding.xml
clc/modules/postgresql/src/main/resources/postgresql-binaries.properties
clc/modules/storage-san-common
clc/modules/storage-san-emc-libs
clc/modules/storage-san-emc
clc/modules/storage-san-equallogic
clc/modules/storage-san-equallogic-libs
clc/modules/storage-san-netapp
clc/modules/storage-san-netapp-libs
clc/modules/vmware-broker
clc/modules/storage-san
clc/modules/www/build-war
clc/modules/www/conf/eucalyptus-web.properties
clc/modules/www/src/main/java/com/eucalyptus/webui/public/themes/active
clc/modules/www/test-gwt/*
clc/modules/www/test-gwt/war/*
clc/modules/www/test-gwt/war/WEB-INF/*
clc/modules/www/webapps
clc/modules/www/gwt-unitCache/
clc/target
config.log
config.status
core.*
gatherlog/GLclient
gatherlog/libEucalyptusGL.so
Makedefs
storage/euca_imager
storage/OSGclient
storage/SCclient
storage/test_diskutil
tools/euca_conf
tools/eucalyptus-cc
tools/eucalyptus-cloud
tools/eucalyptus-nc
tools/eucalyptus-eucanetd
tools/eucalyptus-logrotate.conf
util/eucalyptus-config.h
util/euca-generate-fault
util/euca_mountwrap
util/euca_rootwrap
util/test_misc
util/test_fault
util/test_wc
util/test_auth
util/euca-generate-fault
clc/.settings/org.eclipse.jdt.core.prefs
clc/eucadmin/eucadmin/__init__.py
storage/euca-blobs
storage/test_blobstore
storage/test_vbr
storage/test_ebs
storage/sc-client-policy.xml
/TAGS
cluster/CCclient_full
cluster/cc-client-policy.xml
cluster/euca_killall
cluster/libEucalyptusCC.so
cluster/libEucalyptusCCFake.so
cluster/shutdownCC
net/eucanetd
gatherlog/libEucalyptusGL.so
node/NCclient
node/NCclient_local
node/libEucalyptusNC.so
node/nc-client-policy.xml
node/test
node/test_hooks
node/test_nc
node/test_misc
node/test_xml
node/test_xml2
util/euca-generate-fault
/.settings
.idea/
.groovy/
*.[ei]ml
atlassian-ide-plugin.xml
\#*#
/project/
**/*.[ei]ml
clc/*.ipr
clc/*.iws
clc/*.gradle
storage/imager/euca-imager
storage/imager/euca-vmdk
storage/imager/test-vmdk-shim
tools/eucanetd
tools/imaging/build/
tools/imaging/setup.cfg
tools/imaging/setup.cfg.template

