KERNEL=="sd*", SUBSYSTEMS=="scsi", PROGRAM="/usr/libexec/eucalyptus/check-iscsi-target-name %b",SYMLINK+="euca-iscsi/%c/partition%n",OWNER="eucalyptus"
