<div id="launch-wizard-image-main-contents">
  <div id="launch-wizard-image-table">
    <div id="launch-images_wrapper" class="dataTables_wrapper">
      <div id="filter-wrapper">
        <div class="wizard-section-label">Refine your results</div>
        <div class="euca-table-filter" id="owner-filter">
          <select id="owner-selector" title="[launch_instance_owner_select_tip]">
            <option value="all">All images</option>
            <option value="self">Images owned by me</option>
          </select>
        </div>
        <div class="euca-table-filter" id="platform-filter">
          <select id="platform-selector" title="Filter the image list by platform">
            <option value="all">All platforms</option>
            <option value="linux">Linux</option>
            <option value="windows">Windows</option>
          </select>
        </div>
        <div class="clear"></div>
        <div class="euca-table-filter" id="arch-filter">
          <select id="arch-selector" title="Filter the image list by architecture">
            <option value="all">32 and 64 bit</option>
            <option value="i386">32 bit</option>
            <option value="x86_64">64 bit</option>
          </select>
        </div>
        <div class="clear"></div>
        <div class="euca-table-filter" id="root-filter">
          <select id="root-selector" title="Filter the image list by root device type">
            <option value="all">All root devices</option>
            <option value="instance-store">Instance-store root device</option>
            <option value="ebs">EBS root device</option>
          </select>
        </div>
        <div class="clear"></div>
        <div id="launch-images_filter" class="dataTables_filter">
          <label>
            <input title="Start typing an image ID to filter by image ID" placeholder="Search images" type="text">
          </label>
        </div>
      </div>
      <div id="table-wrapper">
        <div class="wizard-section-label required-label">Select image</div>
        <div id="wizard-img-table-size">
          <span id="img-table-count"></span>
          &nbsp;Showing:<a class="show selected" href="#">5</a>&nbsp;|&nbsp;<a class="show" href="#">10</a>&nbsp;|&nbsp;<a class="show" href="#">20</a>&nbsp;|&nbsp;<a class="show" href="#">all</a>
        </div>
        <table id="launch-images" class="display">
          <thead>
            <tr>
              <th colspan="1" rowspan="1" class="sorting_asc"></th>
            </tr>
          </thead>
          <tbody >
          <!--
            <tr class="odd selected-row">
              <td>
                <div class="linux image-type">
                  <div class="image-name">Linux</div>
                  <div class="image-id-arch">
                    <span>emi-EDBA3EEA</span><span>64 bit</span>
                  </div>
                  to test pagination
                </div>
              </td>
            </tr>
          -->
            <tr data-each-image="images.image">
              <td>
                <div data-text="image.description" data-class="image.platform" class="image.type">
                  <div class="image-name" data-text="image.name"></div>
                  <div class="image-id-arch">
                    <span data-text="image.id"></span>
                    <span data-text="image.archtecture"></span>
                  </div>
                </div>
              </td>
            </tr>  
          </tbody>
        </table>
        <div style="visibility: hidden;" class="dataTables_processing" id="launch-images_processing">
          <img src="images/dots32.gif"> &nbsp; <span>Loading...</span>
        </div>
        <div class="clear"></div>
        <div id="launch-images_paginate" class="dataTables_paginate paging_full_numbers">
          <span id="launch-images_first" class="first paginate_button paginate_button_disabled">First</span>
          <span id="launch-images_previous" class="previous paginate_button paginate_button_disabled">Previous</span>
          <span>
            <span class="paginate_active">1</span>
            <span class="paginate_button">2</span>
            <span class="paginate_button">3</span>
            <span class="paginate_button">4</span>
          </span>
          <span id="launch-images_next" class="next paginate_button">Next</span>
          <span id="launch-images_last" class="last paginate_button">Last</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="launch-wizard-buttons-image" class="launch-wizard-buttons"> <button class="button" id="launch-wizard-buttons-image-next">Next: Select type</button>
</div>
