<div class="wizard-step">
<div class="wizardTitle"><h3 class="required-label" >Image</h3></div>
<div id="launch-wizard-image-main-contents">
  <div id="launch-wizard-image-table">
  
    <div id="launch-images_wrapper" class="dataTables_wrapper">
      <div style="float:left;" class="wizard-section-label required-label">Select image</div>
       <div id="table-wrapper" >
         <div class="wizard-step-scrollcontainer">
         <table id="launch-images" class="display">
          <thead>
            <tr>
              <th colspan="1" rowspan="1" class="sorting_asc"></th>
            </tr>
          </thead>
          <tbody >
          <!--
            <tr class="odd selected-row">
              <td>
                <div class="linux image-type">
                  <div class="image-name">Linux</div>
                  <div class="image-id-arch">
                    <span>emi-EDBA3EEA</span><span>64 bit</span>
                  </div>
                  to test pagination
                </div>
              </td>
            </tr>
          -->
            <tr data-each-image="images" data-class-odd=":isOdd">
              <td>
                <div class="image-type" data-addclass=":setClass" data-on-click=":doit">
                  <div class="image-name" data-text="image.name"></div>
                  <div class="image-id-arch">
                    <span data-text="image.id"></span>
                    <span data-text="image.architecture"></span>
                    <span data-text="image.description"></span>
                  </div>
                </div>
              </td>
            </tr>  
          </tbody>
        </table>
        </div>
        <div style="visibility: hidden;" class="dataTables_processing" id="launch-images_processing">
          <img src="images/dots32.gif"> &nbsp; <span>Loading...</span>
        </div>
       <!--  <div class="clear"></div> -->
      </div>
    </div>
  </div>
</div>
</div>
