<div class="summary-title">Summary</div>
<div id="summary-image"> 
  <div id="summary-icon" class="image-type summary">
    <div>Image:</div>
    <span data-text="summary.image_id">emi-EDBA3EEA</span>
    <div>Platform:</div>
    <span data-text="summary.image_platform">Linux</span>
  </div>
</div>
<div id="summary-type" data-show="summary.type_show">
<div id="summary-type-icon" class="type-type summary">
  <div>Size:</div>
  <span data-text="summary.type_size"></span>
  <div>Instances:</div>
  <span data-text="summary.type_number"></span>
  <div>Zone:</div>
  <span data-text="summary.type_zone"></span>
  <div>
    <input id="summary-hasnames" type="checkbox" data-checked="summary.type_hasNames">
    <label for="summary-hasnames">Name(s) added.</label>
  </div>
  <div>
    <input id="summary-hasTags" type="checkbox" data-checked="summary.type_hasTags">
    <label for="summary-hasTags">Tag(s) added.</label>
  </div>
</div>  
</div>
<div id="summary-security"> </div>
<div id="summary-advanced"> </div>

