<div>
    <div class="title" data-msg="volume_dialog_attach_title"></div>
    <div class="body">
      <div id="volumes-attach-dialog-wrapper">
        <div id="volumes-attach-dialog" class="euca-dialog">
          <div class="dialog-inner-content">
            <div class="form-row top-form-row">
              <label for="volume-attach-volume-id" class="required-label" data-msg="volume_dialog_attach_volume_label"></label>
              <input type="text" id="volume-attach-volume-id" class="required focus-here" data-tooltip="volume_attach_volume_id_text_tip" data-value="volume.volume_id"/>
              <span data-text="error.volume_id"></span>
            </div>
            <div class="form-row">
              <label for="volume-attach-instance-id" class="required-label" data-msg="volume_dialog_attach_instance_label"></label>
              <input type="text" id="volume-attach-instance-id" class="required" data-tooltip="volume_attach_instance_id_text_tip" data-value="volume.instance_id"/>
              <span data-text="error.instance_id"></span>
            </div>
            <div class="form-row">
              <label for="volume-attach-device-name" class="required-label" data-msg="volume_dialog_attach_device_label"></label>
              <input type="text" id="volume-attach-device-name" class="required" data-tooltip="volume_attach_device_name_text_tip" data-value="volume.device"/>
              <span data-text="error.device"></span>
            </div>
            <p class="required-hint" data-msg="required_fields"></p>
          </div>

        <div data-text="status" style="height:20px"></div>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
          <div class="ui-dialog-buttonset">
            <span data-ui-button=":attachButton" data-msg="volume_dialog_attach_btn"></span>
            <span data-ui-button=":cancelButton" data-msg="dialog_cancel_btn"></span> 
          </div>
        </div>

        </div>		
      </div>
    </div>
</div>
