<div>
    <div class="title" data-msg="create_alarm_dialog_header">Create alarm</div>
    <div class="body">
        <div class="euca-dialog create-alarm">
        <div class="dialog-inner-content">

		<p>Alarm message text</p>

		<div class="selected-resources">
          <div class="form-row">
            <label for="alarm-name">Name *</label>
            <input class="focus-here" type="text" id="alarm-name" data-tooltip="volume_dialog_name_tip" data-value="alarm.AlarmName"/>
            <span data-text="error.AlarmName"></span>
          </div>

          <div class="form-row">
            <label for="alarm-description">Description</label>
            <textarea type="text" id="alarm-description" data-tooltip="volume_dialog_name_tip" data-value="alarm.AlarmDescription"></textarea>
            <span data-text="error.AlarmDescription"></span>
          </div>

          <div class="form-row">
            <label for="alarm-trigger">Trigger metric</label>
            <div class="eucasubset">
                <select type="text" id="alarm-trigger" data-tooltip="volume_dialog_name_tip" data-value="selectedMetric">
                    <option value="">--</option>
                    <option data-each-item="metrics" data-text="item.label" data-value="item.label"></option>
                </select>
                <span data-text="error.MetricName"></span><br />
                <a data-on-click="createMetric">Enter custom metric</a>
            </div>
          </div>

          <div class="form-row" data-switch-metricswitch="alarm.Namespace">
            <label for="alarm-statistic">Trigger dimension</label>
            <span data-switch-metricswitch-case="AWS/AutoScaling">
                <select type="text" id="alarm-dimension" data-tooltip="volume_dialog_name_tip" data-value="alarm.Dimension">
                    <option value="">--</option>
                    <option value="AutoScalingGroupName">This scaling group</option>
                    <option value="AutoScalingGroupName">Other scaling group</option>
                </select>
                <span data-text="error.Dimension"></span>
            </span>

            <span data-switch-metricswitch-case="AWS/EBS">
                <select type="text" id="alarm-dimension" data-tooltip="volume_dialog_name_tip" data-value="alarm.Dimension">
                    <option value="">--</option>
                    <option value="VolumeId">Volume</option>
                </select>
                <span data-text="error.Dimension"></span>
            </span>

            <span data-switch-metricswitch-case="AWS/EC2">
                <select type="text" id="alarm-dimension" data-tooltip="volume_dialog_name_tip" data-value="alarm.Dimension">
                    <option value="">--</option>
                    <option value="AutoScalingGroupName">This scaling group</option>
                    <option value="AutoScalingGroupName">Other scaling group</option>
                    <option value="ImageId">Image</option>
                    <option value="InstanceId">Instance</option>
                    <option value="InstanceType">Instance type</option>
                </select>
                <span data-text="error.Dimension"></span>
            </span>

            <span data-switch-metricswitch-case="AWS/ELB">
                <select type="text" id="alarm-dimension" data-tooltip="volume_dialog_name_tip" data-value="alarm.Dimension">
                    <option value="">--</option>
                    <option value="AvailabilityZone">Availability zone</option>
                    <option value="LoadBalancerName">Load balancer</option>
                </select>
                <span data-text="error.Dimension"></span>
            </span>

            <span data-switch-metricswitch-default="">
                <span>Please select a metric</span>
                <span data-text="error.Dimension"></span>
            </span>
          </div>

          <div class="form-row" data-switch-dtype="alarm.Dimension">
            <span data-switch-dtype-case="AutoScalingGroupName">
                <label for="alarm-statistic">Trigger dimension value</label>
                <select type="text" id="alarm-statistic" data-tooltip="volume_dialog_name_tip" data-value="alarm.DimensionValue">
                    <option value="">--</option>
                    <option data-each-item="dimensionvalues" data-text="item.label" data-value="item.value"></option>
                </select>
                <span data-text="error.DimensionValue"></span>
            </span>

            <span data-switch-dtype-case="ImageId">
                <label for="alarm-statistic">Trigger dimension value</label>
                <div class="eucasubset">
                    <span data-ui-autoinput="imageAutoComplete"></span><br />
                    <span>Enter an image ID or name</span>
                    <span data-text="error.DimensionValue"></span>
                </div>
            </span>

            <span data-switch-dtype-case="InstanceId">
                <label for="alarm-statistic">Trigger dimension value</label>
                <div class="eucasubset">
                    <span data-ui-autoinput="instanceAutoComplete"></span><br />
                    <span>Enter an instance ID or name</span>
                    <span data-text="error.DimensionValue"></span>
                </div>
                <span data-text="error.DimensionValue"></span>
            </span>

            <span data-switch-dtype-case="InstanceType">
                <label for="alarm-statistic">Trigger dimension value</label>
                <select type="text" id="dimension-type-id" data-value="alarm.DimensionValue">
                    <option value="">--</option>
                    <option data-each-item="instanceTypes" data-text="item.name" data-value="item.name"></option>
                </select>
                <span data-text="error.DimensionValue"></span>
            </span>

            <span data-switch-dtype-case="AvailabilityZone">
                <label for="alarm-statistic">Trigger dimension value</label>
                <input type="text" data-value="alarm.DimensionValue" />
                <span data-text="error.DimensionValue"></span>
            </span>

            <span data-switch-dtype-case="LoadBalancer">
                <label for="alarm-statistic">Trigger dimension value</label>
                <input type="text" data-value="alarm.DimensionValue" />
                <span data-text="error.DimensionValue"></span>
            </span>

            <span data-switch-dtype-case="VolumeId">
                <label for="alarm-statistic">Trigger dimension value</label>
                <div class="eucasubset">
                    <span data-ui-autoinput="volumeAutoComplete"></span><br />
                    <span>Enter a volume ID or name</span>
                    <span data-text="error.DimensionValue"></span>
                </div>
            </span>

            <span data-switch-dtype-default="">
                <label for="alarm-statistic">Trigger dimension value</label>
                <span>Please select a dimension</span>
                <span data-text="error.DimensionValue"></span>
            </span>
          </div>

          <div class="form-row">
            <label for="alarm-statistic">Statistic</label>
            <select type="text" id="alarm-statistic" data-tooltip="volume_dialog_name_tip" data-value="alarm.Statistic">
                <option data-each-item="statistic" data-text="item.label" data-value="item.value"></option>
            </select>
            <span data-text="error.Statistic"></span>
          </div>

          <table>
          <tr>
          <td>
          <div class="form-row">
            <label for="alarm-comparison">Comparison</label>
            <select type="text" id="alarm-comparison" data-tooltip="volume_dialog_name_tip" data-value="alarm.ComparisonOperator">
                <option data-each-item="comparison" data-text="item.label" data-value="item.value"></option>
            </select>
            <span data-text="error.ComparisonOperator"></span>
          </div>
          </td>

          <td>
          <div class="form-row">
            <label for="alarm-trigger">Trigger threshold</label>
            <input type="text" id="alarm-trigger" class="short-textinput" data-tooltip="volume_dialog_name_tip" data-value="alarm.Threshold"/>
            <span data-text="error.Threshold"></span>
          </div>
          </td>
          </tr>

          <tr>
          <td>
          <div class="form-row">
            <label for="alarm-measurement">Measurement periods</label>
            <input type="text" class="short-textinput" id="alarm-measurement" data-tooltip="volume_dialog_name_tip" data-value="alarm.EvaluationPeriods"/>
            <span data-text="error.EvaluationPeriods"></span>
          </div>
          </td>

          <td>
          <div class="form-row">
            <label for="alarm-period">Period length*</label>
            <input type="text" class="short-textinput" id="alarm-period" data-tooltip="volume_dialog_name_tip" data-value="alarm.Period"/>
            <select type="text" id="alarm-timeunit" data-tooltip="volume_dialog_name_tip" data-value="timeunit">
                <option value="SECS">Secs</option>
                <option value="MINS">Minutes</option>
            </select>
            <span data-text="error.Period"></span>
          </div>
          </td>
          </tr>
          </table>
		</div>
		<div data-text="status" style="height:20px"></div>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <div class="ui-dialog-buttonset">
                <span data-ui-button="submitButton" data-msg="dialog_save_btn"></span>
                <span data-ui-button="cancelButton" data-msg="dialog_cancel_btn"></span> 
            </div>
        </div>

        </div>
        </div>
    </div>
</div>
