<div>
    <div class="title" data-msg="volume_dialog_add_title"></div>
    <div class="body">
    <div id="volumes-add-dialog-wrapper">
          <div id="volumes-add-dialog" class="euca-dialog">
            <div class="dialog-inner-content">
      <div data-ui-tabs="">
        <ul>
          <li><a href="#tabs-1"><span data-msg="tab_general"/></a></li>
          <li><a href="#tabs-2"><span data-msg="tab_tags"/></a></li>
        </ul>
        <div id="tabs-1" class="tab">

          <p data-msg="volume_dialog_add_text"></p>
          <div class="form-row">
            <label for="volume-name" data-msg="volume_dialog_name_label"></label>
            <input class="focus-here" type="text" id="volume-name" data-tooltip="volume_dialog_name_tip" data-value="volume.name"/>
            <span data-text="error.name"></span>
          </div>
          <div class="form-row">
            <label for="volume-add-snapshot-selector" data-msg="volume_dialog_snapshot_label"></label>
            <select data-tooltip="volume_dialog_snapshot_tip" id="volume-add-snapshot-selector" data-value="volume.snapshot_id">
              <option data-msg="launch_instance_advanced_snapshot_none"></option>
              <option data-each-item="snapshots" data-selected=":isSnapSelected" data-value="item.id" data-title="item.id" data-text="item.name"></option>
            </select>
            <span data-text="error.snapshot_id"></span>
          </div>
          <div class="form-row">
            <label for="volume-size" class="required-label" data-msg="volume_dialog_size_label"></label>
            <input type="text" id="volume-size" class="short-textinput required" data-tooltip="volume_dialog_size_tip" data-value="volume.size" data-on-keydown=":activateButton"/>
            <span data-text="error.size"></span> 
         </div>
          <p data-msg="volume_dialog_az_text"></p>
          <div class="form-row">
            <label for="volume-add-az-selector" class="required-label" data-msg="volume_dialog_az_label"></label>
            <select data-on-change=":setZone" data-tooltip="volume_dialog_az_tip" id="volume-add-az-selector" data-value="volume.availablity_zone">
              <option data-each-item="zones" data-value="item.name" data-text="item.name"></option>
            </select>
            <span data-text="error.availablity_zone"></span>
          </div>
          <p class="required-hint" data-msg="required_fields"></p>

        </div>

        <div id="tabs-2" class="tab">

          <div class="rules content-section">
            <div data-ui-edittags="volume"></div>
          </div>

        </div>

    </div>

      <div data-text="status" style="height:20px"></div>
      <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <div class="ui-dialog-buttonset">
          <span data-ui-button=":createButton" data-msg="volume_dialog_create_btn"></span>
          <span data-ui-button=":cancelButton" data-msg="dialog_cancel_btn"></span> 
        </div>
      </div>

            </div>
          </div>

    </div>
</div>
