<div>
    <div class="title" data-msg="delete_launch_config_dialog_title">Delete launch configuration</div>
    <div class="body">
		<p data-msg="delete_launch_config_dialog_in_use_warning">In-use warning displays</p>
		<div class="selected-resources">
			<table>
				<thead><tr><th data-msg="delete_launch_config_dialog_hdr_launch_config">LAUNCH CONFIGURATION</th><thdata-msg="delete_launch_config_dialog_hdr_scaling_group">SCALING GROUP</th></tr>
				</thead>
				<tbody>
					<tr data-each-item="items"><td><span data-text="item.config"></span></td><td><span data-text="item.group"></span></td></tr>
				</tbody>
			</table>
		</div>
		<div data-text=":status" style="height:20px"></div>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <div class="ui-dialog-buttonset">
                <a data-ui-button=":cancelButton" data-msg="dialog_close_btn">Close</a>
            </div>
        </div>
    </div>
</div>

