<div>
    <div class="title" data-msg="delete_scaling_group_dialog_title">Delete Scaling Groups</div>
    <div class="body">
		<p data-msg="delete_scaling_group_dialog_text">Are you sure you want to delete the following scaling groups?</p>
		<div class="selected-resources">
			<table>
				<thead><tr><th data-msg="delete_scaling_group_dialog_hdr_scaling_group">SCALING GROUP</th></tr></thead>
				<tbody>
					<tr data-each-item="items"><td><span data-text="item"></span></td></tr>
				</tbody>
			</table>
		</div>
		<div data-text=":status" style="height:20px"></div>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <div class="ui-dialog-buttonset">
                <a data-ui-button=":deleteButton" data-msg="dialog_delete_btn">Delete</a>
                <a data-ui-button=":cancelButton" data-msg="dialog_cancel_btn">Cancel</a>
            </div>
        </div>
    </div>
</div>

