<div>
    <div class="title" data-msg="delete_launch_config_dialog_title"></div>
    <div class="body">
		<p data-msg="delete_launch_config_dialog_in_use_warning_first_para"></p>
		<p data-msg="delete_launch_config_dialog_in_use_warning_second_para"></p>
		<div class="selected-resources">
			<table>
				<thead><tr><th data-msg="delete_launch_config_dialog_hdr_launch_config"></th><th data-msg="delete_launch_config_dialog_hdr_scaling_group"></th></tr>
				</thead>
				<tbody>
					<tr data-each-item="items"><td><span data-text="item.config"></span></td><td><span data-text="item.group"></span></td></tr>
				</tbody>
			</table>
		</div>
		<div data-text=":status" style="height:20px"></div>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <div class="ui-dialog-buttonset">
                <span data-ui-button=":cancelButton" data-msg="dialog_close_btn"></span>
            </div>
        </div>
    </div>
</div>

