<div>
    <div class="title" data-msg="detach_volume_dialog_title">Detach Volumes</div>
    <div class="body">
      <div id="volumes-detach-dialog-wrapper">
        <div id="volumes-detach-dialog" class="euca-dialog">
          <div class="dialog-inner-content">
            <p data-msg="volume_dialog_detach_text"></p>
            <div class="selected-resources">
              <table>
                <thead>
                  <tr><th data-msg="detach_volume_dialog_hdr_volume">VOLUME</th><th data-msg="detach_volume_dialog_hdr_instance">INSTANCE</th></tr>
                </thead>
	        <tbody>
                  <tr data-each-item="items"><td><span data-text="item.volume_id"></span></td><td><span data-text="item.instance_id"></span></td></tr>
		</tbody>
              </table>
            </div>
            <div data-text="status" style="height:20px"></div>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
              <div class="ui-dialog-buttonset">
                <span data-ui-button=":detachButton">Yes, detach</span>
                <span data-ui-button=":cancelButton">Cancel</span> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
