<div>
    <div class="title" data-msg="volume_dialog_detach_title"></div>
    <div class="body">
      <div id="volumes-detach-dialog-wrapper">
        <div id="volumes-detach-dialog" class="euca-dialog">
          <div class="dialog-inner-content">
            <p data-msg="volume_dialog_detach_text"></p>
            <div class="selected-resources">
              <table>
                <thead>
                  <tr><th data-msg="volume_dialog_detach_hdr_volume"></th><th data-msg="volume_dialog_detach_hdr_instance"></th></tr>
                </thead>
                <tbody>
                  <tr data-each-item="items"><td class="wrap-content"><span data-text="item.volume_id"></span></td><td class="wrap-content"><span data-text="item.instance_id"></span></td></tr>
                </tbody>
              </table>
            </div>
            <div data-text="status" style="height:20px"></div>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
              <div class="ui-dialog-buttonset">
                <span data-ui-button=":detachButton" data-msg="volume_dialog_detach_btn"></span>
                <span data-ui-button=":cancelButton" data-msg="dialog_cancel_btn"></span> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
