<div>
    <div class="title"><span data-msg="tag_add_dialog_title">Add/Edit Tags</span></div>
    <div class="body">
		<p data-msg="resource_tag_widget_head_text">Edit tags</p>
		<div class="selected-resources">
            <div data-ui-edittags="model"></div>
		</div>
		<div data-text=":status" style="height:20px"></div>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <div class="ui-dialog-buttonset">
                <span data-ui-button=":confirmButton" data-msg="dialog_save_btn">Save</span>
                <span data-ui-button=":cancelButton" data-msg="dialog_cancel_btn">Cancel</span> 
            </div>
        </div>
    </div>
</div>
