<div>
    <div class="title" data-msg="create_scaling_group_no_launchconfigs_title"></div>
    <div class="body">
      <div class="euca-dialog dialog-alert-content">
        <div>
          <span data-text="model.message"></span><br>
          <span><a data-on-click="linkClick" data-href="model.linkTarget" data-text="model.linkText"></a></span>
        </div>
        <div data-text="status" style="height:20px"></div> 
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
          <div class="ui-dialog-buttonset">
            <span data-ui-button=":cancelButton" data-msg="dialog_close_btn"></span> 
          </div>
        </div>
      </div>
    </div>
</div>
