<div>
    <div class="title" data-msg="">Quick scale</div>
    <div class="body">
	    <p><label ata-msg="quick_scale_dialog_scaling_group">Scaling group:</label> <span data-text="qscale.name">Group Name</span></p>
        <p><label ata-msg="quick_scale_dialog_current_size">Current size</label> <span data-text="qscale.size">0</span></p>
        <p><label ata-msg="quick_scale_dialog_max">Maximum</label><span data-text="qscale.max_size">0</span></p><div data-text="errors.max_size"></div>
        <p><label ata-msg="quick_scale_dialog_desired">Desired</label><input data-value="qscale.desired_capacity"></input></p><div data-text="errors.desired_capacity"></div>
        <p><label ata-msg="quick_scale_dialog_min">Minimum</label><span data-text="qscale.min_size">0</span></p><div data-text="errors.min_size"></div>
        <div data-text=":status" style="height:20px"></div>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <div class="ui-dialog-buttonset">
                <a data-ui-button=":submitButton" data-msg="quick_scale_dialog_scale_btn">Scale group</a>
                <a data-ui-button=":cancelButton" data-msg="dialog_cancel_btn">Cancel</a> 
            </div>
        </div>
	</div>
</div>

