<div>
    <div class="title" data-msg="">Quick scale</div>
    <div class="body">
	    <p><label data-msg="quick_scale_dialog_scaling_group">Scaling group:</label> <span data-text="qscale.name">Group Name</span></p>
        <p><label data-msg="quick_scale_dialog_current_size">Current size</label> <span data-text="qscale.size">0</span></p>
        <p><label data-msg="quick_scale_dialog_max">Maximum</label> <span data-text="qscale.maximum">0</span></p>
        <p><label data-msg="quick_scale_dialog_desired">Desired</label> <input data-value="qscale.desired"></input></p>
        <p><label data-msg="quick_scale_dialog_min">Minimum</label> <span data-text="qscale.minimum">0</span></p>
        <div data-text=":status" style="height:20px"></div>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <div class="ui-dialog-buttonset">
                <a data-ui-button=":submitButton" data-msg="quick_scale_dialog_scale_btn">Scale group</a>
                <a data-ui-button=":cancelButton" data-msg="dialog_cancel_btn">Cancel</a> 
            </div>
        </div>
	</div>
</div>

