<div>
    <div class="title">Manage scaling group instances</div>
    <div class="body">
		<p>You can manage your instances here, or to easily change the number of instances in your scaling group use</p>
        <a data-on-click=":close">Quick Scale</a>
        <p>.</p>
		
		<div data-text=":status" style="height:20px"></div>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <div class="ui-dialog-buttonset">
                <a data-ui-button=":submitButton">Save changes</a>
                <a data-ui-button=":cancelButton">Cancel</a> 
            </div>
        </div>
    </div>
</div>
