<div>
    <div class="title">Edit scaling group properties</div>
    <div class="body">
        <div data-ui-tabs=":button" id="tabs">
            <ul>
                <li><a href="#tabs-1">General</a></li>
                <li><a href="#tabs-2">Membership</a></li>
                <li><a href="#tabs-3">Policies</a></li>
            </ul>
        </div>

        <div style="clear:both"></div>

        <div data-text=":status" style="height:20px"></div>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <div class="ui-dialog-buttonset">
                <a data-ui-button=":submitButton">Save changes</a>
                <a data-ui-button=":cancelButton">Cancel</a> 
            </div>
        </div>
</div>