<div>
    <div class="title" data-msg="manage_scaling_group_instances_dialog_title"></div>
    <div class="body">
		<p data-msg="manage_scaling_group_instances_dialog_text"></p>
        <a data-on-click=":close" data-msg="manage_scaling_group_instances_dialog_link_label"></a>
        <p></p>
		
		<div data-text=":status" style="height:20px"></div>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <div class="ui-dialog-buttonset">
                <span data-ui-button=":submitButton" data-msg="manage_scaling_group_instances_dialog_save_btn"></span>
                <span data-ui-button=":cancelButton" data-msg="dialog_cancel_btn"></span>
            </div>
        </div>
    </div>
</div>
