<div>
    <div class="title" data-msg="suspend_scaling_group_dialog_title">Suspend scaling processes</div>
    <div class="body">
		<p data-msg="suspend_scaling_group_dialog_text">Check the boxes to suspend processes. Disabled boxes indicate already-suspended processes.</p>
		<a data-msg="suspend_scaling_processes_dialog_link_label" data-on-click=":close">Select all processes</a>
		<div class="form-row clearfix checkbox-only">
		<input type="checkbox" id="scaling-suspend-launch-instances">
		<label for="scaling-suspend-launch-instances" data-msg="suspend_scaling_processes_dialog_launch_instance">Launch instances</label><br>
		<input type="checkbox" id="scaling-suspend-terminate-instances">
		<label for="scaling-suspend-terminate-instances" data-msg="suspend_scaling_processes_dialog_terminate_instance">Terminate instances</label><br>
		<input type="checkbox" id="scaling-suspend-health-check">
		<label for="scaling-suspend-health-check" data-msg="suspend_scaling_processes_dialog_health_check">Health check</label><br>
		<input type="checkbox" id="scaling-suspend-replace-unhealthy-instances">
		<label for="scaling-suspend-replace unhealthy-instances" data msg="suspend_scaling_processes_dialog_replace_unhealthy">Replace unhealthy instances</label><br>
		<input type="checkbox" id="scaling-suspend-balance-instances">
		<label for="scaling-suspend-balance-instances" data-msg="suspend_scaling_processes_dialog_az_balance">Balance instances across availability zones</label><br>
		<input type="checkbox" id="scaling-suspend-add-instances-to-lb">
		<label for="scaling-suspend-add-instances-to-lb" data-msg="suspend_scaling_processes_dialog_add_to_lb">Add instances to load balancers on launch</label><br>
		</div>
		<div data-text=":status" style="height:20px"></div>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <div class="ui-dialog-buttonset">
                <a data-ui-button=":submitButton" data-msg="suspend_scaling_processes_dialog_suspend_btn">Scale group</a>
                <a data-ui-button=":cancelButton" data-msg="dialog_cancel_btn">Cancel</a>
            </div>
        </div>
    </div>
</div>