<div>
    <div class="title">Suspend scaling processes</div>
    <div class="body">
		<p>Check the boxes to suspend processes. Disabled boxes indicate already-suspended processes.</p>
		<a data-on-click=":close">Select all processes</a>
		<div class="form-row clearfix checkbox-only">
		<input type="checkbox" id="scaling-suspend-launch-instances">
		<label for="scaling-suspend-launch-instances">Launch instances</label><br>
		<input type="checkbox" id="scaling-suspend-terminate-instances">
		<label for="scaling-suspend-terminate-instances">Terminate instances</label><br>
		<input type="checkbox" id="scaling-suspend-health-check">
		<label for="scaling-suspend-health-check">Health check</label><br>
		<input type="checkbox" id="scaling-suspend-replace-unhealthy-instances">
		<label for="scaling-suspend-replace unhealthy-instances">Replace unhealthy instances</label><br>
		<input type="checkbox" id="scaling-suspend-balance-instances">
		<label for="scaling-suspend-balance-instances">Balance instances across availability zones</label><br>
		<input type="checkbox" id="scaling-suspend-add-instances-to-lb">
		<label for="scaling-suspend-add-instances-to-lb">Add instances to load balancers on launch</label><br>
		</div>
		<div data-text=":status" style="height:20px"></div>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <div class="ui-dialog-buttonset">
                <a data-ui-button=":submitButton">Suspend</a>
                <a data-ui-button=":cancelButton">Cancel</a> 
            </div>
        </div>
    </div>
</div>