<div data-ui-tabs="" id="tabs" >
  <ul>
    <li><a href="#tabs-1" data-msg="tab_general">General</a></li>
    <li><a href="#tabs-2" data-msg="tab_volumes">Volumes</a></li>
    <li><a href="#tabs-3" data-msg="tab_tags">Tags</a></li>
  </ul>
  <div id="tabs-1" class="tab">
      <ul class="image-expanded clearfix">
        <li><div class="expanded-section-label" data-msg="image_table_expanded_machine">Machine:</div></li>
      </ul>
      <ul class="image-expanded clearfix">
		<li><div class="expanded-title" data-msg="image_table_expanded_image_name">IMAGE NAME</div><div class="expanded-value" data-text="image.display_id"></div></li> 
		<li><div class="expanded-title" data-msg="image_table_expanded_image_id">IMAGE ID</div><div class="expanded-value" data-text="image.id"></div></li>
		<li><div class="expanded-title" data-msg="image_table_expanded_arch">ARCHITECTURE</div><div class="expanded-value" data-text="image.architecture"></div></li>
		<li><div class="expanded-title" data-msg="image_table_expanded_root_device">ROOT DEVICE</div><div class="expanded-value" data-text="image.root_device_type"></div></li>
		<li><div class="expanded-title" data-msg="image_table_expanded_desc">DESCRIPTION</div><div class="expanded-value" data-text="image.description"></div></li>
      </ul>
      <ul class="image-expanded clearfix">
		<li><div class="expanded-title" data-msg="image_table_expanded_os">OS</div><div class="expanded-value" data-text="image.platform"></div></li>
		<li><div class="expanded-title" data-msg="image_table_expanded_snapshot">SNAPSHOT</div><div class="expanded-value"></div></li>
		<li><div class="expanded-title" data-msg="image_table_expanded_account">REGISTERING ACCOUNT</div><div class="expanded-value" data-text="image.owner_id"></div></li>
		<li><div class="expanded-title" data-msg="image_table_expanded_manifest">MANIFEST PATH</div><div class="expanded-value" data-text="image.location"></div></li>
     </ul>
     <ul class="image-expanded clearfix">
        <li><div class="expanded-section-label" data-msg="image_table_expanded_kernel">Kernel:</div></li>
     </ul>
     <ul class="image-expanded clearfix">
		<li><div class="expanded-title" data-msg="image_table_expanded_kernel_id">KERNEL ID</div><div class="expanded-value" data-text="kernel.id"></div></li>
		<li><div class="expanded-title" data-msg="image_table_expanded_arch">ARCHITECTURE</div><div class="expanded-value" data-text="kernel.architecture"></div></li>	
		<li><div class="expanded-title" data-msg="image_table_expanded_manifest">MANIFEST PATH</div><div class="expanded-value" data-text="kernel.location"></div></li>
		<li><div class="expanded-title" data-msg="image_table_expanded_desc">DESCRIPTION</div><div class="expanded-value" data-text="kernel.description"></div></li>
     </ul>
     <ul class="image-expanded clearfix">
        <li><div class="expanded-section-label" data-msg="image_table_expanded_ramdisk">Ram disk:</div></li>
     </ul>
     <ul class="image-expanded clearfix">
		<li><div class="expanded-title" data-msg="image_table_expanded_ramdisk_id">RAM DISK ID</div><div class="expanded-value" data-text="ramdisk.id"></div></li>
		<li><div class="expanded-title" data-msg="image_table_expanded_arch">ARCHITECTURE</div><div class="expanded-value" data-text="ramdisk.architecture"></div></li>	
		<li><div class="expanded-title" data-msg="image_table_expanded_manifest">MANIFEST PATH</div><div class="expanded-value" data-text="ramdisk.location"></div></li>
		<li><div class="expanded-title" data-msg="image_table_expanded_desc">DESCRIPTION</div><div class="expanded-value" data-text="ramdisk.description"></div></li>	
	 </ul>
  </div>

  <div id="tabs-2" class="tab">
      <ul class="volume-table-expanded clearfix">
		<li>
		<table>
			<thead><tr><th data-msg="volume_table_expanded_volume_id">VOLUME ID</th><th data-msg="volume_table_expanded_device_mapping">DEVICE MAPPING</th><th data-msg="volume_table_expanded_creation_time">CREATION TIME</th></tr>
			</thead>
			<tbody>
				<tr data-each-item="items"><td><span _data-text="item.unknownVariable"></span></td><td><span _data-text="item.unknownVariable"></span><td><span _data-text="item.unknownVariable"></span></td></tr>
			</tbody>
		</table>
		</li>
	  </ul>
  </div>

  <div id="tabs-3" class="tab">
	  <ul class="tags-expanded clearfix">
	  	<li>
		<table>
			<thead><tr><th data-msg="tag_display_hdr_key">KEY</th><th data-msg="tag_display_hdr_value">VALUE</th></tr>
			</thead>
			<tbody>
				<tr data-each-item="tags"><td><span data-text="item.name"></span></td><td><span data-text="item.value"></span></td></tr>
			</tbody>
		</table>
		</li>
	  </ul>
  </div>

<div style="clear:both"></div>
