<div data-ui-tabs=":button" id="tabs" >
  <ul>
    <li><a href="#tabs-1">General</a></li>
    <li><a href="#tabs-2">Volumes</a></li>
    <li><a href="#tabs-3">Tags</a></li>
  </ul>
  <div id="tabs-1" class="tab">
      <ul class="instance-expanded clearfix">
        <li><div class="expanded-section-label">Machine:</div></li>
		<li><div class="expanded-title">IMAGE NAME</div><div class="expanded-value">myimage</div></li> 
		<li><div class="expanded-title">IMAGE ID</div><div class="expanded-value">emi-756465353</div></li>
		<li><div class="expanded-title">ARCHITECTURE</div><div class="expanded-value">64 bit</div></li>
		<li><div class="expanded-title">ROOT DEVICE</div><div class="expanded-value">instance-store</div></li>
		<li><div class="expanded-title">DESCRIPTION</div><div class="expanded-value">this image won't boot</div></li>
		<li><div class="expanded-title">OS</div><div class="expanded-value">linux</div></li>
		<li><div class="expanded-title">SNAPSHOT</div><div class="expanded-value">snap-85746353</div></li>
		<li><div class="expanded-title">REGISTERING ACCOUNT</div><div class="expanded-value">878210294747</div></li>
		<li><div class="expanded-title">MANIFEST PATH</div><div class="expanded-value">tmpobxi939ocl&amp;#x2f;precise-server-cloudimg-amd64-ext3.img.manifest.xml</div></li>
        <li><div class="expanded-section-label">Kernel:</div></li>
		<li><div class="expanded-title">KERNEL ID</div><div class="expanded-value">eki-756465353</div></li>
		<li><div class="expanded-title">ARCHITECTURE</div><div class="expanded-value">64 bit</div></li>	
		<li><div class="expanded-title">MANIFEST PATH</div><div class="expanded-value">tmpobxi939ocl&amp;#x2f;precise-server-cloudimg-amd64-ext3.img.manifest.xml</div></li>
		<li><div class="expanded-title">DESCRIPTION</div><div class="expanded-value">this kernel won't boot</div></li>
        <li><div class="expanded-section-label">Ram disk:</div></li>
		<li><div class="expanded-title">RAM DISK ID</div><div class="expanded-value">eri-756465353</div></li>
		<li><div class="expanded-title">ARCHITECTURE</div><div class="expanded-value">64 bit</div></li>	
		<li><div class="expanded-title">MANIFEST PATH</div><div class="expanded-value">tmpobxi939ocl&amp;#x2f;precise-server-cloudimg-amd64-ext3.img.manifest.xml</div></li>
		<li><div class="expanded-title">DESCRIPTION</div><div class="expanded-value">this kernel won't boot</div></li>	
	 </ul>
  </div>

  <div id="tabs-2" class="tab">
      <ul class="instance-expanded clearfix">
        <li><div class="expanded-title">Volume Id</div><div class="expanded-value">vol-xxxxx</div></li>
        <li><div class="expanded-title">Device Mapping</div><div class="expanded-value">/dev/sda</div></li>
        <li><div class="expanded-title">Creation Time</div><div class="expanded-value">Aug 21, 2012 07:34:23AM</div></li>
	  </ul>
  </div>

  <div id="tabs-3" class="tab">
	  <ul class="instance-expanded clearfix">
	  	<li>
		<table>
			<thead><tr><th>KEY</th><th>VALUE</th></tr>
			</thead>
			<tbody>
				<tr><td>Name</td><td>My image</td></tr>
				<tr><td>Department</td><td>marketing</td></tr>
			</tbody>
		</table>
		</li>
	  </ul>
  </div>

<div style="clear:both"></div>
