<div data-ui-tabs="" id="tabs" >
  <ul>
    <li><a href="#tabs-1" data-msg="tab_general"></a></li>
    <li><a href="#tabs-2" data-msg="tab_mappings"></a></li>
    <li><a href="#tabs-3" data-msg="tab_tags"></a></li>
  </ul>
  <div id="tabs-1" class="tab">
      <ul class="image-expanded clearfix">
        <li><div class="expanded-section-label" data-msg="image_table_expanded_machine"></div></li>
      </ul>
      <ul class="image-expanded clearfix">
		<li><div class="expanded-title" data-msg="image_table_expanded_image_name"></div><div class="expanded-value" data-text="image.display_id"></div></li> 
		<li><div class="expanded-title" data-msg="image_table_expanded_image_emi_name"></div><div class="expanded-value" data-text="image.name"></div></li> 
		<li><div class="expanded-title" data-msg="image_table_expanded_image_id"></div><div class="expanded-value" data-text="image.id"></div></li>
		<li><div class="expanded-title" data-msg="image_table_expanded_arch"></div><div class="expanded-value" data-text="image.architecture"></div></li>
		<li><div class="expanded-title" data-msg="image_table_expanded_root_device"></div><div class="expanded-value" data-text="image.root_device_type"></div></li>
		<li><div class="expanded-title" data-msg="image_table_expanded_desc"></div><div class="expanded-value" data-text="image.description"></div></li>
      </ul>
      <ul class="image-expanded clearfix">
		<li><div class="expanded-title" data-msg="image_table_expanded_os"></div><div class="expanded-value" data-text="image.platform"></div></li>
		<li><div class="expanded-title" data-msg="image_table_expanded_snapshot"></div><div class="expanded-value" data-text="snapshot_id"></div></li>
		<li><div class="expanded-title" data-msg="image_table_expanded_account"></div><div class="expanded-value" data-text="image.owner_id"></div></li>
		<li><div class="expanded-title" data-msg="image_table_expanded_manifest"></div><div class="expanded-value" data-text="image.location"></div></li>
     </ul>
     <ul class="image-expanded clearfix">
        <li><div class="expanded-section-label" data-msg="image_table_expanded_kernel">:</div></li>
     </ul>
     <ul class="image-expanded clearfix">
		<li><div class="expanded-title" data-msg="image_table_expanded_kernel_id"></div><div class="expanded-value" data-text="kernel.id"></div></li>
		<li><div class="expanded-title" data-msg="image_table_expanded_arch"></div><div class="expanded-value" data-text="kernel.architecture"></div></li>	
		<li><div class="expanded-title" data-msg="image_table_expanded_manifest"></div><div class="expanded-value" data-text="kernel.location"></div></li>
		<li><div class="expanded-title" data-msg="image_table_expanded_desc"></div><div class="expanded-value" data-text="kernel.description"></div></li>
     </ul>
     <ul class="image-expanded clearfix">
        <li><div class="expanded-section-label" data-msg="image_table_expanded_ramdisk"></div></li>
     </ul>
     <ul class="image-expanded clearfix">
		<li><div class="expanded-title" data-msg="image_table_expanded_ramdisk_id"></div><div class="expanded-value" data-text="ramdisk.id"></div></li>
		<li><div class="expanded-title" data-msg="image_table_expanded_arch"></div><div class="expanded-value" data-text="ramdisk.architecture"></div></li>	
		<li><div class="expanded-title" data-msg="image_table_expanded_manifest"></div><div class="expanded-value" data-text="ramdisk.location"></div></li>
		<li><div class="expanded-title" data-msg="image_table_expanded_desc"></div><div class="expanded-value" data-text="ramdisk.description"></div></li>	
	 </ul>
  </div>

  <div id="tabs-2" class="tab">
		<table class="expanded-table">
			<thead>
              <tr>
                <th data-msg="images_table_expand_mapping_device"></th>
                <th data-msg="images_table_expand_mapping_snapshot"></th>
                <th data-msg="images_table_expand_mapping_size"></th>
                <th data-msg="images_table_expand_mapping_dot"></th>
              </tr>
			</thead>
			<tbody>
              <tr data-each-item="bdm">
                <td><span data-text="item.device"></span></td>
                <td><span data-text="item.snapshot_id"></span></td>
                <td><span data-text="item.size"></span></td>
                <td><span data-text="item.delete_on_terminate"></span></td>
              </tr>
			</tbody>
		</table>
  </div>

  <div id="tabs-3" class="tab">
          <div class="expanded-table" data-ui-tags="image.tags"></div>
  </div>

</div>
