<div data-ui-tabs=":button" id="tabs" >
  <ul>
    <li><a href="#tabs-1" data-msg="tab_general">General</a></li>
    <li><a href="#tabs-2" data-msg="tab_volumes">Volumes</a></li>
    <li><a href="#tabs-3" data-msg="tab_tags">Tags</a></li>
  </ul>
  <div id="tabs-1" class="tab">
      <ul class="instance-expanded clearfix">
		<li><div class="expanded-title" data-msg="instance_table_expanded_name">INSTANCE NAME</div><div class="expanded-value" data-text="display_id">myinstance</div></li>
		<li><div class="expanded-title" data-msg="instance_table_expanded_id">INSTANCE ID</div><div class="expanded-value" data-text="id">i-64736252</div></li>
		<li><div class="expanded-title" data-msg="inst_tbl_hdr_state">STATUS</div><div class="expanded-value" data-text="state">running</div></li>
		<li><div class="expanded-title" data-msg="inst_tbl_hdr_availability_zone">AVAILABILITY ZONE</div><div class="expanded-value">zone 1</div></li>
		<li><div class="expanded-title" data-msg="inst_tbl_hdr_public_ip">PUBLIC IP</div><div class="expanded-value">192.168.55.266</div></li>
		<li><div class="expanded-title" data-msg="inst_tbl_hdr_public_hostname">PUBLIC HOSTNAME</div><div class="expanded-value">hostname.domain.com</div></li>
		<li><div class="expanded-title" data-msg="inst_tbl_hdr_keyname">KEY</div><div class="expanded-value">mykey</div></li>
		<li><div class="expanded-title" data-msg="inst_tbl_hdr_sgroup">SECURITY GROUP</div><div class="expanded-value">mygroup</div></li>		
		<li><div class="expanded-title" data-msg="instance_table_expanded_type">INSTANCE TYPE</div><div class="expanded-value">m1.small</div></li>
		<li><div class="expanded-title" data-msg="inst_tbl_hdr_launch_time">LAUNCH TIME</div><div class="expanded-value">10:00 AM</div></li>
		<li><div class="expanded-title" data-msg="inst_tbl_hdr_image_id">IMAGE ID</div><div class="expanded-value">emi-756465353</div></li>
		<li><div class="expanded-title" data-msg="image_table_expanded_image_name">IMAGE NAME</div><div class="expanded-value">myimage</div></li>
		<li><div class="expanded-title" data-msg="instance_table_expanded_scaling_group">SCALING GROUP</div><div class="expanded-value">myscalinggroup</div></li>
		<li><div class="expanded-title" data-msg="instance_table_expanded_load_balancer">LOAD BALANCER</div><div class="expanded-value">myloadbalancer</div></li>
		<li><div class="expanded-title" data-msg="inst_tbl_hdr_os">OS</div><div class="expanded-value">linux</div></li>
		<li><div class="expanded-title" data-msg="instance_table_expanded_root">ROOT DEVICE</div><div class="expanded-value">instance-store</div></li>
		<li><div class="expanded-title" data-msg="instance_table_expanded_kernel">KERNEL ID</div><div class="expanded-value" data-text="kernel">eki-3B833B83</div></li>
		<li><div class="expanded-title" data-msg="instance_table_expanded_manifest">IMAGE MANIFEST</div><div class="expanded-value">tmpobxi939ocl&amp;#x2f;precise-server-cloudimg-amd64-ext3.img.manifest.xml</div></li>
		<li><div class="expanded-title" data-msg="inst_tbl_hdr_private_ip">PRIVATE IP</div><div class="expanded-value">10.1.0.23</div></li>
		<li><div class="expanded-title" data-msg="inst_tbl_hdr_private_hostname">PRIVATE HOSTNAME</div><div class="expanded-value" data-text="private_dns_name">hostname.private.com</div></li>
		<li><div class="expanded-title" data-msg="instance_table_expanded_account">ACCOUNT ID</div><div class="expanded-value">878210294747</div></li>
		<li><div class="expanded-title" data-msg="instance_table_expanded_reservation">RESERVATION ID</div><div class="expanded-value">r-D6564489</div></li>
		<li><div class="expanded-title" data-msg="instance_table_expanded_ramdisk">RAM DISK ID</div><div class="expanded-value">eri-22583D83</div></li>
	 </ul>
  </div>

  <div id="tabs-2" class="tab">
      <ul class="instance-expanded clearfix">
        <li><div class="expanded-title" data-msg="instance_table_expanded_volid">Volume Id</div><div data-each-blk="block_device_mapping" class="expanded-value" data-text="blk.volume_id">vol-xxxxx</div></li>
        <li><div class="expanded-title" data-msg="instance_table_expanded_devmap">Device Mapping</div><div data-each-blk="block_device_mapping" class="expanded-value">/dev/sda</div></li>
        <li><div class="expanded-title" data-msg="instance_table_expanded_createtime">Creation Time</div><div data-each-blk="block_device_mapping" class="expanded-value" data-text="blk.attach_time">Aug 21, 2012 07:34:23AM</div></li>
	  </ul>
  </div>

  <div id="tabs-3" class="tab">
	  <ul class="instance-expanded clearfix">
	  	<li>
		<table>
			<thead><tr><th data-msg="tag_display_hdr_key">KEY</th><th data-msg="tag_display_hdr_value">VALUE</th></tr>
			</thead>
			<tbody>
				<tr data-each-item="items"><td><span data-text="item.name"></span></td><td><span data-text="item.value"></span></td></tr>
			</tbody>
		</table>
		</li>
	  </ul>
  </div>

<div style="clear:both"></div>
