<div data-ui-tabs="" id="tabs" >
  <ul>
    <li><a href="#tabs-1" data-msg="tab_general"></a></li>
    <li><a href="#tabs-2" data-msg="tab_volumes"></a></li>
    <li><a href="#tabs-3" data-msg="tab_tags"></a></li>
  </ul>
  <div id="tabs-1" class="tab">
      <ul class="instance-expanded clearfix">
		<li><div class="expanded-title" data-msg="instance_table_expanded_name"></div><div class="expanded-value" data-text="instance.display_id"></div></li>
		<li><div class="expanded-title" data-msg="instance_table_expanded_id"></div><div class="expanded-value" data-text="instance.id"></div></li>
		<li><div class="expanded-title" data-msg="inst_tbl_hdr_state"></div><div class="expanded-value" data-text="status"></div></li>
		<li><div class="expanded-title" data-msg="inst_tbl_hdr_availability_zone"></div><div class="expanded-value" data-text="instance.placement"></div></li>
		<li><div class="expanded-title" data-msg="inst_tbl_hdr_public_ip"></div><div class="expanded-value" data-text="instance.ip_address"></div></li>
		<li><div class="expanded-title" data-msg="inst_tbl_hdr_public_hostname"></div><div class="expanded-value" data-text="instance.dns_name"></div></li>
     </ul>
     <ul class="instance-expanded clearfix">
		<li><div class="expanded-title" data-msg="inst_tbl_hdr_keyname"></div><div class="expanded-value" data-text="instance.key_name"></div></li>
		<li><div class="expanded-title" data-msg="inst_tbl_hdr_sgroup"></div><div class="expanded-value" data-text="instance.group_name"></div></li>		
		<li><div class="expanded-title" data-msg="instance_table_expanded_type"></div><div class="expanded-value" data-text="instance.instance_type"></div></li>
		<li><div class="expanded-title" data-msg="inst_tbl_hdr_launch_time"></div><div class="expanded-value" data-text="instance.launch_time|date"></div></li>
		<li><div class="expanded-title" data-msg="inst_tbl_hdr_image_id"></div><div class="expanded-value" data-text="instance.image_id"></div></li>
		<li><div class="expanded-title" data-msg="image_table_expanded_image_name"></div><div class="expanded-value" data-text="image.name"></div></li>
     </ul>
     <ul class="instance-expanded clearfix">
		<li><div class="expanded-title" data-msg="instance_table_expanded_scaling_group"></div><div class="expanded-value" data-text="scaling.group_name"></div></li>
		<li><div class="expanded-title" data-msg="instance_table_expanded_load_balancer"></div><div class="expanded-value" data-text="instHealth.load_balancer"></div></li>
		<li><div class="expanded-title" data-msg="inst_tbl_hdr_os"></div><div class="expanded-value" data-text="instance.platform"></div></li>
		<li><div class="expanded-title" data-msg="instance_table_expanded_root"></div><div class="expanded-value" data-text="instance.root_device_type"></div></li>
		<li><div class="expanded-title" data-msg="instance_table_expanded_kernel"></div><div class="expanded-value" data-text="instance.kernel"></div></li>
		<li><div class="expanded-title" data-msg="instance_table_expanded_manifest"></div><div class="expanded-value" data-text="image.location"></div></li>
     </ul>
     <ul class="instance-expanded clearfix">
		<li><div class="expanded-title" data-msg="inst_tbl_hdr_private_ip"></div><div class="expanded-value" data-text="instance.private_ip_address"></div></li>
		<li><div class="expanded-title" data-msg="inst_tbl_hdr_private_hostname"></div><div class="expanded-value" data-text="instance.private_dns_name"></div></li>
		<li><div class="expanded-title" data-msg="instance_table_expanded_account"></div><div class="expanded-value" data-text="instance.owner_id"></div></li>
		<li><div class="expanded-title" data-msg="instance_table_expanded_reservation"></div><div class="expanded-value" data-text="instance.reservation_id"></div></li>
		<li><div class="expanded-title" data-msg="instance_table_expanded_ramdisk"></div><div class="expanded-value" data-text="instance.ramdisk"></div></li>
	 </ul>
  </div>

  <div id="tabs-2" class="tab">
		<table class="expanded-table">
			<thead><tr><th data-msg="volume_table_expanded_volume_id"></th><th data-msg="volume_table_expanded_device_mapping"></th><th data-msg="volume_table_expanded_creation_time"></th></tr>
			</thead>
			<tbody>
				<tr data-each-volume="volumes">
                  <td><span data-text="volume.display_id" data-tooltip="volume.id"></span></td>
                  <td><span data-text="volume.attach_data.device"></span></td>
                  <td><span data-text="volume.create_time|date"></span></td>
                </tr>
			</tbody>
		</table>
  </div>

  <div id="tabs-3" class="tab">
        <div class="expanded-table" data-ui-tags="instance.tags"></div>
  </div>
  
</div>
