<div data-ui-tabs=":button" id="tabs" >
  <ul>
    <li><a href="#tabs-1" data-msg="tab_general">General</a></li>
  </ul>
  <div id="tabs-1" class="tab">
      <ul class="eip-expanded clearfix">
		<li><div class="expanded-title" data-msg="eip_table_expanded_public_ip">PUBLIC IP ADDRESS</div><div class="expanded-value" data-text="public_ip">192.168.2.23</div></li> 
		<li><div class="expanded-title" data-msg="eip_table_expanded_public_hostname">PUBLIC HOSTNAME</div><div class="expanded-value">machine.domain.com</div></li>
		<li><div class="expanded-title" data-msg="eip_table_expanded_attached_instance_id">ASSIGNED TO INSTANCE (ID)</div><div class="expanded-value" data-text="instance_id">i-74637238</div></li>
		<li><div class="expanded-title" data-msg="eip_table_expanded_attached_instance_name">ASSIGNED TO INSTANCE (NAME)</div><div class="expanded-value">my instance</div></li>
	 </ul>
  </div>

<div style="clear:both"></div>
