<div data-ui-tabs=":button" id="tabs" >
  <ul>
    <li><a href="#tabs-1" data-msg="tab_instance">Instance</a></li>
    <li><a href="#tabs-2" data-msg="tab_volumes">Volumes</a></li>
  </ul>
  <div id="tabs-1" class="tab">
    <ul class="instance-expanded clearfix">
	  <li><div class="expanded-title" data-msg="launch_config_table_expanded_name">LAUNCH CONFIG</div><div class="expanded-value">my config</div></li>
	  <li><div class="expanded-title" data-msg="launch_config_table_expanded_image_name">IMAGE NAME</div><div class="expanded-value">my image</div></li>
	  <li><div class="expanded-title" data-msg="launch_config_table_expanded_image_id">IMAGE ID</div><div class="expanded-value">emi-3B833B83</div></li>
      <li><div class="expanded-title" data-msg="launch_config_table_expanded_kernel_id">KERNEL ID</div><div class="expanded-value">eki-3B833B83</div></li>
	  <li><div class="expanded-title" data-msg="launch_config_table_expanded_ramdisk_id">RAM DISK ID</div><div class="expanded-value">eri-22583D83</div></li>
      <li><div class="expanded-title" data-msg="launch_config_table_expanded_image_manifest">IMAGE MANIFEST</div><div class="expanded-value">manifest.xml</div></li>
    </ul>
    <ul class="instance-expanded clearfix">
	  <li><div class="expanded-title" data-msg="launch_config_table_expanded_vm_type">INSTANCE TYPE</div><div class="expanded-value">m1.small</div></li>
	  <li><div class="expanded-title" data-msg="launch_config_table_expanded_os">OS</div><div class="expanded-value">linux</div></li>
	  <li><div class="expanded-title" data-msg="launch_config_table_expanded_root_device">ROOT DEVICE</div><div class="expanded-value">instance-store</div></li>
	  <li><div class="expanded-title" data-msg="launch_config_table_expanded_key">KEY NAME</div><div class="expanded-value">my key</div></li>
	  <li><div class="expanded-title" data-msg="launch_config_table_expanded_sgroup">SECURITY GROUP</div><div class="expanded-value">my s group</div></li>
	  <li><div class="expanded-title" data-msg="launch_config_table_expanded_createtime">CREATION TIME</div><div class="expanded-value">10:68:99 AM</div></li>
	</ul>
  </div>
  <div id="tabs-2" class="tab">
      <ul class="instance-expanded clearfix">
		<li>
		<table>
			<thead><tr><th data-msg="volume_table_expanded_volume_id">VOLUME ID</th><th data-msg="volume_table_expanded_device_mapping">DEVICE MAPPING</th><th data-msg="volume_table_expanded_creation_time">CREATION TIME</tr>
			</thead>
			<tbody>
				<tr data-each-item="items"><td><span _data-text="item.unknownVariable">Dummy text for now</span></td><td><span _data-text="item.unknownVariable">Dummy text for now</span><span _data-text="item.unknownVariable">Dummy text for now</span></td></tr>
			</tbody>
		</table>
		</li>
      </ul>
  </div>
</div>
<div style="clear:both"></div>
