<div data-ui-tabs="" id="tabs" >
  <ul>
    <li><a href="#tabs-1" data-msg="tab_general">General</a></li>
    <li><a href="#tabs-2" data-msg="tab_policies">Policies</a></li>
    <li><a href="#tabs-3" data-msg="tab_instances">Instances</a></li>
    <li><a href="#tabs-4" data-msg="tab_processes">Processes</a></li>
    <li><a href="#tabs-5" data-msg="tab_tags">Tags</a></li>
  </ul>
  <div id="tabs-1" class="tab">
      <ul class="scaling-group-expanded clearfix">
	    <li><div class="expanded-title" data-msg="scaling_table_expanded_name">SCALING GROUP NAME</div><div class="expanded-value" data-text="name">myGroup</div></li>
	    <li><div class="expanded-title" data-msg="scaling_table_expanded_launch_configs">CURRENT LAUNCH CONFIGURATION</div><div class="expanded-value" data-text="launch_config_name">myconfig</div></li>
	    <li><div class="expanded-title" data-msg="scaling_table_expanded_zones">AVAILABILITY ZONES</div><div class="expanded-value">zone 2</div></li>
	    <li><div class="expanded-title" data-msg="scaling_table_expanded_lb">LOAD BALANCERS</div><div class="expanded-value">balancer 1</div></li>
	    <li><div class="expanded-title" data-msg="scaling_table_expanded_health">HEALTH CHECK</div><div class="expanded-label" data-msg="scaling_table_expanded_health_check_type">Type:<span class="expanded-value" data-text="health_check_type">None</span></div><div class="expanded-label" data-msg="scaling_table_expanded_health_check_grace_period">Grace period (secs):<span class="expanded-value"data-text="health_check_period">30</span></div></li>
	    <li><div class="expanded-title" data-msg="scaling_table_expanded_instances">INSTANCES</div><div class="expanded-label" data-msg="scaling_table_expanded_instances_max">Maximum<span class="expanded-value" data-text="max_size">10</span></div><div class="expanded-label" data-msg="scaling_table_expanded_instances_desired">Desired<span class="expanded-value" data-text="desired_capacity">5</span></div><div class="expanded-label" data-msg="scaling_table_expanded_instances_min">Minimum<span class="expanded-value" data-text="min_size">1</span></div></li>
	  </ul>
  </div>
  <div id="tabs-2" class="tab">
      <ul class="scaling-group-policies-expanded clearfix">
	    <li><div class="expanded-section-label" data-msg="scaling_table_expanded_term_policies">Instance termination policies (in execution order):</div><div class="expanded-value">Oldest instance</div><div class="expanded-value">Default</div></li>
	  </ul>
      <ul class="scaling-group-policies-expanded clearfix">
	    <li><div class="expanded-section-label" data-msg="scaling_table_expanded_scaling_policies">Scaling policies:</div></li>
      </ul>
      <ul class="scaling-group-policies-expanded clearfix">
		<li><div class="expanded-label" data-msg="scaling_table_expanded_scaling_policy_default_cooldown">Default cooldown period (secs):<span class="expanded-value" data-text="default_cooldown">30</span></div></li>
      </ul>
      <ul class="scaling-group-policies-expanded clearfix">
		<li>
		<table>
			<thead><tr><th data-msg="scaling_table_expanded_scaling_policy_name">NAME</th><th data-msg="scaling_table_expanded_scaling_policy_amount">AMOUNT</th><th data-msg="scaling_table_expanded_scaling_policy_measure">MEASURE</th><th data-msg="scaling_table_expanded_scaling_policy_trigger_metric">TRIGGER METRIC</th><th data-msg="scaling_table_expanded_scaling_policy_trigger_threshold">TRIGGER THRESHOLD</th></tr>
			</thead>
			<tbody>
				<tr data-each-item="items"><td><span _data-text="item.unknownVariable">Dummy text for now</span></td><td><span _data-text="item.unknownVariable">Dummy text for now</span><td><span _data-text="item.unknownVariable">Dummy text for now</span></td><td><span _data-text="item.unknownVariable">Dummy text for now</span></td><td><span _data-text="item.unknownVariable">Dummy text for now</span></td></tr>
			</tbody>
		</table>
		</li>
	  </ul>
  </div>
  <div id="tabs-3" class="tab">
	  <ul class="scaling-group-instances-expanded clearfix">
	  	<li><div class="form-row clearfix checkbox-only"><input type="checkbox" id="scaling-expanded-launch-instance-on-term"><label for="scaling-expanded-launch-instance-on-term" data-msg="scaling_table_expanded_launch_instance_on_term">Launch new instance when an instance is terminated</label></div></li>
	  </ul>
      <ul class="scaling-group-instances-expanded clearfix">
	    <li><div class="form-row clearfix checkbox-only"><input type="checkbox" id="scaling-expanded-check-health"><label for="scaling-expanded-check-health" data-msg="scaling_table_expanded_check_health_on_launch">Begin checking health immediately when instance replaces unhealthy one</label></div></li>
	  </ul>
      <ul class="scaling-group-instances-expanded clearfix">
		<li>
		<table>
			<thead><tr><th data-msg="scaling_table_expanded_instance_id">ID</th><th data-msg="scaling_table_expanded_instance_health_status">HEALTH STATUS</th><th data-msg="scaling_table_expanded_instance_zone">AVAILABILITY ZONE</th><th data-msg="scaling_table_expanded_instance_launch_config">LAUNCH CONFIGURATION</th><th data-msg="scaling_table_expanded_instance_state">STATE</th></tr>
			</thead>
			<tbody>
				<tr data-each-item="items"><td><span _data-text="item.unknownVariable">Dummy text for now</span></td><td><span _data-text="item.unknownVariable">Dummy text for now</span><td><span _data-text="item.unknownVariable">Dummy text for now</span></td><td><span _data-text="item.unknownVariable">Dummy text for now</span></td><td><span _data-text="item.unknownVariable">Dummy text for now</span></td></tr>
			</tbody>
		</table>
		</li>	
	  </ul>
  </div>
  <div id="tabs-4" class="tab">
      <ul class="scaling-group-processes-expanded clearfix">
	    <li>
		<table>
			<thead><tr><th data-msg="scaling_table_expanded_process">PROCESS</th><th data-msg="scaling_table_expanded_suspended_state">SUSPENDED?</th></tr>
			</thead>
			<tbody>
				<tr><td data-msg="suspend_scaling_processes_dialog_launch_instance">Launch instance</td><td>yes</td></tr>
				<tr><td data-msg="suspend_scaling_processes_dialog_terminate_instance">Terminate instance</td><td></td></tr>
				<tr><td data-msg="suspend_scaling_processes_dialog_health_check">Health check</td><td></td></tr>
				<tr><td data-msg="suspend_scaling_processes_dialog_replace_unhealthy">Replace unhealthy instance</td><td>yes</td></tr>
				<tr><td data-msg="suspend_scaling_processes_dialog_az_balance">Balance instances across availability zones</td><td>yes</td></tr>
				<tr><td data-msg="suspend_scaling_processes_dialog_add_to_lb">Add instances to load balancer(s) on launch</td><td>yes</td></tr>
			</tbody>
		</table>
		</li>
	  </ul>
  </div>
  <div id="tabs-5" class="tab">
      <ul class="tags-expanded clearfix">
        <li><div class="form-row clearfix checkbox-only"><input type="checkbox" id="scaling-expanded-apply-tags-to-instances"><label for="scaling-expanded-apply-tags-to-instances" data-msg="">Also apply tags to instances in this scaling group</label></div></li>
      </ul>
      <ul class="tags-expanded clearfix">	    
	    <li>
		<table>
			<thead><tr><th data-msg="tag_display_hdr_key">KEY</th><th data-msg="tag_display_hdr_value">VALUE</th></tr>
			</thead>
			<tbody>
				<tr data-each-item="tags"><td><span data-text="item.name"></span></td><td><span data-text="item.value"></span></td></tr>
			</tbody>
		</table>
		</li>
	  </ul>
  </div>
<div style="clear:both"></div>
