<div data-ui-tabs=":button" id="tabs" >
  <ul>
    <li><a href="#tabs-1">General</a></li>
    <li><a href="#tabs-2">Policies</a></li>
    <li><a href="#tabs-3">Instances</a></li>
    <li><a href="#tabs-4">Processes</a></li>
    <li><a href="#tabs-5">Tags</a></li>
  </ul>
  <div id="tabs-1" class="tab">
      <ul class="instance-expanded clearfix">
	    <li><div class="expanded-title">SCALING GROUP NAME</div><div class="expanded-value">myGroup</div></li>
	    <li><div class="expanded-title">LAUNCH CONFIGURATIONS</div><div class="expanded-value">myconfig (current)</div><div class="expanded-value">oldconfig (past)</div></li>
	    <li><div class="expanded-title">AVAILABILITY ZONES</div><div class="expanded-value">zone 2</div></li>
	    <li><div class="expanded-title">LOAD BALANCERS</div><div class="expanded-value">balancer 1</div></li>
	    <li><div class="expanded-title">HEALTH CHECK</div><div class="expanded-label">Type:<span class="expanded-value">None</span></div><div class="expanded-label">Grace period (secs):<span class="expanded-value">30</span></div></li>
	    <li><div class="expanded-title">INSTANCES</div><div class="expanded-label">Maximum<span class="expanded-value">10</span></div><div class="expanded-label">Desired<span class="expanded-value">5</span></div><div class="expanded-label">Minimum<span class="expanded-value">1</span></div></li>
	  </ul>
  </div>
  <div id="tabs-2" class="tab">
      <ul class="instance-expanded clearfix">
	    <li><div class="expanded-section-label">Instance termination policies (in execution order):</div><div class="expanded-value">Oldest instance</div><div class="expanded-value">Default</div></li>
	    <li><div class="expanded-section-label">Scaling policies:</div></li>
		<li><div class="expanded-label">Default cooldown period (secs):<span class="expanded-value">30</span></div></li>
	    <li><div class="expanded-title">NAME</div><div class="expanded-value">My Policy</div></li>
	    <li><div class="expanded-title">AMOUNT</div><div class="expanded-value">10</div></li>
	    <li><div class="expanded-title">MEASURE</div><div class="expanded-value">instances</div></li>
	    <li><div class="expanded-title">TRIGGER METRIC</div><div class="expanded-value">AVG CPU UTILIZATION ></div></li>
	    <li><div class="expanded-title">TRIGGER THRESHOLD</div><div class="expanded-value">50</div></li>
	  </ul>
  </div>
  <div id="tabs-3" class="tab">
	  <ul class="instance-expanded clearfix">
	  	<li><div class="form-row clearfix checkbox-only"><input type="checkbox" id="scaling-expanded-launch-instance-on-term"><label for="scaling-expanded-launch-instance-on-term">Launch new instance when an instance is terminated</label></div></li>
	    <li><div class="form-row clearfix checkbox-only"><input type="checkbox" id="scaling-expanded-check-health"><label for="scaling-expanded-check-health">Begin checking health immediately when instance replaces unhealthy one</label></div></li>
		<li><div class="expanded-title">ID</div><div class="expanded-value">i-36473662</div><div class="expanded-value">i-74837465</div></li>    
	    <li><div class="expanded-title">HEALTH STATUS</div><div class="expanded-value">healthy</div><div class="expanded-value">healthy</div></li>
	    <li><div class="expanded-title">AVAILABILITY ZONE</div><div class="expanded-value">zone 1</div><div class="expanded-value">zone 1</div></li>
    	<li><div class="expanded-title">LAUNCH CONFIGURATION</div><div class="expanded-value">myconfig</div><div class="expanded-value">oldconfig</div></li>
	    <li><div class="expanded-title">STATE</div><div class="expanded-value">state</div><div class="expanded-value">state</div></li>
	  </ul>
  </div>
  <div id="tabs-4" class="tab">
      <ul class="instance-expanded clearfix">
	    <li>
		<table>
			<thead><tr><th>PROCESS</th><th>SUSPENDED?</th></tr>
			</thead>
			<tbody>
				<tr><td>Launch instance</td><td>yes</td></tr>
				<tr><td>Terminate instance</td><td></td></tr>
				<tr><td>Health check</td><td></td></tr>
				<tr><td>Replace unhealthy instance</td><td>yes</td></tr>
				<tr><td>Balance instances across availability zones</td><td>yes</td></tr>
				<tr><td>Add instances to load balancer(s) on launch</td><td>yes</td></tr>
			</tbody>
		</table>
		</li>
	  </ul>
  </div>
  <div id="tabs-5" class="tab">
      <ul class="instance-expanded clearfix">
        <li><div class="form-row clearfix checkbox-only"><input type="checkbox" id="scaling-expanded-apply-tags-to-instances"><label for="scaling-expanded-apply-tags-to-instances">Also apply tags to instances in this scaling group</label></div></li>	    
	    <li>
		<table>
			<thead><tr><th>KEY</th><th>VALUE</th></tr>
			</thead>
			<tbody>
				<tr><td>Name</td><td>My scaling group</td></tr>
				<tr><td>Department</td><td>marketing</td></tr>
			</tbody>
		</table>
		</li>
	  </ul>
  </div>
<div style="clear:both"></div>
