<div data-ui-tabs=":button" id="tabs" >
  <ul>
    <li><a href="#tabs-1" data-msg="tab_general">General</a></li>
    <li><a href="#tabs-2" data-msg="tab_tags">Tags</a></li>
  </ul>
  <div id="tabs-1" class="tab">
      <ul class="instance-expanded clearfix">
		<li><div class="expanded-title" data-msg="sgroup_table_expanded_sgroup_name">SECURITY GROUP NAME</div><div class="expanded-value" data-text="name">mygroup</div></li> 
		<li><div class="expanded-title" data-msg="sgroup_table_expanded_description">DESCRIPTION</div><div class="expanded-value" data-text="description">full of rules</div></li>
     </ul>
     <ul class="instance-expanded clearfix">
        <li><div class="expanded-section-label" data-msg="sgroup_table_expanded_ingress_rules">Incoming traffic rules:</div></li>
     </ul>
     <ul class="instance-expanded clearfix">
	  	<li>
		<table>
			<thead>
				<tr><th data-msg="sgroup_table_expanded_protocol">PROTOCOL</th><th data-msg="sgroup_table_expanded_port_type">PORT/TYPE</th><th data-msg="sgroup_table_expanded_source">SOURCE</th></tr>
			</thead>
			<tbody>
				<tr data-each-item="sgroups"><td><span data-text="item.protocol"></span></td><td><span data-text="item.port"></span></td><td><span data-text="item.source"></span></td></tr>
			</tbody>
		</table>
		</li>
	 </ul>
  </div>

  <div id="tabs-2" class="tab">
      <ul class="instance-expanded clearfix">
        <li>
		<table>
			<thead><tr><th data-msg="tag_display_hdr_key">KEY</th><th data-msg="tag_display_hdr_value">VALUE</th></tr>
			</thead>
			<tbody>
				<tr data-each-item="tags"><td><span data-text="item.name"></span></td><td><span data-text="item.value"></span></td></tr>
			</tbody>
		</table>
		</li>
	  </ul>
  </div>

<div style="clear:both"></div>
