<div data-ui-tabs="" id="tabs" >
  <ul>
    <li><a href="#tabs-1" data-msg="tab_general">General</a></li>
    <li><a href="#tabs-2" data-msg="tab_tags">Tags</a></li>
  </ul>
  <div id="tabs-1" class="tab">
      <ul class="volume-expanded clearfix">
		<li><div class="expanded-title" data-msg="snapshot_table_expanded_volume_name">VOLUME</div><div class="expanded-value" data-text="volume.display_id"></div></li>
		<li><div class="expanded-title" data-msg="snapshot_table_expanded_volume_id">VOLUME ID</div><div class="expanded-value" data-text="volume.id"></div></li>
		<li><div class="expanded-title" data-msg="snapshot_table_expanded_status">STATUS</div><div class="expanded-value" data-text="volume.status"></div></li>
		<li><div class="expanded-title" data-msg="volume_table_expanded_creation_time">CREATION TIME</div><div class="expanded-value" data-text="volume.create_time|date"></div></li>
      </ul>
      <ul class="volume-expanded clearfix">
		<li><div class="expanded-title" data-msg="volume_table_expanded_attached_instance_name">ATTACHED TO INSTANCE (NAME)</div><div class="expanded-value"></div></li>
		<li><div class="expanded-title" data-msg="volume_table_expanded_attached_instance_id">ATTACHED TO INSTANCE (ID)</div><div class="expanded-value" data-text="volume.atttach_data.instance_id"></div></li>
		<li><div class="expanded-title" data-msg="snapshot_table_expanded_size">SIZE (GB)</div><div class="expanded-value" data-text="volume.size"></div></li>
		<li><div class="expanded-title" data-msg="volume_table_expanded_az">AVAILABILITY ZONE</div><div class="expanded-value" data-text="volume.zone"></div></li>
      </ul>
      <ul class="volume-expanded clearfix">
		<li><div class="expanded-title" data-msg="snapshot_table_expanded_name">SNAPSHOT NAME</div><div class="expanded-value" data-text="snapshot.display_id"></div></li> 
		<li><div class="expanded-title" data-msg="snapshot_table_expanded_id">SNAPSHOT ID</div><div class="expanded-value" data-text="snapshot.id"></div></li>
	  </ul>
	</div>
	
	<div id="tabs-2" class="tab">
        <div class="expanded-table" data-ui-tags="volume.tags"></div>
	</div>
</div>
