<div data-ui-tabs=":button" id="tabs" >
  <ul>
    <li><a href="#tabs-1">General</a></li>
    <li><a href="#tabs-2">Tags</a></li>
  </ul>
  <div id="tabs-1" class="tab">
      <ul class="instance-expanded clearfix">
		<li><div class="expanded-title">VOLUME</div><div class="expanded-value">myvol</div></li>
		<li><div class="expanded-title">VOLUME ID</div><div class="expanded-value">vol-75645353</div></li>
		<li><div class="expanded-title">STATUS</div><div class="expanded-value">Available</div></li>
		<li><div class="expanded-title">CREATION TIME</div><div class="expanded-value">9:45:53 AM</div></li>
		<li><div class="expanded-title">ATTACHED TO INSTANCE (NAME)</div><div class="expanded-value">my instance</div></li>
		<li><div class="expanded-title">ATTACHED TO INSTANCE (ID)</div><div class="expanded-value">i-75846374</div></li>
		<li><div class="expanded-title">SIZE (GB)</div><div class="expanded-value">2</div></li>
		<li><div class="expanded-title">AVAILABILITY ZONE</div><div class="expanded-value">zone 2</div></li>
		<li><div class="expanded-title">SNAPSHOT NAME</div><div class="expanded-value">mysnap</div></li> 
		<li><div class="expanded-title">SNAPSHOT ID</div><div class="expanded-value">snap-75645353</div></li>
	 </ul>
  </div>

  <div id="tabs-2" class="tab">
	  <ul class="instance-expanded clearfix">
	  	<li>
		<table>
			<thead><tr><th>KEY</th><th>VALUE</th></tr>
			</thead>
			<tbody>
				<tr><td>Name</td><td>My vol</td></tr>
				<tr><td>Department</td><td>marketing</td></tr>
			</tbody>
		</table>
		</li>
	  </ul>
  </div>

<div style="clear:both"></div>
