<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>EucalyptusWebBackendImpl</servlet-name>
    <servlet-class>edu.ucsb.eucalyptus.admin.server.EucalyptusWebBackendImpl</servlet-class>
  </servlet>

  <servlet-mapping>
	<servlet-name>EucalyptusWebBackendImpl</servlet-name>
	<url-pattern>/edu.ucsb.eucalyptus.admin.EucalyptusWebInterface/EucalyptusWebBackend</url-pattern>
  </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>EucalyptusWebInterface.html</welcome-file>
  </welcome-file-list>

</web-app>
