<div>
	<div class="selected-resources">
            <table>
            <tbody>
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                    <th>Amount</th>
                    <th>Measure</th>
                    <th>Alarm</th>
                    <th></th>
                </tr>
                <tr data-each-item="selected" data-class-edit-tags-deleted="item._deleted">
                    <td><span data-text="item.name" ></span></td>
                    <td><span data-text="item.action"></span></td>
                    <td><span data-text="item.amount"></span></td>
                    <td><span data-text="item.measure"></span></td>
                    <td><span data-text="item.alarm"></span></td>
                    <td>
                      <div class="icon_delete tag-control" data-on-click="delete" data-tooltip="create_scaling_group_policies_advanced_del_tip"></div>
                    </td>
                    <td>
                      <div class="icon_cancel tag-control" data-on-click="undoDelete" data-tooltip="create_scaling_group_policies_advanced_undo_tip" data-show="item._deleted"></div>
                    </td>
                </tr>
                <tr>
                    <td><input type="text" class="short-textinput" data-tooltip="create_scaling_group_policies_advanced_policyname_tip" data-value="toAdd.name"></td>
                    <td>
                        <select data-value="toAdd.action" data-tooltip="create_scaling_group_policies_advanced_policyname_action_tip">
                            <option value="SCALEDOWNBY">Scale down by</option>
                            <option value="SCALEUPBY">Scale up by</option>
                            <option value="SETSIZE">Set group size to</option>
                        </select>
                    </td>
                    <td><input type="text" class="short-textinput" data-value="toAdd.amount" data-tooltip="create_scaling_group_policies_advanced_policyname_amount_tip"></td>
                    <td>
                        <select data-value="toAdd.measure" data-tooltip="create_scaling_group_policies_advanced_policyname_measure_tip">
                            <option value="percent">%</option>
                            <option value="instances">Instance(s)</option>
                        </select>
                    </td>
                    <td style="position:relative">
                        <select class="alarm-select" data-value="toAdd.alarm" data-tooltip="create_scaling_group_policies_advanced_policyname_alarm_tip">
                            <option data-each-item="alarms" data-value="item.name" data-text="item.name" ></option>
                        </select><br />
                        <a class="create-alarm-link" data-on-click="createAlarm">Create alarm</a>
                    </td>
                    <td><div class="icon_add" data-on-click="add" data-tooltip="create_scaling_group_policies_advanced_add_tip"></div></td>
                </tr>
            </tbody>
            </table>
		</div>
</div>
