<div>
  <div class="ui-keyval-labels">
    <span data-text="keyLabel"></span>
    <span data-text="valLabel"></span>
  </div>
  <div class="ui-keyval-pair" data-each-row="list">
    <div class="ui-keyval-fieldset">
      <div class="ui-keyval-fields">
        <input type="text" size="20" name="key" data-value="row.key"></input>
        <input type="text" size="20" name="value" data-value="row.value"></input>
      </div>
      <div class="ui-keyval-buttons">
        <a href="#"><div data-on-click=":edit" class="icon_edit"></div></a>
        <a href="#"><div data-on-click=":remove" class="icon_delete"></div></a>
      </div>
    </div>
  </div> 
</div>
