.templates div.inactive {
  display: none;
}

.templates div.active {
  display: table;
}

div.euca-footer.inactive {
  display: none;
}

div.euca-footer.active{
  display: block;
}

.euca-main.inactive {
  display: none;
}

.euca-main.active {
  display: none;
}

div.euca-header.logo {
 /*position:relative;
 top:0px;
 left:10px;*/
 float: left;
 width: 300px;
}
div.euca-header.navigator {
 /*position:relative;
 top:0px; 
 left:400px;*/
 padding: 0px 400px 30px 400px;
 margin: 0px;
 font-family:Arial,Helvetica,sans-serif;
 font-style:oblique;
 font-size:30px
}

div.euca-header.right {
 position:relative;
 top:0px;
 left:700px;
}
