
/* Add a stylesheet to normalize the rendering by different browsers */

@import "../css/normalize.css";


/* ======== Base HTML styles ======= */

body {
    margin: 0;
    padding: 0;
    font-family: Arial,Helvetica,sans-serif;
    background: #fff;
}

/* ======== Page layout styles ======= */

.euca-container {
    /* No attributes at this time */
}

.euca-header-container {
    background: transparent url(../images/header-bgfill.png) repeat-x left top;
    height: 61px;
}

.euca-explorer-container {
    /* No attributes at this time */
}

.euca-main-outercontainer {
    background: #eaedee url(../images/main-bgfill.png) repeat left top;
    padding: 15px 0;
    height: 600px;
}

.euca-footer-container {
    background: transparent url(../images/footer-bgfill.png) repeat-x left top;
    margin-bottom: 20px;
    min-height: 30px;
    padding: 5px 0;
}

.euca-header,
.euca-explorer,
.euca-main,
.euca-footer {
    margin: 0 auto;
    position: relative;
    width: 1024px;
    height: 100%;
}

.templates {
    margin: 0 auto;
    display: none;
}

/* ======== Header styles ======= */

.euca-header.logo {
    float: left;
    width: 300px;
    margin-top: 5px;
    border: none;
}

/* ======== Navigator styles ======= */

#euca-navigator {
    width: 200px;
}

#euca-navigator table {
    width: 200px !important;
    background-color: #ccc;
}

.navigator {
    background-color: #16415d;
}

div.euca-header.navigator {
    display: none;
    border-color: -moz-use-text-color #E2E6E5;
    border-style: none solid;
    border-width: medium 1px;
    float: left;
    margin-left: 50px;
    margin-top: 5px;
    padding: 0 10px;
    /* width: auto;
    height: auto; */
}

div.euca-header.navigator.mouseon {
    background: none repeat-x scroll 50% 50% #F6F6F6;
    border-color: -moz-use-text-color #E2E6E5;
    border-style: none solid;
    border-width: medium 1px;
    float: left;
    margin-left: 70px;
    margin-top: 5px;
    padding: 0 10px;
    /* width: auto;
    height: auto; */
}

.euca-header.navigator img {
    width: 10px;
}

a#top-button.euca-header.navigator {
    color: #FFFFFF; 
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal; 
    left: 0;
    margin: 5px;
    text-decoration: none;
    top: 0;
}

a#top-button.euca-header.navigator.mouseon {
    color: #FFFFFF; 
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    left: 0;
    margin: 5px;
    text-decoration: none;
    top: 0;
    cursor: default;
}

div.euca-header.help {
    display: none;
    border-color: -moz-use-text-color #E2E6E5 -moz-use-text-color -moz-use-text-color;
    border-style: none solid none none;
    border-width: medium 1px medium medium;
    float: right;
    height: 30px;
    margin-right: 10px;
    margin-top: 5px;
    padding: 0 10px;
    width: auto;
}

span#help.euca-header.help {
    color: #FFFFFF; 
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    left: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    top: 5px;
}

div.euca-header.help img {
    width: 10px;
}

div.euca-header.user {
    display: none;
    border-color: -moz-use-text-color #E2E6E5;
    border-style: none solid;
    border-width: medium 1px;
    float: right;
    height: 30px;
    margin-top: 5px;
    padding: 0 10px;
    width: auto;
}

span#name.euca-header.user {
    border: medium none;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    left: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    top: 5px;
}

div.euca-header.user img {
    width: 10px;
}

/* ======== Explorer styles ======= */

div.euca-explorer {
    background: url("../images/explorer_background.png") no-repeat center transparent;
    display:none;
    position:relative;
    width:1024px;
    height: 100px;
}

div.euca-container.euca-explorer.euca-explorer-items {
    float: left;
    width: auto;
    padding: 0px;
    text-align: center;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    color: #86B237;
}

div.euca-container.euca-explorer.euca-explorer-items.mouseon {
    float: left;
    width: auto;
    padding: 0px;
    text-align: center;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    color: #0F3F5C;
}

.euca-container.euca-explorer.euca-explorer-items table, 
.euca-container.euca-explorer.euca-explorer-items tr, 
.euca-container.euca-explorer.euca-explorer-items td {
    border-collapse: collapse;
    margin-left: 25px;
    margin-right: 25px;
    vertical-align: bottom;
    border-bottom-color: #F6F6F6;
}

/* to remove gaps bw images and table cell */
.euca-container.euca-explorer.euca-explorer-items img {
    display:block;
    height:36px;
}

.euca-container.euca-explorer-sub {
    display: block;
    position: relative;
    width: auto;
    left: 40px; /* should be changed to account for icon size */
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal; 
    color: #444444;
}

.euca-container.euca-explorer-sub table,
.euca-container.euca-explorer-sub tr,
.euca-container.euca-explorer-sub td 
{
    padding: 2px;
    text-align: left;
}

.euca-container.euca-explorer-sub a {
    text-decoration: none; 
}

.euca-explorer-sub.mouseon {
   color: #86B237;
}

/* ======== Login styles ======= */

.form-row {
    margin-bottom: 10px;
}

.form-row label {
    display: inline-block;
    width: 130px;
}

/* ======== Content styles ======= */

div#euca-main-header.euca-main {
    position: relative;
}

div#euca-main-container {
    border: none;
    width: 1024px;
    height: 100%;
    display: none;
}

div#dashboard {
    background: #ffffff;
    position: relative;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    width: 90%;
    height: 90%;
}

div.dashboard.instances {
   float: left;
   margin-left: 5%;
   margin-right: 5%;
   margin-top: 5%;
   width: 90%;
   height: 40%;
   border: 1px solid #DDDDDD;
   font-family: Arial,Helvetica,sans-serif;
   font-size: 14px;
}

div.dashboard.storage {
   float: left;
   clear: left;
   margin-left: 5%;
   margin-top: 5%;
   width: 45%;
   height: 40%;  
   border: 1px solid #DDDDDD;
   font-family: Arial,Helvetica,sans-serif;
   font-size: 14px;
}

div.dashboard.netsec {
   float: left;
   margin-top: 5%;
   width: 45%;
   height: 40%;
   border: 1px solid #DDDDDD;
   font-family: Arial,Helvetica,sans-serif;
   font-size: 14px;
}
 
div.dashboard.instances div{
   float:left;
   margin: 10% 10px;
}

div.dashboard.storage div{
   float:left;
   margin: 10% 10px;
}

div.dashboard.netsec div{
   float:left;
   margin: 10% 10px;
}

/* ======= Table view ======= */

div.euca-table-add {
   float: left;
}

div.euca-table-action {
    float: left;
}

div.euca-table-size {
    float: right;
}

span.selected {
    font-weight: bold;
}

/* ======= Action menu ======= */

.actionmenu {
    font: 13px/27px Arial,sans-serif;
    color: #3366CC;
    height: 30px;
    margin-left: -10px;
}

.actionmenu a:hover {
    background-color: #e4ebf8;
}

.actionmenu a {
    text-decoration: none;
    padding: 4px 8px 7px;
    color: #3366CC;
    outline:none;
}

.actionmenu ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 10px;
}

.actionmenu ul li {
    padding: 0;
    float: left;
 }

.actionmenu ul li ul li {
    padding: 0;
    float: none;
    margin: 0 0 0 0px;
    width: 100%;
}

.actionmenu ul li ul {
    position: absolute;
    margin-top: -1px;
    display: none;
    padding: 0px 16px 0px 0;
}

.activemenu ul {
    display: block !important;
}

.activemenu a {
    background-color: #fff;
    border-bottom: 0;
    display: block;
    height: 29px;
    padding: 0 8px 0 8px;
    position:relative;
    z-index: 1;
}

.activemenu a:hover {
    background-color: #fff;
}

.activemenu ul a:hover {
    background-color: #e4ebf8;
}

.activemenu ul a {
    border: 0;
    width: 100%;
}

.arrow {
    border-color: #3366CC transparent transparent;
    border-style: solid dashed dashed;
    margin-left: 5px;
    position: relative;
    top: 10px;
}

.inactive a:hover {
    background-color: #fff !important;
}

/* ======= Notifications ======= */

.euca-notification {
   -moz-border-radius: 4px;
   border-radius: 4px;
   border-style: solid;
   border-color: black;
}

.error {
   color: red;
   padding: 5px;
}

.success {
   color: green;
   padding: 5px;
}

a.hide-notification  {
   float: right;
}

.dialog-notifications {
   color: red;
   padding: 5px;
}

