<div id="eip-table">
  <div class="dataTables_wrapper" id="eips_wrapper">
    <div class="table_eips_header"></div>
    <div class="euca-table-filter" id="eip_state-filter"></div>
    <div class="clear"></div>
    <div class="table_eips_top euca-table-length clearfix"></div>
    <div id="eips_processing" class="dataTables_processing" style="visibility: hidden;"></div>

    <table class="display dataTable" id="eips">
      <thead>
        <tr roll="row">
          <th colspan="1" rowspan="1" class="sorting_disabled checkbox-cell" role="columnheader">
            <input type="checkbox" id="eips-check-all">
          </th>
          <th class="wrap-content sorting" role="columnheader" tabindex="0" aria-controls="eips" rowspan="1" colspan="1" data-tooltip="Public IP address: activate to sort column ascending" data-msg="eip_tbl_hdr_address"></th>
          <th  class="wrap-content sorting" role="columnheader" tabindex="0" aria-controls="eips" rowspan="1" colspan="1" data-tooltip="Assigned to Instance: activate to sort column ascending" data-msg="eip_tbl_hdr_instance"></th>
        </tr>
      </thead>
      <tbody data-each-item="items">
      <tr>
        <td class="checkbox-cell">
          <input type="checkbox" data-checked="item.clicked" data-on-click=":clicked_row_callback">
        </td>
        <td class="wrap-content">
          <a title="item.public_ip" class="twist" data-text="item.public_ip" data-on-click=":expand_row"></a>
        </td>
        <td data-text="item.instance_id"></td>
      </tr>
      <tr class="expanded" data-show="item.expanded">
        <td class="expanded_td" colspan=3 data-html=":expanded_row_callback">hi, this is an expanded row <td>
      </tr>
      </tbody>
    </table>

    <div class="dataTables_paginate paging_full_numbers" id="eips_paginate">
      <a class="first paginate_button paginate_button_disabled" id="eips_first">First</a>
      <a class="previous paginate_button paginate_button_disabled" id="eips_previous">Previous</a>
      <span>
        <a class="paginate_active">1</a>
      </span>
      <a class="next paginate_button paginate_button_disabled" id="eips_next">Next</a>
      <a class="last paginate_button paginate_button_disabled" id="eips_last">Last</a>
    </div>
    <div class="clear"></div>
  </div>
</div>

