<div>
		<div class="selected-resources">
            <table>
            <thead>
                    <th><span data-msg="tag_display_hdr_key"></span></th>
                    <th><span data-msg="tag_display_hdr_value"></span></th>
            </thead>
            <tbody data-each-tag="tags" class="tag-edit">
                <tr class="edit-tags-clean" data-show="tag._clean">
                    <td class="wrap-content"><span data-text="tag.name"></span></td>
                    <td class="wrap-content"><span data-text="tag.value"></span></td>
                    <td><div class="icon_edit tag-control" data-on-click=":edit" data-tooltip="tag_icon_edit_tip"></div></td>
                    <td><div class="icon_delete tag-control" data-on-click=":delete" data-tooltip="tag_icon_delete_tip"></div></td>
                </tr>
                <tr class="edit-tags-edit" data-show="tag._edit">
                    <td><input data-value="tag.name"></input></td>
                    <td><input data-value="tag.value"></input></td>
                    <td><div class="icon_approve tag-control" data-class-enabled="isTagValid" data-on-click=":confirm" data-tooltip="tag_icon_save_tip"></div></td>
                    <td><div class="icon_cancel tag-control" data-on-click=":restore" data-tooltip="tag_icon_cancel_edit_tip"></div></td>
                </tr>
                <tr class="edit-tags-deleted" data-show="tag._deleted" class="tags-deleted">
                    <td class="wrap-content"><span data-text="tag.name"></span></td>
                    <td class="wrap-content"><span data-text="tag.value"></span></td>
                    <td><div class="icon_cancel tag-control" data-on-click=":restore" data-tooltip="tag_icon_undo_delete_tip"></div></td>
                    <td></td>
                </tr>
                <tr class="edit-tags-displayonly" data-show="tag._displayonly">
                    <td class="wrap-content"><span data-text="tag.name"></span></td>
                    <td class="wrap-content"><span data-text="tag.value"></span></td>
		    <td><div class="icon_cancel tag-control" style="visibility:hidden"></div></td>
		    <td></td>
                </tr>
                <!-- errors -->
                <tr data-show="tag.tag_is_invalid">
                    <td><span class="error" data-text="error.name"></span></td>
                    <td><span class="error" data-text="error.value"></span></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tbody class="tag-edit">
                <tr>
                    <td><input class="focus-here" data-on-focus=":deactivateEdits" data-value="newtag.name" data-tooltip="tag_text_name_tip"></input></td>
                    <td><input  data-on-focus=":deactivateEdits" data-value="newtag.value" data-tooltip="tag_text_value_tip"></input></td>
                    <td><div class="icon_add" data-class-enabled="isTagValid" data-on-click=":create" data-tooltip="tag_icon_add_another_tip"></div></td>
                    <td style="width:27px"></td>
                </tr>
            </tbody>
            </table>
		</div>
</div>
