<div id="eip-table">
  <div class="dataTables_wrapper" id="eips_wrapper">
    <div class="table_eips_header"></div>
    <div class id="eip_state-filter"></div>
    <div id="vol_state-filter" class="euca-table-filter"></div>
    <div class="clear"></div>

    <div class="table_eips_top clearfix"></div>
    <div id="eips_processing" class="dataTables_processing" style="visibility: hidden;"></div>

    <table class="display" id="eips">
      <thead>
        <tr id="sortheader">
          <th colspan="1" rowspan="1" class="sorting_disabled checkbox-cell">
            <input type="checkbox" id="eips-check-all">
          </th>
          <th colspan="1" rowspan="1" class="sorting">""</th>
          <th colspan="1" rowspan="1" class="sorting">""</th>
          <th colspan="1" rowspan="1" class="sorting">""</th>
          <th colspan="1" rowspan="1" class="sorting">""</th>
          <th colspan="1" rowspan="1" class="sorting">""</th>
          <th colspan="1" rowspan="1" class="sorting">""</th>
          <th colspan="1" rowspan="1" class="sorting">""</th>
        </tr>
      </thead>
      <tbody>
      <tr class="">
        <td class="checkbox-cell">
          <input type="checkbox">
        </td>
        <td>""</td>
        <td class="narrow-cell">
	  <div class="table-row-status status-available"></div>
        </td>
        <td class="centered-cell">""</td>
        <td>""</td>
        <td>""</td>
        <td>""</td>
        <td>""</td>
      </tr>
      </tbody>
    </table>

    <div class="dataTables_paginate paging_full_numbers" id="eips_paginate">
      <span class="first paginate_button paginate_button_disabled" id="eips_first">First</span>
      <span class="previous paginate_button paginate_button_disabled" id="eips_previous">Previous</span>
      <span>
        <span class="paginate_active">1</span>
      </span>
      <span class="next paginate_button paginate_button_disabled" id="eips_next">Next</span>
      <span class="last paginate_button paginate_button_disabled" id="eips_last">Last</span>
    </div>
    <div class="clear"></div>
  </div>
</div>

