.gwt-DatePicker {
	border: 1px solid #F6C73E;
	cursor: default;
}

.gwt-DatePicker td,.datePickerMonthSelector td:focus {
	outline: none
}

.datePickerMonthSelector td:focus {
	outline: none
}

.datePickerDays {
	width: 100%;
	background: white;
}

.datePickerDay,.datePickerWeekdayLabel,.datePickerWeekendLabel {
	font-size: 75%;
	text-align: center;
	padding: 4px;
	outline: none;
}

.datePickerWeekdayLabel,.datePickerWeekendLabel {
	/*background: #C3D9FF;*/
	background: #F6C73E;
	padding: 0px 4px 2px;
	cursor: default;
}

.datePickerDay {
	padding: 4px;
	cursor: hand;
	cursor: pointer;
}

.datePickerDayIsToday {
	border: 1px solid black;
	padding: 3px;
}

.datePickerDayIsWeekend {
	background: #EEEEEE;
}

.datePickerDayIsFiller {
	color: #888888;
}

.datePickerDayIsValue {
	background: #aaccee;
}

.datePickerDayIsDisabled {
	color: #AAAAAA;
	font-style: italic;
}

.datePickerDayIsHighlighted {
	background: #F0E68C;
}

.datePickerDayIsValueAndHighlighted {
	background: #bbddd9;
}

.datePickerMonthSelector {
	/*background: #C3D9FF;*/
	background: #F6C73E;
	width: 100%;
}

.datePickerPreviousButton,.datePickerNextButton {
	font-size: 120%;
	line-height: 1em;
	color: blue;
	cursor: hand;
	cursor: pointer;
	padding: 0px 4px;
	outline: none;
}

td.datePickerMonth {
	text-align: center;
	vertical-align: center;
	white-space: nowrap;
	font-size: 70%;
	font-weight: bold;
	color: blue;
}

.gwt-DateBox input {
	width: 8em;
}

.dateBoxFormatError {
	background: #ffcccc;
}

.dateBoxPopup {
}