/*************************************************************************
 * Copyright 2009-2012 Eucalyptus Systems, Inc.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 3 of the License.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see http://www.gnu.org/licenses/.
 *
 * Please contact Eucalyptus Systems, Inc., 6755 Hollister Ave., Goleta
 * CA 93117, USA or visit http://www.eucalyptus.com/licenses/ if you need
 * additional information or have any questions.
 ************************************************************************/

.gwt-PopupPanelGlass {
	background-color:#000000;
	opacity:0.3;
	filter:alpha(opacity=30);
}

.gwt-DialogBox {
	background-color:#EEEEEE;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.gwt-DialogBox .dialogTopLeftInner {
	width:0px;
}

.gwt-DialogBox .dialogTopRightInner {
    width:0px;
}

.gwt-DialogBox .dialogMiddleLeftInner {
    width:0px;
}

.gwt-DialogBox .dialogMiddleRightInner {
    width:0px;
}

.gwt-DialogBox .dialogBottomLeftInner {
    width:0px;
}

.gwt-DialogBox .dialogBottomRightInner {
    width:0px;
}

.gwt-DialogBox .dialogTopLeft {
    width:0px;
}

.gwt-DialogBox .dialogTopRight {
    width:0px;
}

.gwt-DialogBox .dialogMiddleLeft {
    width:0px;
}

.gwt-DialogBox .dialogMiddleRight {
    width:0px;
}

.gwt-DialogBox .dialogBottomLeft {
    width:0px;
}

.gwt-DialogBox .dialogBottomRight {
    width:0px;
}

.gwt-DialogBox .dialogTopCenterInner .Caption {
    padding: 4px 4px 4px 8px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
    cursor:default;
    font-size: 14px;
    color: #333333;
    text-align: center;
    text-shadow: 1px 1px 1px #FFFFFF;
    filter:literal("dropshadow(color=#FFFFFF, offx=1, offy=1)");
    background: #f1e767;
    background:-moz-linear-gradient(top, #f1e767 0%, #feb645 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1e767), color-stop(100%,#feb645));
    background:-webkit-linear-gradient(top, #f1e767 0%,#feb645 100%);
    background:-o-linear-gradient(top, #f1e767 0%,#feb645 100%);
    background:-ms-linear-gradient(top, #f1e767 0%,#feb645 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=0 );
    background:linear-gradient(top, #f1e767 0%,#feb645 100%);
}
