<div class="wizard-step">
<div class="wizardTitle"><h3 class="required-label">Image</h3></div>
<div id="launch-wizard-image-main-contents">
<div id="launch-wizard-image-table">
<div id="launch-images_wrapper" class="dataTables_wrapper" role="grid">
<div id="filter-wrapper">
<div class="wizard-section-label">Refine your results</div>
<div class="euca-table-filter" id="owner-filter"><select id="owner-selector" data-tooltipe="launch_instance_owner_select_tip"><option value="all">All images</option>
<option value="self">Images owned by me</option></select></div>
<div class="euca-table-filter" id="platform-filter"><select id="platform-selector" data-tooltip="launch_instance_platform_select_tip"><option value="all">All platforms</option>
<option value="linux">Linux</option>
<option value="windows">Windows</option></select></div>
<div class="clear"></div>
<div class="euca-table-filter" id="arch-filter"><select id="arch-selector" data-tooltip="launch_instance_arch_select_tip"><option value="all">32 and 64 bit</option>
<option value="i386">32 bit</option>
<option value="x86_64">64 bit</option></select></div>
<div class="clear"></div>
<div class="euca-table-filter" id="root-filter"><select id="root-selector" title="Filter the image list by root device type"><option value="all">All root devices</option>
<option value="instance-store">Instance-store root device</option>
<option value="ebs">EBS root device</option></select></div>
<div class="clear"></div>
<div id="launch-images_filter" class="dataTables_filter"><label><input title="Start typing an image ID to filter by image ID" placeholder="Search images" aria-controls="launch-images" type="text"></label></div>
</div>
<div id="table-wrapper">
<div class="wizard-section-label required-label">Select image</div>
<div id="wizard-img-table-size">
<span id="img-table-count"></span>&nbsp;Showing:<a class="show selected" href="#">5</a>&nbsp;|&nbsp;<a class="show" href="#">10</a>&nbsp;|&nbsp;<a class="show" href="#">20</a>&nbsp;|&nbsp;<a class="show" href="#">all</a>
</div>
<table id="launch-images" class="display dataTable">
<thead><tr role="row"><th aria-label=": activate to sort column ascending" colspan="1" rowspan="1" tabindex="0" class="sorting_asc"></th></tr></thead>
<tbody aria-relevant="all" aria-live="polite" role="alert">
<tr class="odd selected-row"><td class=""><div class="linux image-type">
<div class="image-name">Linux</div>
<div class="image-id-arch">
<span>emi-EDBA3EEA</span><span>64 bit</span>
</div>to test pagination</div></td></tr>
<tr class="even"><td class=""><div class="windows image-type">
<div class="image-name">Windows</div>
<div class="image-id-arch">
<span>emi-3174407C</span><span>64 bit</span>
</div>windows 2003 from the snapshot</div></td></tr>
<tr class="odd"><td class=""><div class="rhel image-type">
<div class="image-name">Red Hat</div>
<div class="image-id-arch">
<span>emi-66644326</span><span>64 bit</span>
</div>bogus redhat image</div></td></tr>
<tr class="even"><td class=""><div class="fedora image-type">
<div class="image-name">Fedora</div>
<div class="image-id-arch">
<span>emi-BBFF4388</span><span>64 bit</span>
</div>fedora image</div></td></tr>
<tr class="odd"><td class=""><div class="linux image-type">
<div class="image-name">Linux</div>
<div class="image-id-arch">
<span>emi-C68B3E29</span><span>64 bit</span>
</div>Linux image based on EBS</div></td></tr>
<tr class="even"><td class=""><div class="linux image-type">
<div class="image-name">Linux</div>
<div class="image-id-arch">
<span>emi-13353F76</span><span>64 bit</span>
</div>bogus image; don't boot</div></td></tr>
<tr class="odd"><td class=""><div class="linux image-type">
<div class="image-name">Linux</div>
<div class="image-id-arch">
<span>eki-3B833B83</span><span>32 bit</span>
</div>tmpuv1axl1ebg/vmlinuz-3.2.0-23-virtual.manifest.xml</div></td></tr>
<tr class="even"><td class=""><div class="precise image-type">
<div class="image-name">Ubuntu Precise(12.04)</div>
<div class="image-id-arch">
<span>emi-F5283739</span><span>32 bit</span>
</div>tmpobxi939ocl/precise-server-cloudimg-amd64-ext3.img.manifest.xml</div></td></tr>
<tr class="odd"><td class=""><div class="linux image-type">
<div class="image-name">Linux</div>
<div class="image-id-arch">
<span>emi-8091437C</span><span>64 bit</span>
</div>more and more images</div></td></tr>
<tr class="even"><td class=""><div class="linux image-type">
<div class="image-name">Linux</div>
<div class="image-id-arch">
<span>emi-DE873CBD</span><span>64 bit</span>
</div>more and more</div></td></tr>
<tr class="odd"><td class=""><div class="debian image-type">
<div class="image-name">Debian</div>
<div class="image-id-arch">
<span>emi-106744C6</span><span>64 bit</span>
</div>bogus debian image</div></td></tr>
<tr class="even"><td class=""><div class="suse image-type">
<div class="image-name">Suse Linux</div>
<div class="image-id-arch">
<span>emi-BE8E44E8</span><span>64 bit</span>
</div>suse image; doesn't boot</div></td></tr>
<tr class="odd"><td class=""><div class="linux image-type">
<div class="image-name">Linux</div>
<div class="image-id-arch">
<span>emi-86E144B3</span><span>64 bit</span>
</div>054316549098/bfebs do not boot test image</div></td></tr>
<tr class="even"><td class=""><div class="linux image-type">
<div class="image-name">Linux</div>
<div class="image-id-arch">
<span>eri-22583D83</span><span>32 bit</span>
</div>tmpioxn8lqglo/initrd.img-3.2.0-23-virtual.manifest.xml</div></td></tr>
<tr class="odd"><td class=""><div class="gentoo image-type">
<div class="image-name">Gentoo</div>
<div class="image-id-arch">
<span>emi-BC0C3FAA</span><span>64 bit</span>
</div>bogus gentoo Linux image</div></td></tr>
<tr class="even"><td class=""><div class="windows image-type">
<div class="image-name">Windows</div>
<div class="image-id-arch">
<span>emi-45DE41E5</span><span>64 bit</span>
</div>does not work</div></td></tr>
<tr class="odd"><td class=""><div class="linux image-type">
<div class="image-name">Linux</div>
<div class="image-id-arch">
<span>emi-20303CBD</span><span>64 bit</span>
</div>to populate more images</div></td></tr>
<tr class="even"><td class=""><div class="linux image-type">
<div class="image-name">Linux</div>
<div class="image-id-arch">
<span>emi-58B13D92</span><span>64 bit</span>
</div>!@#$%^&amp;*() image !@#$%^&amp;*()</div></td></tr>
<tr class="odd"><td class=""><div class="windows image-type">
<div class="image-name">Windows</div>
<div class="image-id-arch">
<span>emi-B00B37EE</span><span>32 bit</span>
</div>windows2003/windowsserver2003r2_ent_x64.kvm.img.manifest.xml</div></td></tr>
</tbody>
</table>
<div style="visibility: hidden;" class="dataTables_processing" id="launch-images_processing">
<img src="images/dots32.gif"> &nbsp; <span>Loading...</span>
</div>
<div class="clear"></div>
<div id="launch-images_paginate" class="dataTables_paginate paging_full_numbers">
<a id="launch-images_first" tabindex="0" class="first paginate_button paginate_button_disabled">First</a><a id="launch-images_previous" tabindex="0" class="previous paginate_button paginate_button_disabled">Previous</a><span><a tabindex="0" class="paginate_active">1</a><a tabindex="0" class="paginate_button">2</a><a tabindex="0" class="paginate_button">3</a><a tabindex="0" class="paginate_button">4</a></span><a id="launch-images_next" tabindex="0" class="next paginate_button">Next</a><a id="launch-images_last" tabindex="0" class="last paginate_button">Last</a>
</div>
</div>
</div>
</div>
</div>
<!-- <div id="launch-wizard-buttons-image" class="launch-wizard-buttons"> <button class="button" id="launch-wizard-buttons-image-next">Next: Select type</button>
</div> -->
</div>
</div>
