<div class="wizard-step">
  <div class="wizardTitle">
    <h3 class="required-label" data-msg="launch_instance_section_header_security">Security</h3>
  </div>
  <div id="launch-wizard-security-main-contents">
    <div class="wizard-section-label" class="required-label" data-msg="launch_instance_security_header">Select security options:</div>
    <div id="launch-wizard-security-keypair"> 
      <div class="form-row clearfix upper-sibling">
        <label for="launch-wizard-security-keypair-selector" data-msg="launch_instance_security_keypair">Key name</label>
        <select data-on-change=":setKeyPair" data-value="keymodel.name" id="launch-wizard-security-keypair-selector" data-tooltip="launch_instance_key_select_tip">
          <option value="" selected disabled>Select key pair</option>
          <option data-selected=":isKeySelected" data-each-keypair="keypairs" data-value="keypair.name" data-title="keypair.name" data-text="keypair.name"></option>
          <option value="none" data-msg="launch_instance_security_keypair_none"></option>
        </select> 
<!-- <div data-ui-stateful_selector="keyselect"></div> -->
    </div>
    <div class="field-error" data-text="launchConfigErrors.key"></div>
    <div class="form-row clearfix lower-sibling">
      <label for="launch-instance-create-keypair-link">Or:</label>
      <a data-on-click=":newKeyPair" href="#" id="launch-instance-create-keypair-link" data-msg="launch_instance_security_create_kp">Create new key pair</a>
    </div>
  </div>
  <div id="launch-wizard-security-sgroup"> <div class="form-row clearfix upper-sibling">
    <label for="launch-wizard-security-sg-selector" data-msg="launch_instance_security_sgroup">Security group</label>
    <select data-on-change=":setSecurityGroup" data-value="configmodel.name" id="launch-wizard-security-sg-selector" data-tooltip="launch_instance_sgroup_select_tip">
<!--    
      <option selected title="default" value="default">default</option>
      <option title="group2" value="group2">group2</option>
-->
      <option value="" selected disabled data-msg="launch_instance_security_header">Select Security Group</option>
      <option data-selected=":isGroupSelected" data-each-sgroup="sgroups" data-title="sgroup.name" data-value="sgroup.name" data-text="sgroup.name"></option>
    </select>
  </div>
  <div class="field-error" data-text="launchConfigErrors.group"></div>
  <div class="form-row clearfix lower-sibling">
    <label for="launch-instance-create-sg-link">Or:</label><a data-on-click=":newSecGroup" href="#" id="launch-instance-create-sg-link" data-msg="launch_instance_security_create_sg">Create new security group</a>
  </div>
  <div id="launch-wizard-security-sg-detail">
    <div class="launcher-sgroup-details-label"><span>Security group </span><span data-text="configmodel.name"></span><span> incoming traffic rules</span></div>

    <div data-each-rule="configmodel.rules" class="launcher-sgroup-rule clearfix">
      <div class="launcher-sgroup-rule-label" data-msg="launch_instance_security_rule">Rule:</div>
        <ul>
<!--
        <li>icmp</li>
        <li>3</li>
        <li>0.0.0.0/0</li>
-->
          <li data-text="rule.ip_protocol"></li>
          <li data-text="rule.to_port"></li>
          <li><span data-each-grant="rule.grants" data-entitytext="grant.cidr_ip"></span><span>&nbsp;</span></li>
        </ul>
      </div>
<!--        
        <div class="launcher-sgroup-rule clearfix">
        <div class="launcher-sgroup-rule-label">Rule:</div>
        <ul>
        <li>tcp</li>
        <li>3389</li>
        <li>0.0.0.0/0</li>
        </ul>
    </div>
    <div class="launcher-sgroup-rule clearfix">
        <div class="launcher-sgroup-rule-label">Rule:</div>
        <ul>
        <li>tcp</li>
        <li>22</li>
        <li>0.0.0.0/0</li>
        </ul>
    </div>
-->
  </div>
</div>
    </div>
    <!--<div id="launch-wizard-buttons-security" class="launch-wizard-buttons"> <button class="button" id="launch-wizard-buttons-security-launch">Launch instance(s)</button><div class="form-row advanced-link-wrapper">
    <label for="launch-wizard-buttons-security-advanced-link">Or:</label><a href="#" id="launch-wizard-buttons-security-advanced-link">Select advanced options</a> -->
    </div>
