<div class="wizard-step">
  <div class="wizardTitle">
    <h3 class="required-label" data-msg="launch_instance_section_header_security"></h3>
  </div>
  <div id="launch-wizard-security-main-contents">
    <div class="wizard-section-label" class="required-label" data-msg="launch_instance_security_header"></div>
    <div id="launch-wizard-security-keypair"> 
      <div class="form-row clearfix upper-sibling">
        <label for="launch-wizard-security-keypair-selector" data-msg="launch_instance_security_keypair"></label>
        <select data-on-change=":setKeyPair" data-value="keymodel.name" id="launch-wizard-security-keypair-selector" data-tooltip="launch_instance_key_select_tip">
          <option value="" selected disabled data-msg="launch_instance_security_select_keypair"></option>
          <option data-selected=":isKeySelected" data-each-keypair="keypairs" data-value="keypair.name" data-title="keypair.name" data-text="keypair.name"></option>
          <option value="none" data-msg="launch_instance_security_keypair_none"></option>
        </select> 
    </div>
    <div class="field-error" data-text="launchConfigErrors.key"></div>
    <div class="form-row clearfix lower-sibling">
      <label for="launch-instance-create-keypair-link" data-msg="or_label"></label>
      <a data-on-click=":newKeyPair" href="#" id="launch-instance-create-keypair-link" data-msg="launch_instance_security_create_kp"></a>
    </div>
  </div>
  <div id="launch-wizard-security-sgroup"> <div class="form-row clearfix upper-sibling">
    <label for="launch-wizard-security-sg-selector" data-msg="launch_instance_security_sgroup"></label>
    <select data-on-change=":setSecurityGroup" data-value="configmodel.name" id="launch-wizard-security-sg-selector" data-tooltip="launch_instance_sgroup_select_tip">
      <option data-selected=":isGroupSelected" data-each-sgroup="sgroups" data-title="sgroup.name" data-value="sgroup.name" data-text="sgroup.name"></option>
    </select>
  </div>
  <div class="field-error" data-text="launchConfigErrors.group"></div>
  <div class="form-row clearfix lower-sibling">
    <label for="launch-instance-create-sg-link" data-msg="or_label"></label><a data-on-click=":newSecGroup" href="#" id="launch-instance-create-sg-link" data-msg="launch_instance_security_create_sg"></a>
  </div>
  <div id="launch-wizard-security-sg-detail">
    <div class="launcher-sgroup-details-label"><span class="wrap-all-content" data-text=":formatSecGroupRulesString"></span></div>

    <div data-each-rule="configmodel.rules" class="launcher-sgroup-rule clearfix">
      <div class="launcher-sgroup-rule-label" data-msg="launch_instance_security_rule"></div>
        <ul>
          <li data-text="rule.ip_protocol"></li>
          <li data-text="rule.to_port"></li>
          <li><span data-each-grant="rule.grants" data-entitytext="grant.cidr_ip"></span><span>&nbsp;</span></li>
        </ul>
      </div>
  </div>
</div>
    </div>
</div>
