<div class="summary-title" data-msg="launch_instance_summary_header"></div>
<div id="summary-image"> 
  <div id="summary-icon" class="image-type summary" data-show="imageModel.image_iconclass">
    <div data-msg="launch_instance_summary_image"></div>
    <span data-text="imageModel.id"></span>
    <div data-msg="launch_instance_summary_platform"></div>
    <span data-text="imageModel.platform"></span>
  </div>
</div>

<div id="summary-type" data-show="typeModel.type_show">
  <div id="summary-type-icon" class="type-type summary">
      <div data-msg="launch_instance_summary_type"></div>
      <span data-text="typeModel.instance_type"></span>
      
      <div data-show="typeModel.type_number" data-msg="launch_instance_summary_instances"></div>
      <span data-text="typeModel.type_number"></span>
      <div data-msg="launch_instance_summary_zone"></div>
      <span data-show="typeModel.zone" data-text="typeModel.zone"></span>
      <div>
       <ul>
          <li data-show="typeModel.type_names_count"><span data-msg="launch_instance_summary_names_added"></span></li>
          <li data-show="typeModel.type_hasTags"><span data-msg="launch_instance_summary_tags_added"></span></li>
        </ul>
      </div>
  </div>  
</div>

<div id="summary-security" data-show="securityModel.security_show">
  <div id="summary-security-icon" class="security-type summary">
    <div data-msg="launch_instance_summary_keypair"></div>
    <span class="wrap-all-content" data-text="keymodel.name"></span>
    <div data-msg="launch_instance_summary_sg"></div>
    <span class="wrap-all-content" data-text="securityModel.name"></span>
  </div>
</div>

<div id="summary-advanced" data-show="advancedModel.advanced_show">
  <div id="summary-advanced-icon" class="advanced-type summary"><span data-msg="launch_instance_summary_advanced"></span>
    <ul>
      <li data-show="advancedModel.user_data"><span data-msg="launch_instance_summary_advanced_userdata"></span></li>
      <li data-show="advancedModel.kernel_id"><span data-msg="launch_instance_summary_advanced_kernel"></span></li>
      <li data-show="advancedModel.ramdisk_id"><span data-msg="launch_instance_summary_advanced_ramdisk"></span></li>
      <li data-show="advancedModel.private_network"><span data-msg="launch_instance_summary_advanced_addressing"></span></li>
      <li data-show="advancedModel.bdmaps_configured"><span data-msg="launch_instance_summary_advanced_storage"></span></li>
    </ul>
  </div>
</div>

