<div class="summary-title" data-msg="launch_instance_summary_header">Summary</div>
<div id="summary-image"> 
  <div id="summary-icon" class="image-type summary" data-show="imageModel.image_iconclass">
    <div data-msg="launch_instance_summary_image">Image:</div>
    <span data-text="imageModel.id">emi-EDBA3EEA</span>
    <div data-msg="launch_instance_summary_platform">Platform:</div>
    <span data-text="imageModel.platform">Linux</span>
  </div>
</div>

<div id="summary-type" data-show="typeModel.type_show">
  <div id="summary-type-icon" class="type-type summary">
      <div data-msg="launch_instance_summary_type">Size:</div>
      <span data-text="typeModel.instance_type"></span>
      
      <div data-msg="launch_instance_summary_instances">Instances:</div>
      <span data-text="typeModel.type_number"></span>
      <div data-msg="launch_instance_summary_zone">Zone:</div>
      <span data-text="typeModel.type_zone"></span>
      <div>
        <input id="summary-hasnames" type="checkbox" data-checked="typeModel.type_hasNames">
        <label for="summary-hasnames">Name(s) added.</label>
      </div>
      <div>
        <input id="summary-hasTags" type="checkbox" data-checked="typeModel.type_hasTags">
        <label for="summary-hasTags">Tag(s) added.</label>
      </div>
     
      <div >Name:</div>
      <span data-text="typeModel.type_names"></span>
  </div>  
</div>

<div id="summary-security" data-show="securityModel.security_show">
  <div id="summary-security-icon" class="security-type summary">
    <div idata-msg="launch_instance_summary_keypair">Key Pair:</div>
    <span data-text="keymodel.name"></span>
    <div data-msg="launch_instance_summary_sg">Security Group:</div>
    <span data-text="securityModel.name"></span>
  </div>
</div>

<div id="summary-advanced" data-show="advancedModel.advanced_show">

</div>

