<div class="wizard-step">
<div class="wizardTitle"><h3 class="required-label" data-msg="launch_instance_section_header_type"></h3></div>
<div id="launch-wizard-type-main-contents">

<!-- ##Number of Instances -->

  <div id="launch-wizard-type-option-num-instance" class="form-row clearfix">
    <label for="launch-instance-type-num-instance" class="required-label" data-msg="launch_instance_type_option_numinstance"></label>
    <input data-on-change=":setMinMax" data-value="typeModel.type_number" class="short-textinput" id="launch-instance-type-num-instance" data-tooltip="launch_instance_type_num_instance_tip" type="text">
    <div class="field-error" data-text="launchConfigErrors.type_number"></div>
  </div>


  <div class="form-row clearfix">
    <label for="launch-instance-names" data-msg="launch_instance_type_instance_names"></label>
    <input data-value="typeModel.instance_names" data-on-change=":setField" id="launch-instance-names" data-tooltip="launch_instance_type_instance_names" type="text" placeholder="separate multiple names with commas">
  </div>
  <div class="field-error" data-text="launchConfigErrors.type_names_count"></div>

  <div id="launch-wizard-type-size">
    <div class="launch-wizard-select form-row">
       <label for="launch-instance-type-size" data-msg="launch_instance_type_size_label"></label>
       <select  data-value="typeModel.instance_type" id="launch-instance-type-size" class="wizard-selection-content">
          <option data-each-type="typeModel.types" data-value="type.name" data-text=":formatType" data-selected=":isSelected < typeModel.instance_type"></option>
       </select>
    </div>
    <div class="field-error" data-text="launchConfigErrors.instance_type"></div>
  </div>

  <div id="launch-wizard-type-options"> <!-- <div class="wizard-section-label">Select launch options:</div> -->
  <!-- ##Zone -->
    <div class="launch-wizard-type-option">
      <div id="launch-wizard-type-option-az" class="form-row clearfix">
        <label for="launch-instance-type-az" data-msg="launch_instance_type_option_az"></label>
        <select data-value="typeModel.zone" id="launch-instance-type-az" data-tooltip="launch_instance_az_select_tip">
          <option value="Any" data-msg="launch_instance_type_option_az_any" selected></option>
          <option data-each-zone="typeModel.zones" data-value="zone.name" data-text="zone.name" data-selected="isZoneSelected"></option>
        </select>
      </div>
    </div>
    <!-- tags -->
    <div class="launch-wizard-type-option">
      <div class="form-row clearfix">
        <label for="instance-wizard-tags" class="wizard-tags-label" data-msg="launch_instance_type_instance_tags"></label>
        <div class="wizard-tags-wrapper" data-ui-edittags="tags" id="instance-wizard-tags"></div>
      </div>
    </div>
    <div class="field-error" data-text="launchConfigErrors.tag_limit_reached"></div>

  </div>

</div>
</div>
