<div class="testperson">
<table>
 <tbody>
  <tr>
   <th>On Click</th>
   <td data-on-click="onClick">click me!</td>
   <td data-on-click=":onClick">click me!</td>
  </tr>
  <tr>
   <th>Function Value</th>
   <td data-text="funcValue"></td>
  </tr>
  <tr>
   <th>Last Name</th>
   <td data-text="lastName"></td>
  </tr>
  <tr>
   <th>Extension</th>
   <td data-text="extension"></td>
  </tr>
  <tr>
   <th>Email Address</th>
   <td data-text="emailAddress"></td>
  </tr>
  <tr>
   <th>Tags</th>
   <td>
    <div data-ui-tags="tags"></div>
   </td>
  </tr>
 </tbody>
</table>
