<div>
	<div class="selected-resources">
            <table>
            <tbody>
                <tr data-each="selected">
                    <td class="wrap-content"><span data-text="option"></span></td>
                    <td><div class="icon_delete tag-control" data-on-click="delete" data-tooltip="tag_icon_delete_tip"></div></td>
                </tr>
                <tr>
                    <td>
                        <select>
                            <option></option>
                        </select>
                    </td>
                    <td><div class="icon_add" data-on-click="add"></div></td>
                </tr>
            </tbody>
            </table>
		</div>
</div>
