Source: eucalyptus
Section: admin
Priority: extra
Maintainer: Chris Grzegorczyk <grze@eucalyptus.com>
DM-Upload-Allowed: yes
Uploaders: Graziano Obertelli <graziano@eucalyptus.com>, Kyo Lee <kyo.lee@eucalyptus.com>
Build-Depends: cdbs, debhelper (>= 7), libaxis2c-dev, librampart0, librampart-dev, default-jdk, ant, libvirt-dev, quilt, 
 libcurl4-gnutls-dev, libssl-dev, ant-optional, zlib1g-dev, pkg-config, 
 libcap-dev,
Standards-Version: 3.8.3
Homepage: http://open.eucalyptus.com/

Package: eucalyptus-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser, openssh-server, openssh-client, sudo, rsync
Recommends: avahi-utils, unzip
Description: Elastic Utility Computing Architecture - Common files
 EUCALYPTUS is an open source service overlay that implements elastic
 computing using existing resources. The goal of EUCALYPTUS is to allow
 sites with existing clusters and server infrastructure to co-host an
 elastic computing service that is interface-compatible with Amazon's EC2.
 .
 This package contains the common parts: you will need to install either
 eucalyptus-cloud, eucalyptus-cc or eucalyptus-nc (or all of them).

Package: eucalyptus-sc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, eucalyptus-common (>= 2.0.0~~), eucalyptus-java-common (>= 2.0.0~)
Suggests: aoetools
Description: Elastic Utility Computing Architecture - Storage controller
 EUCALYPTUS is an open source service overlay that implements elastic
 computing using existing resources. The goal of EUCALYPTUS is to allow
 sites with existing clusters and server infrastructure to co-host an
 elastic computing service that is interface-compatible with Amazon's EC2.
 .
 This package contains the storage controller part of eucalyptus.

Package: eucalyptus-cloud
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, eucalyptus-common (>= 2.0.0~), eucalyptus-java-common (>= 2.0.0~)
Recommends: postfix | mail-transport-agent
Replaces: eucalyptus-cc (<< 1.5.2-1),
 eucalyptus-sc (<< 1.5.2-1),
 eucalyptus-walrus (<< 1.5.2-1),
 eucalyptus-cloud (= 1.5.1-0euca2), 
 eucalyptus-cloud (= 1.5.2-0euca424ga68) 
Description: Elastic Utility Computing Architecture - Cloud controller
 EUCALYPTUS is an open source service overlay that implements elastic
 computing using existing resources. The goal of EUCALYPTUS is to allow
 sites with existing clusters and server infrastructure to co-host an
 elastic computing service that is interface-compatible with Amazon's EC2.
 .
 This package contains the cloud controller part of eucalyptus.

Package: eucalyptus-walrus
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, eucalyptus-common (>= 2.0.0~), eucalyptus-java-common (>= 2.0.0~)
Description: Elastic Utility Computing Architecture - Walrus (S3)
 EUCALYPTUS is an open source service overlay that implements elastic
 computing using existing resources. The goal of EUCALYPTUS is to allow
 sites with existing clusters and server infrastructure to co-host an
 elastic computing service that is interface-compatible with Amazon's EC2.
 .
 This package contains Walrus, the S3 part of eucalyptus.

Package: eucalyptus-java-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, vblade, lvm2, tgt, open-iscsi, libcrypt-openssl-random-perl, libcrypt-openssl-rsa-perl, dmsetup, openssh-server, eucalyptus-common (>= 2.0.0~),
 default-jre-headless | java5-runtime-headless
Replaces: eucalyptus-javadeps, eucalyptus-common, eucalyptus-cloud 
Description: Elastic Utility Computing Architecture - Common Java package
 EUCALYPTUS is an open source service overlay that implements elastic
 computing using existing resources. The goal of EUCALYPTUS is to allow
 sites with existing clusters and server infrastructure to co-host an
 elastic computing service that is interface-compatible with Amazon's EC2.
 .
 This package contains everything the java based packages share.

Package: eucalyptus-cc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, eucalyptus-common (>= 2.0.0~), apache2, libapache2-mod-axis2c, 
  eucalyptus-gl (>= 2.0.0~), avahi-utils, librampart0, bridge-utils, vlan, dhcp3-server
Recommends: vtun, libpam-modules (>= 1.0.1-9ubuntu3)
Conflicts: apache2-mpm-itk
Description: Elastic Utility Computing Architecture - Cluster controller
 EUCALYPTUS is an open source service overlay that implements elastic
 computing using existing resources. The goal of EUCALYPTUS is to allow
 sites with existing clusters and server infrastructure to co-host an
 elastic computing service that is interface-compatible with Amazon's EC2.
 .
 This package contains the cluster controller part of eucalyptus.

Package: eucalyptus-nc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, eucalyptus-common (>= 2.0.0~), 
  apache2-mpm-worker | apache2-mpm-prefork, libapache2-mod-axis2c, 
  eucalyptus-gl (>= 2.0.0~), adduser, avahi-utils, librampart0, parted, libvirt-bin, open-iscsi, libcrypt-openssl-random-perl, libcrypt-openssl-rsa-perl
Replaces: eucalyptus-common
Recommends: vlan, bridge-utils, qemu-kvm, aoetools
Conflicts: apache2-mpm-itk, qemu (<< 0.11.0-0)
Description: Elastic Utility Computing Architecture - Node controller
 EUCALYPTUS is an open source service overlay that implements elastic
 computing using existing resources. The goal of EUCALYPTUS is to allow
 sites with existing clusters and server infrastructure to co-host an
 elastic computing service that is interface-compatible with Amazon's EC2.
 .
 This package contains the node controller part of eucalyptus.

Package: eucalyptus-gl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, eucalyptus-common (>= 2.0.0~)
Description: Elastic Utility Computing Architecture - Logging service
 EUCALYPTUS is an open source service overlay that implements elastic
 computing using existing resources. The goal of EUCALYPTUS is to allow
 sites with existing clusters and server infrastructure to co-host an
 elastic computing service that is interface-compatible with Amazon's EC2.
 .
 This package contains the internal log service of eucalyptus.

