#! /bin/sh
set -e

. /usr/share/debconf/confmodule

if [ "$1" = configure ] && [ -z "$2" ]; then
    db_input high eucalyptus/cluster-name || true
    db_input low eucalyptus/mode || true
    db_go
    db_get eucalyptus/mode
    if [ "$RET" = "MANAGED-NOVLAN" -o "$RET" = "MANAGED" ]
    then
        current_dns="$(grep ^nameserver /etc/resolv.conf | head -n 1 | awk -- '{ print $NF }')"
        db_set eucalyptus/dns "$current_dns"
        db_input medium eucalyptus/subnet || true
        db_input medium eucalyptus/netmask || true
        db_input medium eucalyptus/dns || true
        db_input medium eucalyptus/addrspernet || true
        db_input high eucalyptus/publicips || true
        db_go
    fi
fi

exit 0
