#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_DH_INSTALL_ARGS = --list-missing

EUCALYPTUS=/
JAVA_HOME=/usr/lib/jvm/java-6-openjdk
AXIS2_CLASSPATH=$(shell echo $(CURDIR)/clc/lib/*.jar | tr \  :)

export EUCALYPTUS
export JAVA_HOME
export AXIS2_CLASSPATH
DEB_MAKE_CLEAN_TARGET := clean
DEB_CONFIGURE_EXTRA_FLAGS := --with-axis2c=/usr/lib/axis2 --with-axis2c-services=/usr/lib/axis2/services --prefix=$(EUCALYPTUS)
DEB_DH_SHLIBDEPS_ARGS_ALL = -l/usr/lib/axis2/lib

makebuilddir/eucalyptus-common:: setup-lib

setup-lib:
	@sed -i 's/EUCALYPTUS_HOME//g' tools/client-policy-template.xml
	@sed -i 's/AXIS2C_HOME\/lib/\/usr\/lib\/apache2\/modules/g' tools/httpd.conf
	mkdir -p $(DEB_DESTDIR)/var/run/eucalyptus
	cd clc && ant deps
	touch setup-lib

install/eucalyptus-java-common::
	mkdir -p $(DEB_DESTDIR)/usr/share/eucalyptus

install/eucalyptus-common::
	mkdir -p $(DEB_DESTDIR)/var/run/eucalyptus
	sed -i 's/^FILE=.*$$/FILE="\/etc\/eucalyptus\/eucalyptus.conf"/g' $(DEB_DESTDIR)/usr/sbin/euca_conf
	rm -f $(DEB_DESTDIR)/etc/init.d/eucalyptus

clean::
	rm -rf setup-lib clc/modules/msgs/resources/msgs-binding.xml clc/modules/storage-controller/lib/liblvm2control.so clc/modules/storage-manager/lib/libfsstorage.so clc/modules/www/webapps/root.war node/test_nc node/test config.status clc/modules/storage-controller/include/edu_ucsb_eucalyptus_storage_LVM2Manager.h clc/modules/storage-controller/include/edu_ucsb_eucalyptus_storage_AOEManager.h clc/modules/storage-manager/include/edu_ucsb_eucalyptus_storage_fs_FileSystemStorageManager.h cluster/cc-client-policy.xml node/nc-client-policy.xml util/config.h config.log Makedefs
