[Unit]
Description=Eucalyptus cloud web services
After=eucalyptus-cloud-upgrade.service network.target
Requires=eucalyptus-cloud-upgrade.service
Wants=chronyd.service

[Service]
Type=simple
EnvironmentFile=-/etc/eucalyptus/eucalyptus.conf
ExecStart=/usr/sbin/eucalyptus-cloud $CLUSTER_OPTS $CLOUD_OPTS
KillMode=process
TimeoutStopSec=120
LimitNOFILE=65535
LimitNPROC=infinity
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
ReadWriteDirectories=/etc/lvm
User=eucalyptus
Group=eucalyptus
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_NET_RAW CAP_SETGID CAP_SETUID CAP_SYS_ADMIN CAP_SYS_MODULE CAP_DAC_OVERRIDE
AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_NET_RAW CAP_SETGID CAP_SETUID
SecureBits=keep-caps

[Install]
WantedBy=multi-user.target

# vim: set syntax=dosini:
