[Unit]
Description=Eucalyptus cloud cassandra service

[Service]
Type=forking
ExecStart=/usr/sbin/eucalyptus-cassandra start
ExecStop=/usr/sbin/eucalyptus-cassandra stop
PIDFile=/var/run/eucalyptus/cassandra.pid
KillMode=process
SuccessExitStatus=143
TimeoutStopSec=120
LimitMEMLOCK=infinity
LimitNOFILE=100000
LimitNPROC=32768
LimitAS=infinity
PrivateTmp=true
