[Unit]
Description=Eucalyptus cloud web services
After=eucalyptus-cloud-upgrade.service network.target
Requires=eucalyptus-cloud-upgrade.service
Wants=chronyd.service

[Service]
Type=simple
EnvironmentFile=-/etc/eucalyptus/eucalyptus.conf
ExecStart=/usr/sbin/eucalyptus-cloud $CLOUD_OPTS
KillMode=process
TimeoutStopSec=120
LimitNOFILE=65535
LimitNPROC=infinity
PrivateTmp=true

[Install]
WantedBy=multi-user.target

# vim: set syntax=dosini:
