[Unit]
Description=Eucalyptus network daemon
After=midolman.service network.target

[Service]
Type=simple
PIDFile=/run/eucalyptus/eucanetd.pid
ExecStart=/usr/sbin/eucanetd -s
ExecStartPost=/bin/sh -c 'echo $MAINPID > /run/eucalyptus/eucanetd.pid'
LimitNOFILE=10000
LimitNPROC=100000
PrivateTmp=true
ProtectHome=true
ProtectSystem=true
User=eucalyptus
Group=eucalyptus

[Install]
WantedBy=multi-user.target

# vim: set syntax=dosini:
