[Unit]
Description=Eucalyptus node controller
After=eucalyptus-node-keygen.service libvirtd.service network.target
Wants=chronyd.service eucalyptus-node-keygen.service libvirtd.service

[Service]
Type=simple
ExecStart=/usr/sbin/eucalyptus-node
LimitNOFILE=10000
PrivateTmp=true

[Install]
WantedBy=multi-user.target

# vim: set syntax=dosini:
