<div>
  <div class="ui-keyval-pair" data-each-pair="pairs">
    <div class="ui-keyval-field">
      <input type="text" size="20" name="key" data-value="pair.key"></input>
      <input type="text" size="20" name="value" data-value="pair.value"></input>
    </div>
    <div class="ui-keyval-buttons">
      <a href="#"><div data-on-click=":remove" class="icon_delete"><div></a>
    </div>
  </div> 
  <div class="ui-keyval-pair">
    <div class="ui-keyval-field">
      <input type="text" size="20" name="key"></input>
      <input type="text" size="20" name="value"></input>
    </div>
    <div class="ui-keyval-buttons">
      <a href="#"><div data-on-click=":add" class="icon_approve"></div></a>
    </div>
  </div> 
</div>
