<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><body><div id="images-table">
<div class="dataTables_wrapper" id="images_wrapper">
<div class="table_images_header euca-table-header"><span>Manage Images<div class="help-link"><a href="#">&nbsp;</a></div></span></div>
<div class="table-filter-wrapper clearfix">
<div id="img_ownership-filter" class="euca-table-filter">
<span class="filter-label">Filter by</span><select id="img_ownership-selector"><option value="all">All images</option>
<option value="self">Images owned by me</option></select>
</div>
<div id="img_platform-filter" class="euca-table-filter"><select id="img_platform-selector"><option value="all">All platforms</option>
<option value="linux">Linux</option>
<option value="windows">Windows</option></select></div>
<div id="img_architect-filter" class="euca-table-filter"><select id="img_architect-selector"><option value="all">32 and 64 bit</option>
<option value="i386">32 bit</option>
<option value="x86_64">64 bit</option></select></div>
<div id="img_type-filter" class="euca-table-filter"><select id="img_type-selector"><option value="all">All root devices</option>
<option value="ebs">EBS root device</option>
<option value="instance-store">Instance store root device</option></select></div>
<div class="dataTables_filter" id="images_filter">
<label><input type="text" placeholder="Search images"></label><a class="table-refresh" href="#">Refresh</a>
</div>
</div>
<div class="clear"></div>
<div class="table_images_top euca-table-length clearfix">
<div class="euca-table-add"></div>
<div class="euca-table-extra"></div>
<div class="euca-table-action actionmenu"></div>
<div class="euca-table-size">
<span id="table_images_count">19 images found.</span>&nbsp;Showing:<a href="#" class="show selected">10</a>&nbsp;|&nbsp;<a href="#" class="show">25</a>&nbsp;|&nbsp;<a href="#" class="show">50</a>&nbsp;|&nbsp;<a href="#" class="show">100</a>
</div>
</div>
<div id="images_processing" class="dataTables_processing" style="visibility: hidden; "></div>
<table id="images" class="display">
<thead><tr id="sortheader">
<th class="sorting_asc" rowspan="1" colspan="1">Name</th>
<th class="sorting" rowspan="1" colspan="1">Image ID</th>
<th class="sorting" rowspan="1" colspan="1">Architecture</th>
<th class="sorting" rowspan="1" colspan="1">Description</th>
<th class="sorting" rowspan="1" colspan="1">Root Device</th>
<th class="sorting_disabled centered-cell" rowspan="1" colspan="1" style="width: 80px; ">&nbsp;</th>
</tr></thead>
<tbody>
<tr class="odd">
<td class=" sorting_1"><a href="#" title="bogus_image" class="twist">bogus_image</a></td>
<td>emi-EDBA3EEA</td>
<td>x86_64</td>
<td>to test pagination</td>
<td>ebs</td>
<td class="centered-cell"><a href="#" class="button table-button" onclick="startLaunchWizard({image:'emi-EDBA3EEA'}); $('html body').trigger('click', 'create-new'); return false;">Launch instance</a></td>
</tr>
<tr class="even">
<td class=" sorting_1"><a href="#" title="windows2003_bfebs" class="twist">windows2003_bfebs</a></td>
<td>emi-3174407C</td>
<td>x86_64</td>
<td>windows 2003 from the snapshot</td>
<td>ebs</td>
<td class="centered-cell"><a href="#" class="button table-button" onclick="startLaunchWizard({image:'emi-3174407C'}); $('html body').trigger('click', 'create-new'); return false;">Launch instance</a></td>
</tr>
<tr class="odd">
<td class=" sorting_1"><a href="#" title="bogus_redhat" class="twist">bogus_redhat</a></td>
<td>emi-66644326</td>
<td>x86_64</td>
<td>bogus redhat image</td>
<td>ebs</td>
<td class="centered-cell"><a href="#" class="button table-button" onclick="startLaunchWizard({image:'emi-66644326'}); $('html body').trigger('click', 'create-new'); return false;">Launch instance</a></td>
</tr>
<tr class="even">
<td class=" sorting_1"><a href="#" title="bogus fedora image" class="twist">bogus fedora image</a></td>
<td>emi-BBFF4388</td>
<td>x86_64</td>
<td>fedora image</td>
<td>ebs</td>
<td class="centered-cell"><a href="#" class="button table-button" onclick="startLaunchWizard({image:'emi-BBFF4388'}); $('html body').trigger('click', 'create-new'); return false;">Launch instance</a></td>
</tr>
<tr class="odd">
<td class=" sorting_1"><a href="#" title="BFEBS_Linux" class="twist">BFEBS_Linux</a></td>
<td>emi-C68B3E29</td>
<td>x86_64</td>
<td>Linux image based on EBS</td>
<td>ebs</td>
<td class="centered-cell"><a href="#" class="button table-button" onclick="startLaunchWizard({image:'emi-C68B3E29'}); $('html body').trigger('click', 'create-new'); return false;">Launch instance</a></td>
</tr>
<tr class="even">
<td class=" sorting_1"><a href="#" title="bogus_image5" class="twist">bogus_image5</a></td>
<td>emi-13353F76</td>
<td>x86_64</td>
<td>bogus image; don't boot</td>
<td>ebs</td>
<td class="centered-cell"><a href="#" class="button table-button" onclick="startLaunchWizard({image:'emi-13353F76'}); $('html body').trigger('click', 'create-new'); return false;">Launch instance</a></td>
</tr>
<tr class="odd">
<td class=" sorting_1"><a href="#" title="eki-3B833B83" class="twist">eki-3B833B83</a></td>
<td>eki-3B833B83</td>
<td>i386</td>
<td></td>
<td>instance-store</td>
<td class="centered-cell"><a href="#" class="button table-button" onclick="startLaunchWizard({image:'eki-3B833B83'}); $('html body').trigger('click', 'create-new'); return false;">Launch instance</a></td>
</tr>
<tr class="even">
<td class=" sorting_1"><a href="#" title="emi-F5283739" class="twist">emi-F5283739</a></td>
<td>emi-F5283739</td>
<td>i386</td>
<td></td>
<td>instance-store</td>
<td class="centered-cell"><a href="#" class="button table-button" onclick="startLaunchWizard({image:'emi-F5283739'}); $('html body').trigger('click', 'create-new'); return false;">Launch instance</a></td>
</tr>
<tr class="odd">
<td class=" sorting_1"><a href="#" title="bogus_image4" class="twist">bogus_image4</a></td>
<td>emi-8091437C</td>
<td>x86_64</td>
<td>more and more images</td>
<td>ebs</td>
<td class="centered-cell"><a href="#" class="button table-button" onclick="startLaunchWizard({image:'emi-8091437C'}); $('html body').trigger('click', 'create-new'); return false;">Launch instance</a></td>
</tr>
<tr class="even">
<td class=" sorting_1"><a href="#" title="bogus_image3" class="twist">bogus_image3</a></td>
<td>emi-DE873CBD</td>
<td>x86_64</td>
<td>more and more</td>
<td>ebs</td>
<td class="centered-cell"><a href="#" class="button table-button" onclick="startLaunchWizard({image:'emi-DE873CBD'}); $('html body').trigger('click', 'create-new'); return false;">Launch instance</a></td>
</tr>
<tr class="odd">
<td class=" sorting_1"><a href="#" title="bogus_debian" class="twist">bogus_debian</a></td>
<td>emi-106744C6</td>
<td>x86_64</td>
<td>bogus debian image</td>
<td>ebs</td>
<td class="centered-cell"><a href="#" class="button table-button" onclick="startLaunchWizard({image:'emi-106744C6'}); $('html body').trigger('click', 'create-new'); return false;">Launch instance</a></td>
</tr>
<tr class="even">
<td class=" sorting_1"><a href="#" title="bogus_suse image" class="twist">bogus_suse image</a></td>
<td>emi-BE8E44E8</td>
<td>x86_64</td>
<td>suse image; doesn't boot</td>
<td>ebs</td>
<td class="centered-cell"><a href="#" class="button table-button" onclick="startLaunchWizard({image:'emi-BE8E44E8'}); $('html body').trigger('click', 'create-new'); return false;">Launch instance</a></td>
</tr>
<tr class="odd">
<td class=" sorting_1"><a href="#" title="bfebs do not boot test image" class="twist">bfebs do not boot test image</a></td>
<td>emi-86E144B3</td>
<td>x86_64</td>
<td></td>
<td>ebs</td>
<td class="centered-cell"><a href="#" class="button table-button" onclick="startLaunchWizard({image:'emi-86E144B3'}); $('html body').trigger('click', 'create-new'); return false;">Launch instance</a></td>
</tr>
<tr class="even">
<td class=" sorting_1"><a href="#" title="eri-22583D83" class="twist">eri-22583D83</a></td>
<td>eri-22583D83</td>
<td>i386</td>
<td></td>
<td>instance-store</td>
<td class="centered-cell"><a href="#" class="button table-button" onclick="startLaunchWizard({image:'eri-22583D83'}); $('html body').trigger('click', 'create-new'); return false;">Launch instance</a></td>
</tr>
<tr class="odd">
<td class=" sorting_1"><a href="#" title="bogus_gentoo" class="twist">bogus_gentoo</a></td>
<td>emi-BC0C3FAA</td>
<td>x86_64</td>
<td>bogus gentoo Linux image</td>
<td>ebs</td>
<td class="centered-cell"><a href="#" class="button table-button" onclick="startLaunchWizard({image:'emi-BC0C3FAA'}); $('html body').trigger('click', 'create-new'); return false;">Launch instance</a></td>
</tr>
<tr class="even">
<td class=" sorting_1"><a href="#" title="test" class="twist">test</a></td>
<td>emi-45DE41E5</td>
<td>x86_64</td>
<td>does not work</td>
<td>ebs</td>
<td class="centered-cell"><a href="#" class="button table-button" onclick="startLaunchWizard({image:'emi-45DE41E5'}); $('html body').trigger('click', 'create-new'); return false;">Launch instance</a></td>
</tr>
<tr class="odd">
<td class=" sorting_1"><a href="#" title="bogus_image2" class="twist">bogus_image2</a></td>
<td>emi-20303CBD</td>
<td>x86_64</td>
<td>to populate more images</td>
<td>ebs</td>
<td class="centered-cell"><a href="#" class="button table-button" onclick="startLaunchWizard({image:'emi-20303CBD'}); $('html body').trigger('click', 'create-new'); return false;">Launch instance</a></td>
</tr>
<tr class="even">
<td class=" sorting_1"><a href="#" title="image test" class="twist">image test</a></td>
<td>emi-58B13D92</td>
<td>x86_64</td>
<td>!@#$%^&amp;*() image !@#$%^&amp;*()</td>
<td>ebs</td>
<td class="centered-cell"><a href="#" class="button table-button" onclick="startLaunchWizard({image:'emi-58B13D92'}); $('html body').trigger('click', 'create-new'); return false;">Launch instance</a></td>
</tr>
<tr class="odd">
<td class=" sorting_1"><a href="#" title="emi-B00B37EE" class="twist">emi-B00B37EE</a></td>
<td>emi-B00B37EE</td>
<td>i386</td>
<td></td>
<td>instance-store</td>
<td class="centered-cell"><a href="#" class="button table-button" onclick="startLaunchWizard({image:'emi-B00B37EE'}); $('html body').trigger('click', 'create-new'); return false;">Launch instance</a></td>
</tr>
</tbody>
</table>
<div class="legend-pagination-wrapper clearfix"><div class="dataTables_paginate paging_full_numbers" id="images_paginate">
<span class="first paginate_button paginate_button_disabled" id="images_first">First</span><span class="previous paginate_button paginate_button_disabled" id="images_previous">Previous</span><span><span class="paginate_active">1</span><span class="paginate_button">2</span></span><span class="next paginate_button" id="images_next">Next</span><span class="last paginate_button" id="images_last">Last</span>
</div></div>
<div class="clear"></div>
</div>
</div></body></html>
