<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><body><div id="sgroups-table">
<div class="dataTables_wrapper" id="sgroups_wrapper">
<div class="table_sgroups_header euca-table-header"><span>Manage security groups<div class="help-link"><a href="#">&nbsp;</a></div></span></div>
<div class="table-filter-wrapper clearfix"><div class="dataTables_filter" id="sgroups_filter">
<label><input type="text" placeholder="Search security groups"></label><a class="table-refresh" href="#">Refresh</a>
</div></div>
<div class="clear"></div>
<div class="table_sgroups_top euca-table-length clearfix">
<div class="euca-table-add"><a id="table-sgroups-new" class="button" href="#">Create new security group</a></div>
<div class="euca-table-extra"></div>
<div class="euca-table-action actionmenu"><a id="more-actions-sgroups" class="button inactive-menu" href="#">More actions</a></div>
<div class="euca-table-size">
<span id="table_sgroups_count">2 security groups found.</span>&nbsp;Showing:<a href="#" class="show selected">10</a>&nbsp;|&nbsp;<a href="#" class="show">25</a>&nbsp;|&nbsp;<a href="#" class="show">50</a>&nbsp;|&nbsp;<a href="#" class="show">100</a>
</div>
</div>
<div id="sgroups_processing" class="dataTables_processing" style="visibility: hidden; "></div>
<table id="sgroups" class="display">
<thead><tr id="sortheader">
<th class="sorting_disabled checkbox-cell" rowspan="1" colspan="1">
<input type="checkbox" id="sgroups-check-all">
</th>
<th class="sorting" rowspan="1" colspan="1">Name</th>
<th class="sorting" rowspan="1" colspan="1">Description</th>
</tr></thead>
<tbody>
<tr class="odd">
<td class="checkbox-cell sorting_1"><input type="checkbox"></td>
<td><a href="#" title="group2" class="twist">group2</a></td>
<td><span title="test">test</span></td>
</tr>
<tr class="even">
<td class="checkbox-cell sorting_1"><input type="checkbox"></td>
<td><a href="#" title="default" class="twist">default</a></td>
<td><span title="default group">default group</span></td>
</tr>
</tbody>
</table>
<div class="legend-pagination-wrapper clearfix"><div class="dataTables_paginate paging_full_numbers" id="sgroups_paginate">
<span class="first paginate_button paginate_button_disabled" id="sgroups_first">First</span><span class="previous paginate_button paginate_button_disabled" id="sgroups_previous">Previous</span><span><span class="paginate_active">1</span></span><span class="next paginate_button paginate_button_disabled" id="sgroups_next">Next</span><span class="last paginate_button paginate_button_disabled" id="sgroups_last">Last</span>
</div></div>
<div class="clear"></div>
</div>
</div></body></html>
