<div class="wizard-step">
    <div class="wizardTitle">
        <h3>Policies</h3>
        <div class="launch-wizard-type-main-contents">
            <div class="launch-wizard-type-option">
                <div class="form-subrow">
                    <div class="form-row clearfix">
                        <input type="checkbox">Oldest Instance</input> <span class="subrow-buttons"><button>Up</button><button>Down</button></span>
                    </div>
                    <div class="form-row clearfix">
                        <input type="checkbox">Newest Instance</input> <span class="subrow-buttons"><button>Up</button><button>Down</button></span>
                    </div>
                    <div class="form-row clearfix">
                        <input type="checkbox">Oldest Launch Configuration</input> <span class="subrow-buttons"><button>Up</button><button>Down</button></span>
                    </div>
                    <div class="form-row clearfix">
                        <input type="checkbox">Closest To Complete Running Hour</input> <span class="subrow-buttons"><button>Up</button><button>Down</button></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
