<div class="wizard-step">
    <div class="wizardTitle">
        <h3 data-msg="create_scaling_group_section_header_policies">Policies</h3>
        <div class="launch-wizard-type-main-contents">
            <div class="launch-wizard-type-option">
                <div class="form-subrow" style="height:180px">
                    <div data-ui-sortable="">
                        <div class="form-row clearfix">
                            <span data-ui-toggle="toggletest.value"></span><span>Oldest Instance</span>
                        </div>
                        <div class="form-row clearfix">
                            <span data-ui-toggle="toggletest.value"></span><span>Newest Instance</span>
                        </div>
                        <div class="form-row clearfix">
                            <span data-ui-toggle="toggletest.value"></span><span>Oldest Launch Configuration</span>
                        </div>
                        <div class="form-row clearfix">
                            <span data-ui-toggle="toggletest.value"></span><span>Closest To Complete Running Hour</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wizard-section-label" data-msg="">Scaling Policies</div>
            <div class="form-row clearfix">
                <label for="cooldownPeriod" data-msg="">Default Cooldown Period (secs)</label>
                <input class="smallNumber" type="cooldownPeriod" id="cooldownPeriod" value="1"></input>                
            </div>
            <div class="form-row clearfix">
                <div>
                    <span class="form-row-section">
                        <label class="centerLabel required-label" for="scalingPolicyName" data-msg="">NAME</label>
                        <input name="key" id="scalingPolicyName" type="text" placeholder="scaling policy name"></input>
                    </span>
                    <span class="form-row-section">
                        <label for="scalingPolicyAmount" class="required-label" data-msg="">AMOUNT</label>
                        <input name="scalingPolicyAmount" class="smallNumber" id="scalingPolicyAmount" type="number" value="1" placeholder="value"></input>
                    </span>
                    <span class="form-row-section">
                        <label for="scalingPolicyMeasure" class="required-label" data-msg="">MEASURE</label>
                        <input name="scalingPolicyMeasure" class="smallNumber" id="scalingPolicyMeasure" type="number" value="%" placeholder="%"></input>
                    </span>
                    <span class="form-row-section">
                        <label for="triggerMetric" class="required-label" data-msg="">TRIGGER METRIC</label>
                        <select name="triggerMetric" id="triggerMetric" class="smallNumber">
                            <option>abc</option>
                            <option>def</option>
                            <option>ghi</option>
                        </select>
                    </span>
                    <span class="form-row-section">
                        <label for="triggerThreshold" class="required-label" data-msg="">TRIGGER THRESHOLD</label>
                        <input name="triggerThreshold" id="triggerThreshold" class="smallNumber"
                               type="number" value="1" placeholder="%"></input>
                    </span>
                    <span class="form-row-section">
                        <label for="triggerThreshold" class="required-label">&nbsp;</label>
                        <button>+</button>
                        <button>O</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
