<div class="wizard-step">
    <div class="wizardTitle">
        <h3 data-msg="create_scaling_group_section_header_policies">Policies</h3>
        <div class="launch-wizard-type-main-contents">
            <div class="wizard-section-label">Scaling Policies</div>
            <div class="form-row clearfix">
                <label for="cooldownPeriod">Default Cooldown Period (secs)</label>
                <input data-value="scalingGroup.default_cooldown" class="smallNumber" type="cooldownPeriod" id="cooldownPeriod" value="1"></input>
            </div>
            <div class="form-row clearfix">
                <div data-ui-editpolicies="policies"></div>
                <div class="field-error" data-show="policies.error.adjustment_type" data-text="policies.error.adjustment_type"></div>
                <div class="field-error" data-show="policies.error.name" data-text="policies.error.name"></div>
                <div class="field-error" data-show="policies.error.scaling_adjustment" data-text="policies.error.scaling_adjustment"></div>
                <div class="field-error" data-show="policies.error.as_name" data-text="policies.error.as_name"></div>
            </div>
        </div>
    </div>
</div>
