<!-- Wizard (left side) -->
<div id="scaling-table" class="wizard-wrapper">
    <div id="new-scaling-group" class="launcher-wrapper">
        <div class="launch-wizard-pointer"></div>
        
        <div class="box-header" id="scaling-wizard-header" data-msg="create_scaling_group_header"><div class="help-link"><a href="#">?</a></div></div>
        
        <div id="wizard" class="wizard-steps clearfix">
            <div id="wizardAbove" class="">Above</div>
            <div id="wizardContent"></div>
            <div id="wizardNav" class="wizardNav">
                <div id="problems" class="problems">
                    <span id="problem0" class="error-msg wizardProblem">You can't finish from step 3!</span>
                    <span id="problem1" class="error-msg wizardProblem">No, no, no!</span>
                </div>
                <div id="wizardNavButtons" class="wizardNavButtons">
                    <!--<button id="prevButton" class="button">Prev</button>-->
                    <button id="nextButton" class="button">Next</button>
                    <button id="finishButton" class="button" disabled="disabled">Finish</button>
                </div>
            </div>
            <div id="wizardBelow">Below</div>
        </div>
        <!-- END .wizard-steps -->
    </div>
</div>
<!-- END Wizard -->

<!-- Wizard Summary (right side) -->
<div class="wizard-summary-wrapper">
    <div id="wizardSummary" class="wizard-summary">
   </div>  
        <div class="wizard-cancel" id="launch-wizard-cancel">
          <span>[<a href="#scaling" data-msg="create_scaling_group_cancel"></a>]</span>
        </div> 
</div>
<!-- END Wizard Summary -->
    <div id="scaling-wizard-help">
      <div class="help-content">
      </div>
      <div class="help-revert-button">
        <a href="#"></a>
      </div>
    </div> 
