.acct-root {
	width: 100%;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

.acct-report-bar {
	width: 100%;
	padding: 5px 0px 5px 0px;
}

.acct-Button-Action {
	padding: 3px;
}

.acct-Button-Action-over {
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-color: #999999 #CCCCCC #CCCCCC #999999;
	padding: 2px;
}

.acct-Button-Action-down {
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #D4D4D4 none repeat scroll 0 0; 
	padding :   3px;
}

.acct-Button-Report {
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC #999999 #999999 #CCCCCC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #F6F6F6 none repeat scroll 0 0;
	padding: 3px 5px 3px 5px;
}

.acct-Button-Report-over {
	border-color: #999999 #CCCCCC #CCCCCC #999999;
}

.acct-Button-Report-down {
	background: #D4D4D4 none repeat scroll 0 0
}


.acct-StackPanelHeader {
	padding-left: 7px;
	font-weight: bold;
	font-size: 1.4em;
}

.gwt-DecoratedStackPanel {
	border-bottom: 1px solid #bbbbbb;
}

.gwt-DecoratedStackPanel .gwt-StackPanelContent {
	border: 1px solid #bbbbbb;
	border-bottom: 0px;
	background: white;
	padding: 2px 2px 10px 5px;
}

.gwt-DecoratedStackPanel .gwt-StackPanelItem {
	cursor: pointer;
	cursor: hand;
}

.gwt-DecoratedStackPanel .stackItemTopLeft,.gwt-DecoratedStackPanel .stackItemTopRight
	{
	height: 6px;
	width: 6px;
	zoom: 1;
}

.gwt-DecoratedStackPanel .stackItemTopLeft {
	border-left: 1px solid #bbbbbb;
	background: #d3def6 url(images/corner.png) no-repeat 0px -49px;
	-background: #d3def6 url(images/corner_ie6.png) no-repeat 0px -49px;
}

.gwt-DecoratedStackPanel .stackItemTopRight {
	border-right: 1px solid #bbbbbb;
	background: #d3def6 url(images/corner.png) no-repeat -6px -49px;
	-background: #d3def6 url(images/corner_ie6.png) no-repeat -6px -49px;
}

.gwt-DecoratedStackPanel .stackItemTopLeftInner,.gwt-DecoratedStackPanel .stackItemTopRightInner
	{
	width: 1px;
	height: 1px;
}

.gwt-DecoratedStackPanel .stackItemTopCenter {
	background: url(images/hborder.png) 0px -21px repeat-x;
}

.gwt-DecoratedStackPanel .stackItemMiddleLeft {
	background: #d3def6 url(images/hborder.png) repeat-x 0px -989px;
	border-left: 1px solid #bbbbbb;
}

.gwt-DecoratedStackPanel .stackItemMiddleLeftInner,.gwt-DecoratedStackPanel .stackItemMiddleRightInner
	{
	width: 1px;
	height: 1px;
}

.gwt-DecoratedStackPanel .stackItemMiddleRight {
	background: #d3def6 url(images/hborder.png) repeat-x 0px -989px;
	border-right: 1px solid #bbbbbb;
}

.gwt-DecoratedStackPanel .stackItemMiddleCenter {
	font-weight: bold;
	font-size: 1.3em;
	background: #d3def6 url(images/hborder.png) repeat-x 0px -989px;
}

.gwt-DecoratedStackPanel .gwt-StackPanelItem-first .stackItemTopRight,.gwt-DecoratedStackPanel .gwt-StackPanelItem-first .stackItemTopLeft
	{
	border: 0px;
	background-color: white;
}

.gwt-DecoratedStackPanel .gwt-StackPanelItem-below-selected .stackItemTopLeft,.gwt-DecoratedStackPanel .gwt-StackPanelItem-below-selected .stackItemTopRight
	{
	background-color: white;
}

html>body .gwt-DecoratedStackPanel {
	
}

* html .gwt-DecoratedStackPanel .stackItemTopLeftInner,* html .gwt-DecoratedStackPanel .stackItemTopRightInner
{
	width: 6px;
	height: 6px;
	overflow: hidden;
}

.acct-AccountingPanel-anchor {
	color: #555555;
	font-family: serif;
}

.acct-AccountingPanel-action {
	width: 100%;
	font-size: smaller;
	background: #FFFFCC;
	text-align: center;
	vertical-align: middle;
	padding: 0px 1px 0px 5px;
	height: 32px;
}

.acct-AccountingPanel-filter {
	width: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC #999999 #999999 #CCCCCC;
	padding-top: 3px;
	padding-bottom: 3px;
}

.acct-AccountingPanel-scroll {
	width: 100%;
	height: 573px;
}

.acct-AccountingPanel {
	border: solid;
	border-width: 2px;
	border-color: #FFCC33;
	width: 100%;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.acct-Frame {
	width: 100%;
	height: 800px;
}

.acct-ReportDisplay {
	width: 100%;
	height: 800px;
	border: 2px solid #007B00;
}
.acct-ReportList {
	width: 100%;
	height: 800px;
}
