.acct-root {
	width: 100%;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

.acct-report-bar {
  width: 100%;
  padding: 0px;
  background-color: transparent;
}
.acct-Report-Set {
  width: 100%;
  padding: 0px;
  padding-left: 7px;
  background-color: transparent;
}

.acct-Button-Action {
	padding: 3px;
	margin: 1px;
	width: 22px;
}

.acct-Button-Action-over {
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-color: #999999 #CCCCCC #CCCCCC #999999;
	padding: 3px;
	margin: 0px;
}

.acct-Button-Action-down {
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #D4D4D4 none repeat scroll 0 0; 
	padding : 3px;
	margin: 0px;
}

.acct-Button-Report-Active {
	border-style: solid;
  border-width: 0px 1px 0px 0px;
  border-color: #00FF00 #FFFF66 #FFFF66 #FFFF66;
  background: #FFFFFF;
  padding: 3px 2px 3px 3px;
  margin: 0px;
  width: 100%;
}

.acct-Button-Report-Active-over {}
.acct-Button-Report-Active-down {}


.acct-Button-Report {
	border-style: dotted;
	border-width: 0px 1px 0px 1px;
	border-color: #000000 #ECBF3C #000000 #ECBF3C;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background: #FFFFFF none repeat scroll 0 0;
	padding: 3px 15px 3px 15px;
	margin: 0px;
	width: 100%;
}

.acct-Button-Report-over {
	border-style: solid;
  background: #FFCC33 none repeat scroll 0 0;
	border-color: #66FF66;
	bordaer-width: 3px;
}

.acct-Button-Report-down {
	border-style: solid;
	background: #ECBF3C none repeat scroll 0 0;
}


.acct-StackPanelHeader {
	padding-left: 7px;
	font-weight: bold;
	font-size: 1.4em;
}

.gwt-DecoratedStackPanel {
  border: solid;
  border-width: 2px 0px 2px 1px;
  border-color: #FFCC33;
  width: 200px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.gwt-DecoratedStackPanel .gwt-StackPanelContent {
  border-bottom: 1px dashed #FFCC33;
  border-right: 1px dashed #FFCC33;
  background: #FFCC33;
	padding: 0;
}

.gwt-DecoratedStackPanel .gwt-StackPanelItem {
	cursor: pointer;
	cursor: hand;
}

.gwt-DecoratedStackPanel .stackItemTopLeft,.gwt-DecoratedStackPanel .stackItemTopRight, .gwt-DecoratedStackPanel .stackItemTopCenter
  {
  background: #FFCC33;
  height: 0px;
  width: 0px;
  zoom: 1;
}
.gwt-DecoratedStackPanel .stackPanelItem-Below-Selected .stackItemTopLeft,.gwt-DecoratedStackPanel  .stackPanelItem-Below-Selected .stackItemTopRight, .gwt-DecoratedStackPanel .stackPanelItem-Below-Selected .stackItemTopCenter
  {
  background: #FFCC33;
  height: 0px;
  width: 0px;
  zoom: 1;
}
.gwt-DecoratedStackPanel .stackPanelItemFirst .stackItemTopLeft,.gwt-DecoratedStackPanel .stackItemTopRight, .gwt-DecoratedStackPanel .stackItemTopCenter
  {
  background: #FFCC33;
  height: 0px;
  width: 0px;
  zoom: 1;
}

.gwt-DecoratedStackPanel .stackItemTopLeft {
	border-left: 6px solid #FFCC33;
	background: #FFCC33;
	-background: #FFCC33;
}

.gwt-DecoratedStackPanel .stackItemTopRight {
	border-right: 6px solid #FFCC33;
	background: #FFCC33;
	-background: #FFCC33;
}

.gwt-DecoratedStackPanel .stackItemTopLeftInner,.gwt-DecoratedStackPanel .stackItemTopRightInner
	{
	width: 1px;
	height: 0px;
}

.gwt-DecoratedStackPanel .stackItemTopCenter {
	background: #FFCC33 url(images/corner.png) no-repeat;
}

.gwt-DecoratedStackPanel .stackItemMiddleLeft {
	background: #FFCC33;
	border-left: 2px solid #FFCC33;
}

.gwt-DecoratedStackPanel .stackItemMiddleLeftInner,.gwt-DecoratedStackPanel .stackItemMiddleRightInner
	{
	width: 1px;
	height: 0px;
}

.gwt-DecoratedStackPanel .stackItemMiddleRight {
  background: #FFCC33;
  border-right: 2px solid #FFCC33;
}

.gwt-DecoratedStackPanel .stackItemMiddleCenter {
	font-weight: bold;
	font-size: 1.3em;
	background: #FFCC33 url(images/hborder.png) repeat-x 0px -989px;
	padding: 2px;
	padding-left: 5px;
	width: 100%;
}

.gwt-DecoratedStackPanel .gwt-StackPanelItem-first .stackItemTopRight,.gwt-DecoratedStackPanel .gwt-StackPanelItem-first .stackItemTopLeft
	{
	border: 0px;
  background: #FFFF66;
}

.gwt-DecoratedStackPanel .gwt-StackPanelItem-below-selected .stackItemTopLeft,.gwt-DecoratedStackPanel .gwt-StackPanelItem-below-selected .stackItemTopRight
	{
  background: #FFFF66;
}

html>body .gwt-DecoratedStackPanel {
	
}

* html .gwt-DecoratedStackPanel .stackItemTopLeftInner,* html .gwt-DecoratedStackPanel .stackItemTopRightInner
{
	width: 6px;
	height: 6px;
	overflow: hidden;
}

.acct-AccountingPanel-anchor {
	color: #555555;
	font-family: serif;
}

.acct-AccountingPanel-action {
	width: 100%;
	font-size: smaller;
	background: #FFFF66;
	text-align: center;
	vertical-align: middle;
	padding: 0px 1px 0px 5px;
	height: 32px;
}

.acct-AccountingPanel-filter {
	width: 100%;
	border-style: solid;
	border-width: 0px;
	border-color: #CCCCCC #999999 #999999 #CCCCCC;
	padding-top: 3px;
	padding-bottom: 3px;
}

.acct-AccountingPanel-scroll {
	width: 100%;
	height: 573px;
}

.acct-AccountingPanel {
	border: solid;
	border-width: 0px;
	border-color: #FFCC33;
	width: 100%;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.acct-Frame {
	width: 100%;
	height: 800px;
	border: 0px;
}

.acct-ReportDisplay {
	width: 100%;
	height: 100%;
}

.acct-ReportList {
	width: 100%;
	height: 100%;
}
.acct-ReportPageNum{
  width: 25px;
}
.acct-ReportPage {
  margin-top: 3px; 
}

.gwt-DatePicker {
  border: 1px solid #A2BBDD;
  cursor: default;
}
.gwt-DatePicker td,
.datePickerMonthSelector td:focus {
  outline: none
}
.datePickerMonthSelector td:focus {
  outline: none
}
.datePickerDays {
  width: 100%;
  background: white;
}
.datePickerDay,
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
  font-size: 75%;
  text-align: center;
  padding: 4px;
  outline: none;
}
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
  background: #C3D9FF;
  padding: 0px 4px 2px;
  cursor: default;
}
.datePickerDay {
  padding: 4px;
  cursor: hand;
  cursor: pointer;
}
.datePickerDayIsToday {
  border: 1px solid black;
  padding: 3px;
}
.datePickerDayIsWeekend {
  background: #EEEEEE;
}
.datePickerDayIsFiller {
  color: #888888;
}
.datePickerDayIsValue {
  background: #aaccee;
}
.datePickerDayIsDisabled {
  color: #AAAAAA;
  font-style: italic;
}
.datePickerDayIsHighlighted {
  background: #F0E68C;
}
.datePickerDayIsValueAndHighlighted {
  background: #bbddd9;
}
.datePickerMonthSelector {
  background: #C3D9FF;
  width: 100%;
}
.datePickerPreviousButton,
.datePickerNextButton {
  font-size: 120%;
  line-height: 1em;
  color: blue;
  cursor: hand;
  cursor: pointer;
  padding: 0px 4px;
}
td.datePickerMonth {
  text-align: center;
  vertical-align: center;
  white-space: nowrap;
  font-size: 70%;
  font-weight: bold;
  color: blue;
}
.gwt-DateBox input {
  width: 8em;
}
.dateBoxFormatError {
  background: #ffcccc;
}
.dateBoxPopup {
}

.gwt-DialogBox .Caption {
  background: #e3e8f3 url(images/hborder.png) repeat-x 0px -2003px;
  padding: 4px 4px 4px 8px;
  cursor: default;
  border-bottom: 1px solid #bbbbbb;
  border-top: 5px solid #d0e4f6;
}
.gwt-DialogBox .dialogContent {
}
.gwt-DialogBox .dialogMiddleCenter {
  padding: 3px;
  background: white;
}
.gwt-DialogBox .dialogBottomCenter {
  background: url(images/hborder.png) repeat-x 0px -4px;
  -background: url(images/hborder_ie6.png) repeat-x 0px -4px;
}
.gwt-DialogBox .dialogMiddleLeft {
  background: url(images/vborder.png) repeat-y;
}
.gwt-DialogBox .dialogMiddleRight {
  background: url(images/vborder.png) repeat-y -4px 0px;
  -background: url(images/vborder_ie6.png) repeat-y -4px 0px;
}
.gwt-DialogBox .dialogTopLeftInner {
  width: 5px;
  zoom: 1;
}
.gwt-DialogBox .dialogTopRightInner {
  width: 8px;
  zoom: 1;
}
.gwt-DialogBox .dialogBottomLeftInner {
  width: 5px;
  height: 8px;
  zoom: 1;
}
.gwt-DialogBox .dialogBottomRightInner {
  width: 5px;
  height: 8px;
  zoom: 1;
}
.gwt-DialogBox .dialogTopLeft {
  background: url(images/corner.png) no-repeat -13px 0px;
  -background: url(images/corner_ie6.png) no-repeat -13px 0px;
}
.gwt-DialogBox .dialogTopRight {
  background: url(images/corner.png) no-repeat -18px 0px;
  -background: url(images/corner_ie6.png) no-repeat -18px 0px;
}
.gwt-DialogBox .dialogBottomLeft {
  background: url(images/corner.png) no-repeat 0px -15px;
  -background: url(images/corner_ie6.png) no-repeat 0px -15px;
}
.gwt-DialogBox .dialogBottomRight {
  background: url(images/corner.png) no-repeat -5px -15px;
  -background: url(images/corner_ie6.png) no-repeat -5px -15px;
}
html>body .gwt-DialogBox {
}
* html .gwt-DialogBox .dialogTopLeftInner {
  width: 5px;
  overflow: hidden;
}
* html .gwt-DialogBox .dialogTopRightInner {
  width: 8px;
  overflow: hidden;
}
* html .gwt-DialogBox .dialogBottomLeftInner {
  width: 5px;
  height: 8px;
  overflow: hidden;
}
* html .gwt-DialogBox .dialogBottomRightInner {
  width: 8px;
  height: 8px;
  overflow: hidden;
}